/*CSS RESET*/
html, body/*, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video*/ {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/*Font*/
*{
	font-family: 'Arimo', sans-serif;
	color:#808080;
}

/*nav bar*/
.nav_bar{
	background-color:#2E3094;
	width:100%;
}
.nav_bar td:nth-child(2), td:nth-child(3), 
td:nth-child(4), td:nth-child(5), 
td:nth-child(6), td:nth-child(7){
	border-bottom:1px solid #FF6A00;
}
.nav_bar img{
	width:20%;
}
.nav_bar p{
	text-align:center;
	font-size:1.5em;
	margin:1em;
}
.nav_bar a {
	display:block;
	color:white;
	text-decoration:none;	
	text-transform: uppercase;
	font-weight:bold;
}
.nav_bar a:hover{
	color:#FF6A00;
}
.nav_bar td{
	display:block;
}

/*footer
.footer{
	background-color:#1F1F1F;
	width:100%;
	height:200px;
	position:relative;
}*/
.footer_accent{
	position:absolute;
	background-color:#333333;
	width:100%;
	height:50px;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:150px; /* Height of the footer element */
}
.footer {
	background:#1F1F1F;
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
}
/***********************************BEGIN HOMEPAGE**************************/

/*header image*/
#header img{
	width:100%;
}

/*seperator*/
#seperator{
	width:100%;
	height:2em;
}

/*main page*/
#main_content{
	margin-left: auto;
    margin-right: auto;
	width:80%;
}
#main_content p{
	text-align:center;
	font-size:1.5em;
}
#social{
	text-align:center;
}
#social img{
	width:8%;
	padding:.8em;
	display:inline-block;
}
#home_media{
	margin-left: auto;
    margin-right: auto;
	width:80%;
}
#home_media p{
	font-size:1.5em;
}
#home_media tr:first-child{
	background-color:black;
}
#home_media td{
	border-bottom:0px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#sponsors img{
	width:100%;	
}


/***********************************END HOMEPAGE**************************/

/***********************************BEGIN CALENDAR**************************/
/*calenar*/
#calendar{
	text-align:center;
}

/***********************************END CALENDAR**************************/

/***********************************BEGIN ABOUT**************************/
/*about*/
.about table{
	width:80%;
	margin-left: auto;
    margin-right: auto;
}
.about td{
	display:block;
}
.about img{
	width:40%;
}
.about h1{
	text-align:center;
}
.about h2{
	text-align:center;
}
.about p{
	text-align:center;
}
#awards{
	list-style-type:none;
}

/***********************************END ABOUT**************************/

/***********************************BEGIN MEDIA**************************/
/*album covers*/
#media{
	text-align:center;
}
.albums img{
	display:block;
	width:50%;
	margin-left: auto;
    margin-right: auto;
	margin-top:10%;
	margin-bottom:10%;
}

/*competition*/
#text{
	display:block;
}
#arrow{
	display:block;
}
#arrow img{
	width:10%;
	float:left;
}

/***********************************END MEDIA**************************/

/***********************************BEGIN ABOUT FIRST AND GAME**************************/
/*tablet text*/
#about_first p{
	text-align:left;
}
#about_first h2{
	text-align:left;
}
#about_first li{
	text-align:left;
}
#about_first img:hover{
	opacity:.5;
}
#about_first img{
	width:40%;
}

/*images*/
#first {
	margin-right:1em;
}
#frc {
	margin-left:1em;
}

/***********************************END ABOUT FIRST AND GAME**************************/

/***********************************BEGIN SPONSORING**************************/
/*LINK*/
#main_sponsor{
	margin-left: auto;
    margin-right: auto;
	width:80%;
}
#main_sponsor a{
	font-weight:bold;
}
#main_sponsor a:hover{
	color:#FF6A00;
}