<div class="team-pic-wrapper">
    <ng-container *ngIf="_ScoutPitResult && _ScoutPitResult.pics">
        <div class="default-pic-btn" *ngIf="_ScoutPitResult.pics.length > 1">
            <app-button [ButtonType]="'check'"
                [BackgroundColor]="_ScoutPitResult.pics[_ScoutPitResult.pic].default ? 'green' : ''"
                (FunctionCallBack)="setDefaultPic(_ScoutPitResult.pics[_ScoutPitResult.pic])"></app-button>
        </div>

        <div class="team-pic" [id]="_ScoutPitResult.teamNo">
        </div>

        <div class="prev-pic" *ngIf="_ScoutPitResult.pics.length > 1">
            <app-button [ButtonType]="'collapse'" [Rotate]="'90deg'" (FunctionCallBack)="prevImage(_ScoutPitResult)">
            </app-button>
        </div>

        <div class="next-pic" *ngIf="_ScoutPitResult.pics.length > 1">
            <app-button [ButtonType]="'collapse'" [Rotate]="'-90deg'" (FunctionCallBack)="nextImage(_ScoutPitResult)">
            </app-button>
        </div>
    </ng-container>
</div>