@use "../../../../scss/abstracts/variables.scss";

.team-pic-wrapper {
  position: relative;
  width: calc(100% - 3.4rem);
  min-height: 300px;
  background-color: #{variables.$gray}80;
  margin: 1em 1.7rem;
  border-radius: 0.35em;

  .default-pic-btn {
    position: absolute;
    top: -15px;
    right: -15px;
  }

  .prev-pic,
  .next-pic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .prev-pic {
    left: -15px;
  }

  .next-pic {
    right: -15px;
  }
}
