<div class="team-pic-wrapper">
  <ng-container *ngIf="_ScoutPitImages && _ScoutPitImages.length > 0">
    <div class="default-pic-btn" *ngIf="_ScoutPitImages.length > 1">
      <app-button
        [ButtonType]="'check'"
        [BackgroundColor]="
          _ScoutPitImages[displayPicIndex].default ? 'green' : ''
        "
        (FunctionCallBack)="setDefaultPic(_ScoutPitImages[displayPicIndex])"
      ></app-button>
    </div>

    <div class="team-pic" [id]="elementId"></div>

    <div class="prev-pic" *ngIf="_ScoutPitImages.length > 1">
      <app-button
        [ButtonType]="'collapse'"
        [Rotate]="'90deg'"
        (FunctionCallBack)="prevImage()"
      >
      </app-button>
    </div>

    <div class="next-pic" *ngIf="_ScoutPitImages.length > 1">
      <app-button
        [ButtonType]="'collapse'"
        [Rotate]="'-90deg'"
        (FunctionCallBack)="nextImage()"
      >
      </app-button>
    </div>
  </ng-container>
</div>
