<app-box [Title]="'Manage Field Form'">
  <app-form-element-group>
    <app-modal
      [Title]="'Upload Image'"
      [ButtonText]="'Upload Image'"
      [(visible)]="uploadImageModalVisible"
    >
      <app-form (SubmitFunction)="saveFieldImage()">
        <div
          class="flex align-items-baseline justify-content-flex-start gap-1rem"
        >
          <app-form-element
            [Type]="'select'"
            [LabelText]="'Orientation'"
            [(Model)]="fieldImageType"
            [SelectList]="fieldImageTypes"
          ></app-form-element>

          @if (fieldImageType === 'Original') {
          <app-form-element
            [Type]="'file'"
            [(Model)]="fieldForm.img"
            (FunctionCallBack)="previewImage()"
          ></app-form-element>
          } @else if (fieldImageType === 'Inverted') {
          <app-form-element
            [Type]="'file'"
            [(Model)]="fieldForm.inv_img"
            (FunctionCallBack)="previewImage()"
          ></app-form-element>
          } @else {
          <app-form-element
            [Type]="'file'"
            [(Model)]="fieldForm.full_img"
            (FunctionCallBack)="previewImage()"
          ></app-form-element>
          }

          <app-button [Type]="'submit'" [ButtonType]="'success'"
            >Save</app-button
          >
        </div>
        @if (previewUrl) {
        <img id="preview-image" [src]="previewUrl" />
        }
      </app-form>
    </app-modal>
  </app-form-element-group>

  @if (fieldForm.img_url) {
  <app-form-element-group [LabelText]="'Edit Question Flows'">
    @if (isMobile) {
    <p class="important">Cannot edit flows on mobile</p>
    }
    <app-form (SubmitFunction)="saveFlow()">
      <div>
        <div class="flex gap-1rem margin-bottom--1rem flex-wrap">
          <app-form-element
            [Type]="'checkbox'"
            [LabelText]="'Inverted'"
            [(Model)]="invertedImage"
            (FunctionCallBack)="setQuestionBoxes()"
          ></app-form-element>

          <app-form-element
            *ngIf="
              formMetadata.form_sub_types &&
              formMetadata.form_sub_types.length > 0
            "
            [Type]="'select'"
            [LabelText]="'Form Sub Type'"
            [SelectList]="formMetadata.form_sub_types"
            [MinWidth]="'200px'"
            [DisplayProperty]="'form_sub_nm'"
            [(Model)]="activeFormSubType"
            [DisplayEmptyOption]="true"
            (FunctionCallBack)="buildFlowOptions()"
            [SelectComparatorFunction]="subTypeComparatorFunction"
            [Disabled]="isMobile"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Flow'"
            [SelectList]="availableFlows"
            [MinWidth]="'200px'"
            [DisplayProperty]="'name'"
            [(Model)]="activeFlow"
            [DisplayEmptyOption]="true"
            [SelectComparatorFunction]="flowComparatorFunction"
            (FunctionCallBack)="setQuestionBoxes()"
            [Disabled]="isMobile"
          >
          </app-form-element>
        </div>
        @if (activeFlow && activeFlow.id) {
        <div class="flex justify-content-space-between align-items-center">
          <div class="margin-bottom--1rem">
            <app-form-element
              [Type]="'text'"
              [LabelText]="'Flow Name'"
              [(Model)]="activeFlow.name"
              [FormGroup]="true"
              [FormGroupInline]="true"
            ></app-form-element>

            <app-form-element
              [Type]="'checkbox'"
              [LabelText]="'Single Run'"
              [(Model)]="activeFlow.single_run"
              [FormGroup]="true"
              [FormGroupInline]="true"
            ></app-form-element>

            <app-form-element
              [Type]="'checkbox'"
              [LabelText]="'Delete'"
              [(Model)]="activeFlow.void_ind"
              [TrueValue]="'y'"
              [FalseValue]="'n'"
              [FormGroup]="true"
              [FormGroupInline]="true"
            ></app-form-element>
          </div>
          <app-button [Type]="'submit'" [ButtonType]="'success'"
            >Save</app-button
          >
        </div>
        }
      </div>

      <app-table
        *ngIf="
          activeFlow &&
          activeFlow.question_flows &&
          activeFlow.question_flows.length > 0
        "
        [TableCols]="flowTableCols"
        [TableData]="activeFlow.question_flows"
        [TriggerUpdate]="flowTableTriggerUpdate"
        [Width]="'100%'"
        [Scrollable]="true"
        [ScrollHeight]="'40vh'"
        [ShowEditButton]="true"
        (EditRecordCallBack)="editQuestionFlow($event)"
        [SetActiveRec]="activeQuestionFlow"
        [AllowActiveRecord]="true"
      >
      </app-table>
    </app-form>
  </app-form-element-group>

  @if (activeQuestionFlow) {
  <app-draw-shape
    [ImageUrl]="invertedImage ? fieldForm.inv_img_url : fieldForm.img_url"
    (SvgChange)="svgChanged($event)"
  ></app-draw-shape>
  }

  <div class="margin-top-1rem">
    <div
      #imageBackground
      id="image-background"
      class="flex align-items-center justify-content-center"
    >
      <div
        #imageContainer
        id="image-container"
        (click)="mouseClick($event)"
        (mousemove)="mouseMove($event)"
      >
        <img
          #image
          id="image"
          [src]="invertedImage ? fieldForm.inv_img_url : fieldForm.img_url"
        />
        @if (activeFlow) { @for (questionFlow of activeFlow.question_flows;
        track $index) { @if (questionFlow.question.svg.length > 0) {
        <div
          class="svg-wrapper"
          [ngStyle]="{
            top: questionFlow.question.y + '%',
            left: questionFlow.question.x + '%',
            width: questionFlow.question.width + '%',
            height: questionFlow.question.height + '%'
          }"
        >
          <div
            class="svg"
            [innerHTML]="questionFlow.question.svg | safeHtml"
          ></div>

          <div class="label">
            @if (questionFlow.question.icon) {
            <span class="mdi icon mdi-{{ questionFlow.question.icon }}"></span>
            }

            <p>{{ questionFlow.question.question }}</p>
          </div>
        </div>
        } } }
      </div>
    </div>
  </div>
  }
</app-box>
