<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinHomeCover"></div>
    <p id="joinText">
      <span id="joinH1">Join P.A.R.T.s</span>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <main id="mainJoin">
    <app-box [Title]="'Who Are We?'">
      <h4>We are a FIRST (For the Inspiration and Recognition of Science and Technology) Robotics Team. (You can learn
        more
        at <a target="_blank" href="firstinspires.org">firstinspires.org</a>) We are composed up of high school students
        in Putnam County, grades 9-12.</h4>
    </app-box>

    <app-box [Title]="'What do we do?'">
      <h4>Every January, we are given a challenge to build a robot to compete in a game. We build the robot from scratch
        in
        6 weeks, then a few weeks later, we go to competition with it. We also do a lot of community service.</h4>
    </app-box>

    <app-box [Title]="'What Do You Mean “Challenge”?'">
      <h4>Exactly that! In the past years, we’ve had to shoot Frisbees and climb a pyramid, shoot basketballs and
        balance
        on a see saw, and pick up inner tubes and launch a small robot to climb a pole. Every year is totally different.
      </h4>
    </app-box>

    <app-box [Title]="'Why Should I Join?'">
      <h4>Any student on the team will tell you that this team has made a lasting impact on their life. You make a lot
        of
        new friends, and you learn so much without even realizing it.</h4>
    </app-box>

    <app-box [Title]="'Interested or Have Questions?'">
      <h4>If you have any questions or are interested contact the team <a target="_blank"
          href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</h4>
    </app-box>

    <app-box [Title]="'Learn more about each sub-group within our team!'">
      <h4>Click "Join PARTs" on the navigation to see each group in detail.</h4>
    </app-box>
  </main>
</div>