#table-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  & > div {
    app-form-element {
      padding-right: 1.6rem;
    }
  }
}
