<app-box [Title]="'Scout Field Results'">
  <app-form-element-group [LabelText]="'Table Display'">
    <div id="table-buttons">
      <div class="flex align-items-baseline">
        <app-form-element [Type]="'multiSelect'" [LabelText]="'Columns to display'" [DisplayProperty]="'ColLabel'"
          [BindingProperty]="'checked'" [SelectList]="showScoutFieldColsList" [(Model)]="showScoutFieldCols"
          (FunctionCallBack)="showHideTableCols()">
        </app-form-element>

        <app-button [ButtonType]="'danger'" (FunctionCallBack)="resetTableColumns()">Reset Columns</app-button>
      </div>

      <app-button [ButtonType]="'warning'" (FunctionCallBack)="init(true)">Force Responses Pull</app-button>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="download()">Download</app-button>
    </div>
  </app-form-element-group>

  <app-form-element-group [LabelText]="'Filter'">
    <div class="flex align-items-baseline justify-content-space-between flex-wrap">
      <app-form-element [Type]="'text'" [LabelText]="'Team Search'" [(Model)]="filterTeam"
        (FunctionCallBack)="filter()"></app-form-element>
      <app-form-element [Type]="'text'" [LabelText]="'Wildcard Search'" [(Model)]="filterText"></app-form-element>
      <app-form-element [Type]="'number'" [LabelText]="'Rank'" [(Model)]="filterRank" [MinValue]="1"></app-form-element>
      <app-form-element [Type]="'number'" [LabelText]="'Rank Range'" [(Model)]="filterRange"
        [MinValue]="(filterRank || 0) + 1" [Disabled]="filterAboveRank"></app-form-element>
      <app-form-element [Type]="'checkbox'" [LabelText]="'Above'" [(Model)]="filterAboveRank"
        [Disabled]="filterRange !== null"></app-form-element>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="filter()">Filter by Rank</app-button>
      <app-button [ButtonType]="'danger'" (FunctionCallBack)="resetFilter()">Reset Filters</app-button>
    </div>
  </app-form-element-group>

  <app-table [TableCols]="scoutTableCols" [TableData]="scoutTableRows" [Scrollable]="true" [(FilterText)]="filterText"
    [Width]="tableWidth" [Responsive]="true" (RecordClickCallBack)="getTeamInfo($event)"
    [ScrollHeight]="'calc(100vh - 20rem)'" [CursorPointer]="true">
  </app-table>

  <app-modal [(visible)]="teamScoutResultsModalVisible" [Title]="'Individual Results'">
    <app-pit-result-display [ScoutPitResult]="teamScoutPitResult"></app-pit-result-display>

    <app-form-element-group [LabelText]="'Notes'">
      <app-form-element-group *ngFor="let note of teamNotes" [LabelText]="note.time | dateToStr">
        <p>{{ note.note }}</p>
      </app-form-element-group>
    </app-form-element-group>

    <app-table [TableCols]="scoutResponses.scoutCols" [TableData]="teamScoutResults" [Scrollable]="true"
      [ScrollHeight]="'calc(100vh - 22rem)'" [EnableFilter]="true" [Width]="tableWidth" [Responsive]="true">
    </app-table>
  </app-modal>
</app-box>