<app-box [Title]="'Scout Field Results'">
  <app-form-element-group [LabelText]="'Table Display'">
    <div class="flex flex-wrap justify-content-space-between align-items-baseline">
      <app-form-element [Type]="'multiSelect'" [LabelText]="'Columns to display'" [DisplayProperty]="'ColLabel'"
        [BindingProperty]="'PropertyName'" [SelectList]="showScoutFieldColsList" [(Model)]="showScoutFieldCols"
        (FunctionCallBack)="showHideTableCols()" (ResetFunction)="resetTableColumns()">
      </app-form-element>

      <div>
        <app-button-ribbon>
          <app-button [ButtonType]="'refresh'" (FunctionCallBack)="init(true)">Refresh Responses</app-button>
          <app-button [ButtonType]="'download'" (FunctionCallBack)="download()">Download</app-button>
        </app-button-ribbon>
      </div>
    </div>
  </app-form-element-group>

  <app-form-element-group [LabelText]="'Filter'">
    <div class="flex align-items-baseline justify-content-space-between flex-wrap">
      <app-form-element [Type]="'text'" [LabelText]="'Team Search'" [(Model)]="filterTeam"
        (FunctionCallBack)="filter()"></app-form-element>

      <app-form-element [Type]="'text'" [LabelText]="'Wildcard Search'" [(Model)]="filterText"></app-form-element>

      <app-form-element [Type]="'number'" [LabelText]="'Rank'" [(Model)]="filterRank" [MinValue]="1"
        [Disabled]="filterRankGTE !== null || filterRankLTE !== null"></app-form-element>

      <app-form-element [Type]="'checkbox'" [LabelText]="'Above'" [(Model)]="filterAboveRank"
        [Disabled]="filterRankGTE !== null || filterRankLTE !== null"></app-form-element>

      <app-form-element [Type]="'number'" [LabelText]="'Rank GTE'" [(Model)]="filterRankGTE" [MinValue]="1"
        [Disabled]="filterRank !== null"></app-form-element>

      <app-form-element [Type]="'number'" [LabelText]="'Rank LTE'" [(Model)]="filterRankLTE" [MinValue]="1"
        [Disabled]="filterRank !== null"></app-form-element>

      <app-button [ButtonType]="'main'" (FunctionCallBack)="filter()">Filter by Rank</app-button>

      <app-button [ButtonType]="'danger'" (FunctionCallBack)="resetFilter()">Reset Filters</app-button>
    </div>
  </app-form-element-group>

  <app-table [TableCols]="scoutTableCols" [TableData]="scoutTableRows" [Scrollable]="true" [(FilterText)]="filterText"
    [Responsive]="true" (RecordClickCallBack)="getTeamInfo($event)" [ScrollHeight]="'calc(100vh - 40rem)'"
    [CursorPointer]="true">
  </app-table>

  <app-modal [(Visible)]="teamScoutResultsModalVisible" [Title]="'Individual Results'">
    @if (teamScoutPitResult) {
    <app-pit-result-display [ScoutPitResult]="teamScoutPitResult"></app-pit-result-display>
    }
    <app-form-element-group [LabelText]="'Notes'">
      <app-form-element-group *ngFor="let note of teamNotes" [LabelText]="(note.time | dateToStr) || ''">
        <p>{{ note.note }}</p>
      </app-form-element-group>
    </app-form-element-group>

    <app-table [TableCols]="scoutResponses.scoutCols" [TableData]="teamScoutResults" [Scrollable]="true"
      [ScrollHeight]="'calc(100vh - 22rem)'" [EnableFilter]="true" [Responsive]="true">
    </app-table>
  </app-modal>
</app-box>