#image-container {
  display: flex;
  position: relative;
}

#image {
  width: 100%;
}

.box {
  position: absolute;
  //border: 1px solid red;
  z-index: 1;

  p {
    margin: 0;
  }
}

.touchpoint-wrapper {
  //z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  //background-color: rgba($color: #5405f5, $alpha: 0.5);
  .box {
    border: 1px solid black;
  }
}

.legend {
  display: inline-block;
  margin-right: 1rem;
  cursor: pointer;

  .legend-box {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
  }

  p {
    display: inline-block;
    margin: 0;
  }
}
