.mnt-psh-btn {
  width: 100%;
  height: 100%;
  background: rgb(115 115 115 / 75%);
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  span,
  p {
    color: white;
  }

  span {
    font-size: 4rem;
  }

  p {
    margin: 0;
  }
}
