<div id="content">
        <main id="mainMedia">
                <app-return-card [Title]="'Click an image to visit its album'"
                        [RouterLink]="'/media'"></app-return-card>

                <app-albums [Albums]="albums"></app-albums>

                <div class="albums">
                        <!--build 24-->
                        <a target="_blank" href="https://photos.app.goo.gl/qWnf5nBuSsKWxLQz9"><img
                                        src="/albumCovers/BuildSeason/2024SwerveAssembly.png" /></a>
                        <!--build 24-->
                        <a target="_blank" href="https://photos.app.goo.gl/DJGqX4hbtYBZvy7e8"><img
                                        src="/albumCovers/BuildSeason/2024BuildSeason.png" /></a>
                        <!--build 23-->
                        <a target="_blank" href="https://photos.app.goo.gl/MALjhsjakFDg8wwH7"><img
                                        src="/albumCovers/BuildSeason/2023BuildSeason.png" /></a>
                        <!--build 22-->
                        <a target="_blank" href="https://photos.app.goo.gl/m3iAj4Rxgwyp92gaA"><img
                                        src="/albumCovers/BuildSeason/2022BuildSeason.png" /></a>
                        <!--build 20/21-->
                        <a target="_blank" href="https://photos.app.goo.gl/cHyNp9tN4gghNMyr9"><img
                                        src="/albumCovers/BuildSeason/2020BuildSeason.png" /></a>
                        <!--build 19-->
                        <a target="_blank" href="https://photos.app.goo.gl/yGmB9B29GY2nsrdo6"><img
                                        src="/albumCovers/BuildSeason/2019BuildSeason.png" /></a>
                        <!--build 18-->
                        <a target="_blank" href="https://photos.app.goo.gl/3G3eZ9U1J8FubvcTA"><img
                                        src="/albumCovers/BuildSeason/2018BuildSeason.png" /></a>
                        <!--build 17-->
                        <a target="_blank" href="https://photos.app.goo.gl/6VV762nyEniFuham6"><img
                                        src="/albumCovers/BuildSeason/2017BuildSeason.png" /></a>

                        <!-- build 16
    <a target="_blank" href="https://photos.app.goo.gl/XB5Kjijcea2MJYWs7"><img
      src="/albumCovers/BuildSeason/2016BuildSeason.png" /></a>
    -->
                        <!--build 15-->
                        <a target="_blank" href="https://photos.app.goo.gl/XB5Kjijcea2MJYWs7"><img
                                        src="/albumCovers/BuildSeason/2015BuildSeason.png" /></a>
                        <!--build 13-->
                        <a target="_blank" href="https://photos.app.goo.gl/FYiZQNhE6jMJEwxE8"><img
                                        src="/albumCovers/BuildSeason/2013BuildSeason.png" /></a>
                        <!--build 12-->
                        <a target="_blank" href="https://photos.app.goo.gl/rNxaWNJYkMMHtU5W6"><img
                                        src="/albumCovers/BuildSeason/2012BuildSeason.png" /></a>

                </div>
        </main>
</div>