<app-button #thisButton *ngIf="!(ButtonType === '')" [ButtonType]="ButtonType" (FunctionCallBack)="open()">
  {{ ButtonText }}
</app-button>

<div class="overlay" [ngClass]="{'visible': _visible}" [ngStyle]="{'z-index': zIndex}">
  <div class="popup" (appClickOutside)="close()">
    <div class="popup-title">
      <app-header [h]="2" [centered]="true">{{ Title }}</app-header>
      <div class="close">
        <app-button [ButtonType]="'close'" [SymbolSize]="'2.2rem'" (FunctionCallBack)="close()"></app-button>
      </div>
    </div>
    <div class="popup-contents">
      <ng-content></ng-content>
    </div>
  </div>
</div>