<div id="container">
  <div id="image-wrapper">
    <img id="image" #backgroundImage [src]="url" />
    <svg
      #mySvg
      (click)="handleClick($event)"
      (mousemove)="handleMouseMove($event)"
      (mousedown)="handleMouseDown($event)"
      (mouseup)="handleMouseUp()"
    >
      <path #myPath d="" fill="lightblue" stroke="black" pointer-events="all" />
      @for (point of points; track $index) {
      <g>
        <circle
          [attr.cx]="point.x"
          [attr.cy]="point.y"
          r="5"
          fill="red"
          (mousedown)="startDragging(point)"
          (mousemove)="dragPoint($event)"
          (mouseup)="endDragging()"
        ></circle>
      </g>
      }
    </svg>
  </div>
</div>
<!--<button (click)="exportSvg()">Export SVG</button>-->

<button (click)="finish()">Finish</button>
