.box {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.ten {
  background-color: green;
}

.fifteen {
  background-color: lightgreen;
}

.twenty {
  background-color: yellow;
}

.thirty {
  background-color: red;
}

.leftover {
  border: 1px solid black;
}
