@font-face {
  font-family: Nunito-Regular;
  src: url(/assets/fonts/Regular/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito-Black;
  src: url(/assets/fonts/Black/Nunito-Black.ttf);
}

@font-face {
  font-family: GearBox;
  src: url(/assets/fonts/GearBox.ttf);
}
