/*
@font-face {
  font-family: Nunito-Regular;
  src: url(/fonts/Regular/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito-Black;
  src: url(/fonts/Black/Nunito-Black.ttf);
}
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: GearBox;
  src: url(/fonts/GearBox.ttf);
}

@font-face {
  font-family: "StencilStd";
  src: url(/fonts/StencilStd.otf) format("opentype");
  unicode-range: U+0000-00FF;
}
