.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.padding-right-1rem {
  padding-right: 1rem;
}

.padding-right-half-em {
  padding-right: 0.5em;
}
