.inline-block {
  display: inline-block;
}

.text-align-center {
  text-align: center;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.padding-top-1rem {
  padding-top: 1rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.padding-bottom-1rem {
  padding-bottom: 1rem;
}

.padding-right-1rem {
  padding-right: 1rem;
}

.padding-bottom-2rem {
  padding-bottom: 2rem;
}

.padding-top-2rem {
  padding-top: 2rem;
}

.padding-right-half-em {
  padding-right: 0.5em;
}

.white-space-pre {
  white-space: pre;
}

.white-space-pre-line {
  white-space: pre-line;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.box-shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-hidden {
  overflow: hidden;
}
