<div class="side-nav" #thisSideNav [ngClass]="{'hide': HideSideNav, 'sticky': runStickyMethod}"
  [ngStyle]="{'width': Width}">
  <div id="title" [ngClass]="{'roundedCorners': collapsed}" #thisTitle>
    <p>{{ Title }}</p>
    <div id="collapseBtn" [ngClass]="{'hide': hide}">
      <app-button [ButtonType]="'collapse'" [SymbolSize]="'2.4rem'" [InvertColor]="true" [Direction]="collapsed"
        (FunctionCallBack)="collapseCard()">
      </app-button>
    </div>
  </div>
  <div id="nav" #thisNavContent>
    <ng-content></ng-content>
  </div>
</div>
