<div id="resources" class="flex flex-wrap align-items-stretch justify-content-center">
  @for (resource of resources; track $index) {
  <div class="resource">
    <app-box [Title]="resource.title" [CenterTitle]="true" [Width]="'100%'" [Height]="'100%'">
      <div class="flex flex-direction-column align-items-center full-height">
        <div class="flex-grow-2 flex align-items-center">
          <span class="mdi mdi-icon mdi-{{resource.icon}}" [ngStyle]="{'rotate': resource.rotate}"></span>
        </div>

        <div class="flex-grow-2 flex align-items-center">
          <h4 [innerHTML]="resource.description">
          </h4>
        </div>

        <app-button-ribbon [TextAlign]="'center'">
          <app-button (FunctionCallBack)="openURL(resource.link)">CHECK IT OUT</app-button>
        </app-button-ribbon>
      </div>
    </app-box>
  </div>
  }
</div>