<input type="radio" name="overlay" id="no-robot" class="robotRadio">
<input type="radio" name="overlay" id="mccoyRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="huRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="djRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="carlaRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="turboMikeRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="beanieTheBarbarianRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="beaniehemothRadio" class="robotRadio noNAV" />
<input type="radio" name="overlay" id="gLoughRadio" class="robotRadio noNAV" />

<div id="content">

  <div id="aboutStart">
    <h1>P.A.R.T.s</h1>
    <h3 id="scrollBanner"> &#171; Scroll For More Banners &#187; </h3>
  </div>
  <div id="banners">
    <ul class="banners">
      <li><img src="../../../../assets/icons/first.svg"> 2011
        <p></p> Pittsburgh Regional Winner
      </li>
      <li><img src="../../../../assets/icons/first.svg">2014
        <p></p> Smoky Mountains Regional Engineering Inspiration Award</li>
      <li><img src="../../../../assets/icons/first.svg">2015
        <p></p> Smoky Mountains Regional Winner</li>
      <li><img src="../../../../assets/icons/first.svg">2016
        <p></p> Woodie Flowers Finalist Award</li>
      <li><img src="../../../../assets/icons/first.svg"> 2016
        <p></p> West Virginia RObotics eXtreme Winner
      </li>
    </ul>
  </div>
  <main id="mainAbout">
    <div id="aboutParts">
      <div id="history">
        <h2>A Brief History...</h2>
        <p>P.A.R.T.s, formerly known as RoboGens, began its career as a robotics team in 2010 when a Winfield High
          School senior, Taylor Shank, attended a Mountaineer Area RoboticS (MARS) event. Awed and inspired, Taylor
          moved to create a team
          at his school. Denise Johnson, a teacher at the school, took up the opportunity as the sponsor, and the team
          RoboGens was born. It was originally called this because Winfield High School is the home of the Winfield
          Generals, and we
          wanted to pay a tribute to the school.</p>
        <h2>Now...</h2>
        <p>P.A.R.T.s is a team of high school students from all over Putnam County who come together to build robots and
          promote S.T.E.M.</p>
        <h2>Awards and Accomplishments</h2>
        <ul id="awards">
          <li>
            2016- Winner, WV ROX(West Virginia RObotics eXtreme)
          </li>
          <li>
            2016- Tina Kirk - Woodie Flowers Finalist Award Recipient, Queen City Regional
          </li>
          <li>
            2016- <a target="_blank"
              href="http://www.legis.state.wv.us/Bill_Text_HTML/2016_SESSIONS/RS/Bills/SR20%20intr.htm"> West Virginia
              Senate Resolution on STEM Education</a>
          </li>
          <li>
            2015- Regional Winner, Smoky Mountains Regional
          </li>
          <li>
            2014- Regional Engineering Inspirations Award, Smoky Mountain Regional
          </li>
          <li>
            2011- Rookie Inspiration Award, Pittsburgh Regional
          </li>
          <li>
            2011- Regional Winner, Pittsburgh Regional
          </li>
          <li>
            2011- Best Defense Award, CORI invitational event
          </li>
          <li>
            2011- Jacob Plasters - Mentor of the Year, CORI invitational event
          </li>
        </ul>
      </div>
      <h1>Click on a Bot for Its Bio!</h1>
      <div id="coversContainer">
        <!-- 2011 -->
        <label for="mccoyRadio" class="robotLabel">
          <div class="cover">

            <img alt="2011 Robot" src="../../../../assets/webImages/Robots/McCoy.jpg">

            <h2>McCoy<br><span>2011</span></h2>
          </div>
        </label>

        <div id="mccoy" class="overlay">
          <div class="popup">
            <h2>2011</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"McCoy", named in honor of one of the most respected faculty members at Winfield High, Coach Leon
                McCoy, was our first robot designed to play the 2011 game LOGO MOTION. He was designed as a defensive
                bot who had an attachment on
                the back to launch a "mini bot" up a pole, a crucial part of the game. </p>
              <p>LOGO MOTION is played by two competing alliances on a flat 27' x 54' ft field. Each alliance consists
                of three robots. They compete to hang as many inflated plastic shapes (triangles, circles, and squares)
                on their grids as they
                can during a 2 minute and 15 second match. The higher the teams hang their game pieces on their scoring
                grid, the more points their alliance receives. The match ends with robots deploying minibots, small
                electro-mechanical
                assemblies that are independent of the host robot, onto vertical poles. The minibots race to the top of
                the pole to trigger a sensor and earn additional bonus points.</p>
              <p>McCoy competed in the 2011 Pittsburgh Regional. There we were ranked 38 out of 39 teams. We went on to
                be selected by the 1st alliance consisting of teams 1114 (Simbotics) and 1503(Spartonics). We went all
                the way through finals
                and won the regional, qualifying us for the world championship.</p>
              <p>We competed in the World-Wide championship in St. Louis, MO. We finished 61 out of 88 in our division.
              </p>
            </div>
          </div>
        </div>

        <!-- 2012 -->
        <label for="huRadio" class="robotLabel">
          <div class="cover">
            <img alt="2012 Robot" src="../../../../assets/webImages/Robots/HU.jpg">
            <h2>HU<br><span>2012</span></h2>
          </div>
        </label>

        <div id="hu" class="overlay">
          <div class="popup">
            <h2>2012</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"HU", named after Winfield High School's beloved principal William Hughes, was our second robot
                designed to play the 2012 game REBOUND RUMBLE. He was designed with a long channel that took in balls at
                the bottom to launch them
                out the top. There was also an attachment on his back that allowed him to tilt a bridge toward him so he
                could balance it (this was an important part of the game).</p>
              <p>REBOUND RUMBLE is played by two competing alliances on a flat, 27' x 54' ft field. Each alliance
                consists of three robots. They compete to score as many basketballs into their hoops as they can during
                a 2 minute and 15 second
                match. The higher the hoop in which the basketball is scored, the more points the alliance receives. The
                match ends with robots attempting to balance on bridges located at the middle of the field.</p>
              <p>HU competed in two competitions, the 2012 Pittsburgh Regional and Queen City Regional. At Pittsburgh we
                were ranked 26 out of 45. We went on to be selected by the 4th alliance consisting of teams 1533 (Triple
                Strange) and 3138
                (Innovators Robotics). We played with them through semifinals where we were eliminated. At the Queen
                City we were ranked 17 out of 57. We went on to be selected by the 1st alliance consisting of teams
                3138(Innovator Robotics) and
                1730(Team Driven). We played with them and were eliminated in quarterfinals.</p>
            </div>
          </div>
        </div>

        <!-- 2013 -->
        <label for="djRadio" class="robotLabel">
          <div class="cover">
            <img alt="2013 Robot" src="../../../../assets/webImages/Robots/DJ.jpg">
            <h2>DJ<br><span>2013</span></h2>
          </div>
        </label>

        <div id="dj" class="overlay">
          <div class="popup">
            <h2>2013</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"DJ", named after our amazing and inspiring mentor Denise Johnson who was retiring this year, was our
                third robot designed to play the 2013 game ULTIMATE ASCENT. She was designed to take in frisbees at the
                top and shoot them out
                of a channel just below it. Then she could lift her arm up to hook onto a pyramid and pull herself an
                inch completely off of the ground (an end game challenge).</p>
              <p>ULTIMATE ASCENT is played by two competing alliances on a flat, 27' x 54' ft field. Each alliance
                consists of three robots. They compete to score as many discs into their goals as they can during a two
                (2)-minute and fifteen
                (15)-second match. The higher the goal in which the disc is scored, the more points the alliance
                receives. The match ends with robots attempting to climb on pyramids located near the middle of the
                field. The robot earns points
                based on how high it climbs.</p>
              <p>DJ competed in two competitions, the 2013 Pittsburgh Regional and Cross Roads Regional. At Pittsburgh
                we were ranked 13 out of 45. We went on to be selected by the 6th alliance consisting of teams
                291(CIA-Creativity In Action)
                and 4601(Circuit Birds). We played in quarterfinals and were eliminated. At Cross Roads we were ranked
                16 out of 50. We went on to be selected by the 2nd alliance consisting of teams 930(Mukwonago BEARs) and
                1501(Team THRUST). We
                played in quarterfinals and were eliminated.</p>
            </div>
          </div>
        </div>

        <!-- 2014 -->
        <label for="carlaRadio" class="robotLabel">
          <div class="cover">
            <img alt="2014 Robot" src="../../../../assets/webImages/Robots/Carla.jpg">
            <h2>Carla<br><span>2014</span></h2>
          </div>
        </label>

        <div id="carla" class="overlay">
          <div class="popup">
            <h2>2014</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"Carla", named after a beloved team mother who lost her battle to breast cancer, was our fourth robot
                designed to play the 2014 game AERIAL ASSIST. She was designed to both intake and shoot balls out of her
                large "mouth".</p>
              <p>AERIAL ASSIST is played by two competing Alliances of three Robots each on a flat 25' x 54' ft field,
                straddled by a lighting truss suspended just over five feet above the floor. The objective is to score
                as many balls in goals
                as possible during a 2 minute and 30 second match. The more Alliances score their ball in their goals,
                and the more they work together to do it, the more points their alliance receives. Alliances receive
                large bonuses for
                "assists," which are earned for each robot that has possession of the ball in a zone as the ball moves
                down the field.</p>
              <p>Carla competed in the 2014 Smoky Mountains Regional. There we were ranked 10 out of 49. As different
                captains in the top 8 ranks picked each other we moved up to be the 8th seed. That meant that we were
                the captain of the 8th
                alliance. We picked teams 281(EnTech GreenVillans) and 342(Burning Magnetos). We played through
                semifinals where we were eliminated. Even though we did not win the regional we did win the Regional
                Engineering Inspiration Award
                which <em>"Celebrates outstanding success in advancing respect and appreciation for engineering within a
                  team's school and community."</em> This qualified us for the world championship.</p>
              <p>At Worlds we competed in our division. We finished ranking 32 out of 100.</p>
            </div>
          </div>
        </div>

        <!-- 2015 -->
        <label for="turboMikeRadio" class="robotLabel">
          <div class="cover">
            <img alt="2015 Robot" src="../../../../assets/webImages/Robots/TurboMike.jpg">
            <h2>Turbo Mike<br><span>2015</span></h2>
          </div>
        </label>

        <div id="turboMike" class="overlay">
          <div class="popup">
            <h2>2015</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"Turbo Mike", named after an original team member and mentor nicked named as such, was our fifth robot
                designed to play the 2015 game RECYCLE RUSH. He was designed with arms and an elevator to pick up and
                stack totes. Also at
                Worlds we added on arms in the back of the robot allowing us to, as it was later nicknamed, "canburgle"
                cans from the center of the field.</p>
              <p>RECYCLE RUSH is a recycling-themed game designed for the 2015 FIRST Robotics Competition (FRC). It is
                played by two Alliances of three teams each. Alliances compete simultaneously to score points by
                stacking Totes on Scoring
                Platforms, capping those stacks with Recycling Containers, and properly disposing of Litter, represented
                by pool noodles, in designated locations. The 27' x 54' ft playing Field is bisected by a small Step
                which may not be
                climbed on or crossed by Robots. Thus each Alliance competes on their respective 26' x 27' ft side of
                the Field.</p>
              <p>Turbo Mike competed in the 2015 Smoky Mountains Regional. There we were ranked 22 out of 51. We went on
                to be selected by the 1st alliance consisting of teams 3824(HVA RoHAWKtics) and 2614(MARS). We competed
                through finals where
                we won the competition qualifying us for the world competition.</p>
              <p>At Worlds we competed in our division. We finished ranking 62 out of 76.</p>
            </div>
          </div>
        </div>

        <!-- 2016 -->
        <label for="beanieTheBarbarianRadio" class="robotLabel">
          <div class="cover">
            <img alt="2016 Robot" src="../../../../assets/webImages/Robots/BeanietheBarbarian.jpg">
            <h2>Beanie The Barbarian<br><span>2016</span></h2>
          </div>
        </label>

        <div id="beanieTheBarbarian" class="overlay">
          <div class="popup">
            <h2>2016</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"Beanie the Barbarian", named after our team mascot "BeanieBot" and this year's game, was our sixth
                robot designed to play the 2016 game FIRST STRONGHOLD. He was designed with a shooting mechanism in the
                center to make top
                goals, and an arm on the back to get trough defenses. It is also out first robot to use vision
                processing, the camera with the blue ring, to find goals, line up, and make a shot.</p>
              <p>FIRST STRONGHOLD is played on a 27' x 54' field. Each alliance commands one tower, five defenses, and a
                'secret passage' which allows their robots to restock on ammunition, called boulders. One defense in
                each alliance's set of
                five, the low bar, is a permanent part of the field. Three defenses are selected strategically by the
                alliance prior to the start of their match. The final defense changes periodically by audience
                selection. During the 2 minutes
                and 15 second match, robots are controlled by student drivers from behind their castle wall at the end
                of the field. Teams on an alliance work together to cross defenses, weaken the opposing tower by scoring
                boulders in it, and
                finally surround, scale and capture the tower.</p>
              <p>Beanie the Barbarian competed in the 2016 Queen City Regional, in Cincinnati, OH. There we were ranked
                34 out of 56. Although we did not get selected for an alliance, we cheered for our friends from Logan,
                WV team 337 (Hard
                Working Hard Hats) who played hard in their final matches.</p>
              <p>In our offseason event WV ROX(West Virginia RObotics eXtreme), we competed with our new drive team and
                finished 16 out of 24. We went on the be on the first alliance with 456(Seige Robotics) and 2641(MARS).
                Playing hard with
                them, we won the event.</p>
            </div>
          </div>
        </div>

        <!-- 2017 -->
        <label for="beaniehemothRadio" class="robotLabel">
          <div class="cover">
            <img alt="2017 Robot" src="../../../../assets/webImages/Robots/Beaniehemoth.jpg">
            <h2>Beaniehemoth<br><span>2017</span></h2>
          </div>
        </label>

        <div id="beaniehemoth" class="overlay">
          <div class="popup">
            <h2>2017</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"Beaniehemoth", named after our team mascot "BeanieBot" and its violent attack on Jack Powers (our head
                programmer), was our seventh robot designed to play the 2017 game FIRST STEAMWORKS. He was designed with
                a slot in his front
                to accept gears and place them on pegs. On his back he as an arm to pick up gears from the floor, it is
                3D printed to fit between the teeth of the gears and clamp down. Finally, in its center there is a spool
                so he can climb in
                the end game. Perhaps Beaniehemoth's most amazing feature is his 6 cim 10 wheel drive, making him on of
                he fastest robots of the season and one of the strongest!</p>
              <p> FIRST&reg; STEAMWORKS, the 2017 FIRST&reg; Robotics Competition game, invites two adventurers’ clubs,
                in an era where steam power reigns, to prepare their airships for a long distance race.</p>
              <p>Each three-team alliance prepares in three ways:</p>
              <ol style="text-align: left;">
                <li><strong>.</strong> Robots collect fuel (balls) and score it in their boiler via high and low
                  efficiency goals. Boilers turn fuel into steam pressure which is stored in the steam tank on their
                  airship – but
                  it takes more fuel in the low efficiency goal to build steam than the high efficiency goal.</li>
                <li><strong>Start rotors.</strong> Robots deliver gears to pilots on their airship for installation.
                  Once the gear train is complete, they turn the crank to start the rotor.</li>
                <li><strong>Prepare for flight.</strong> Robots must latch on to their airship before launch (the end of
                  the match) by ascending their ropes to signal that they’re ready for takeoff.</li>
              </ol>
              <p>Beaniehemoth competed in the 2017 Greater Pittsburgh Regional, in California, PA. There we were ranked
                10 out of 39. We went on to be the first pick of the 6th alliance consisting of teams 4028 (The Beak
                Squad) and 4991
                (Horsepower). We competed hard with them and ended as the regional finalists. Although we did not win
                the regional, our entire alliance was lucky enough to all receive wildcards, 2 from the regional
                winners, and 1 from the
                event's extra, qualifying us for the world championship.</p>
            </div>
          </div>
        </div>

        <!-- 2018 -->
        <label for="gLoughRadio" class="robotLabel">
          <div class="cover">
            <img alt="2018 Robot" src="../../../../assets/webImages/Robots/GLough.jpg">
            <h2>GLough<br><span>2018</span></h2>
          </div>
        </label>

        <div id="gLough" class="overlay">
          <div class="popup">
            <h2>2018</h2>
            <label for="no-robot" class="close robotLabel">&times;</label>
            <div class="robotBio">
              <p>"GLough" was named in loving memory of electrical mentor and father, Glenn Lough, after he passed away
                earlier that year. GLough is our eighth robot and was designed to play in the 2018 FIRST POWER UP game.
                The robot had an intake
                in the front to pick up cubes and place them in switches and scales. GLough also has an elevator that
                can rise up to double his height to place cubes. The most impressive part of GLough is that the elevator
                can lift him up in the
                final stage of the game to climb and defeat the boss.</p>
              <p> FIRST&reg; POWER UP<SUP> SM </SUP>, the 2018 FIRST&reg; Robotics Competition game, includes two
                alliances of video game characters and their human operators who are trapped in an arcade game. Both
                alliances are working to defeat the boss in order to escape!</p>
              <p>Each three-team alliance prepares to defeat the boss in three ways:</p>
              <ol style="text-align: left;">
                <li><strong>Control the Switches and the Scale.</strong> Robots collect Power Cubes and place them on
                  Plates to control Switches or the Scale. When the Scale or their Switch is tipped in their favor, it
                  is considered owned by that Alliance. Alliances work to have ownership for as much time as possible.
                </li>
                <li><strong>Earn Power Ups.</strong> Robots deliver Power Cubes to their humans who then place them into
                  the Vault earning the Alliance Power Ups. Alliances use Power Ups to gain a temporary advantage during
                  the Match. There are three Power Ups available to teams: Force, Boost, and Levitate.</li>
                <ul>
                  <li>Force gives the alliance ownership of the Switch, Scale, or both for a limited period of time.
                  </li>
                  <li>Boost doubles the rate points are earned for a limited period of time,</li>
                  <li>Levitate gives a robot a free climb.</li>
                </ul>
                <li><strong>Climb the Scale.</strong> Robots Climb the Scale in order to be ready to Face The Boss.</li>
              </ol>
              <p>GLough competed in two competitions during the regular season, the Miami Valley Regional in Dayton, OH
                and the Greater Pittsburgh Regional in California, PA. At the Miami Valley Regional we finished ranking
                34 out of 61 teams. At the Greater Pittsburgh Regional we finished rank 4 out of 52 teams and in
                alliance selections ended up being the 3rd alliance captain.
                As alliance captains we chose teams 4522 (Team SCREAM) and 48 (Team E.L.I.T.E.) for finals, but were
                eliminated in quarterfinals. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
