<div id="content">
  <div id="joinPic" #thisJoinPic>
    <div class="joinCover" id="joinCommunityCover"></div>
    <p id="joinText">
      <span id="joinCommOut">Impact</span>
      <br>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <main id="mainJoin">
    <app-box [Title]="'What We Do?'">
      <h4>The Impact Team carries out a role similar to PR in a corporation. We reach out and contact
        partners,
        arrange demonstrations and community service for the team, and strive to spread the message of our team and
        FIRST
        as a whole. We are also in charge of any advertisements or promotions for the team. We achieve this through a
        variety of media forms, be it print, presentation, or social media. In addition, we are trusted with applying
        and
        competing for various FIRST team awards, such as the Chairman's Award.</h4>
    </app-box>

    <app-box [Title]="'Who Does It?'">
      <h4>Virtually anyone can be on the outreach team. We have a variety of students who do tasks such as public
        speaking,
        writing, photographing, video editing, posting on social media, and many more. If you enjoy the robotics team,
        but
        prefer writing or public speaking over building the robot, you may fit best on the Impact Team!</h4>
    </app-box>

    <app-box [Title]="'Interested?'">
      <h4>If you have any questions or are interested joining the team apply <a
          routerLink="../team-application">here</a>.</h4>
    </app-box>
  </main>
</div>