//@import "../../../../../scss/abstracts/variables.scss";

/*ALBUM COVERS*/

#mainMedia {
  text-align: center;
  // needed in wide not mobile? height: 100%;
}

.albums img {
  display: inline-block;
  margin: auto;
  padding: 0.5em;

  -webkit-filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
  filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
}

/*album image:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
  .albums img,
  .wallpaperAccordion {
    width: 20%;
  }
}

/*album image:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
  .albums img,
  .wallpaperAccordion {
    width: 60%;
  }
}
