<app-box [Title]="'Contact Us'">
  <p class="important">Click <a target="_blank" href="">here</a> for our team application form</p>

  <app-form>
    <app-form-element [Type]="'text'" [LabelText]="'Name'" [Required]="true" [Width]="'300px'"></app-form-element>

    <app-form-element [Type]="'text'" [LabelText]="'Email'" [Required]="true" [Width]="'300px'"></app-form-element>

    <app-form-element [Type]="'text'" [LabelText]="'Phone'"></app-form-element>

    <app-form-element [Type]="'area'" [LabelText]="'Message'" [Required]="true" [Width]="'100%'" [Rows]="5">
    </app-form-element>
  </app-form>
</app-box>