.tab {
  height: 0;
  visibility: hidden;
  padding: 0 1em;
  opacity: 0;
  box-sizing: border-box;
  overflow: hidden;
  //text-align: right;

  /*&> div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5em 0;
    text-align: left;
  }*/
}

.showTab{
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}
