<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinProgrammingCover"></div>
    <p id="joinText">
      <span id="joinH1">Programming</span>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <div id="returnArrow">
    <a id="leftArrow" href="/join"><img src="./assets/webImages/previous.svg" /></a>
    <h4>Return to Join Page</h4>
  </div>
  <main id="mainJoin">
    <h2>We are the Programming Team</h2>
    <p>The Programming Team within PARTs is composed of a mentor and multiple students.</p>
    <h2>What Do We Do?</h2>
    <p>We are the group responsible for making the robot move. Of course, we don't build the robot, but just as
      Mechanical or Electrical are important to the robot, without us the shell of the robot could not move.</p>
    <h2>Who Can Program?</h2>
    <p>When it comes to programming, we believe that anyone can do it. We take the time to teach any student regardless
      of programming experience. Most of the students on the Programming Team started out with little to no experience
      at all. Over the years, our mentors has developed training courses to teach students, designed for those who may
      be programming for the first time.</p>
    <p>Programming is like speaking another language. Our language of choice is Java. Java is an object oriented
      programing language perfect for beginners. It is a very organized programming language with a logical flow, that
      is easy for first time programmers to see how the code works.</p>
    <h2>We Hope You Give Programming a Chance!</h2>
    <p style="text-align:center;">If you have any questions or are interested contact the team <a target="_blank"
        href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</p>
    <h3>Check out the links below to learn more about other sub-groups within our team!</h3>
    <table id="subgroups">
      <tr>
        <td>
          <h4>
            <a routerLink="/join/mechanical">Mechanical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/electrical">Electrical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/programming">Programming</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/community-outreach">Community Outreach</a>
          </h4>
        </td>
      </tr>
    </table>
  </main>
</div>
