<app-box [Title]="'Manage Requested Items'">
  <app-table
    [TableCols]="itemTableCols"
    [TableData]="items"
    [Scrollable]="true"
    [Responsive]="true"
    [ShowAddButton]="true"
    (AddRecordCallBack)="editItem()"
    [ShowEditButton]="true"
    (EditRecordCallBack)="editItem($event)"
    [ScrollHeight]="'50rem'"
    >
  </app-table>

  <app-modal [Title]="'Item'" [(Visible)]="itemModalVisible">
    <app-form (SubmitFunction)="saveItem()">
      <app-form-element
        [Type]="'text'"
        [LabelText]="'Name'"
        [(Model)]="activeItem.item_nm"
        [Required]="true"
        [FormGroupInline]="true"
        >
      </app-form-element>

      <app-form-element
        [Type]="'number'"
        [LabelText]="'Quantity'"
        [(Model)]="activeItem.quantity"
        [Required]="true"
        [MinValue]="0"
        [FormGroupInline]="true"
        >
      </app-form-element>

      <app-form-element
        [Type]="'number'"
        [LabelText]="'Donated'"
        [(Model)]="activeItem.sponsor_quantity"
        [Required]="true"
        [MinValue]="0"
        [FormGroupInline]="true"
        [Disabled]="true"
        >
      </app-form-element>

      <app-form-element
        [Type]="'date'"
        [LabelText]="'Reset'"
        [(Model)]="activeItem.reset_date"
        [Required]="true"
        [FormGroupInline]="true"
        >
      </app-form-element>

      <app-form-element
        [Type]="'checkbox'"
        [LabelText]="'Active'"
        [(Model)]="activeItem.active"
        [Required]="true"
        [TrueValue]="'y'"
        [FalseValue]="'n'"
        [FormGroupInline]="true"
      ></app-form-element>

      <app-form-element
        [Type]="'area'"
        [LabelText]="'Description'"
        [FieldSize]="1000"
        [Width]="'100%'"
        [Rows]="5"
        [(Model)]="activeItem.item_desc"
        [Required]="true"
      ></app-form-element>

      <app-form-element
        [Type]="'file'"
        [LabelText]="'Image'"
        [(Model)]="activeItem.img"
        (FunctionCallBack)="previewImageFile()"
      ></app-form-element>
      @if (activeItem.img_url) {
        <img [src]="activeItem.img_url" height="300" />
      }
      @if (!activeItem.img_url) {
        <div id="item-image"></div>
      }

      <app-button-ribbon>
        <app-button [Type]="'submit'" [ButtonType]="'success'">Save</app-button>
      </app-button-ribbon>
    </app-form>
  </app-modal>
</app-box>
