<app-box-side-nav-wrapper>
  <app-side-nav [Width]="'12em'" [Title]="'Scout Manager'">
    <ul id="side-nav">
      <li (click)="page = 'users'" [ngClass]="{'active': page === 'users'}">Users</li>
      <li (click)="page = 'mngSch'" [ngClass]="{'active': page === 'mngSch'}">Schedule</li>
      <li (click)="page = 'mngSeason'" [ngClass]="{'active': page === 'mngSeason'}">Season</li>
      <li (click)="page = 'mngFldQ'" [ngClass]="{'active': page === 'mngFldQ'}">Field Questions</li>
      <li (click)="page = 'mngPitQ'" [ngClass]="{'active': page === 'mngPitQ'}">Pit Questions</li>
      <li (click)="page = 'mngPhnTyp'" [ngClass]="{'active': page === 'mngPhnTyp'}">Phone Types</li>
    </ul>
  </app-side-nav>

  <app-box *ngIf="page === 'users'" [Title]="'Manage Users'">

    <app-table [TableCols]="userTableCols" [TableData]="init.users" [Scrollable]="true" [ShowEditButton]="true"
      (EditRecordCallBack)="showManageUserModal($event)">
    </app-table>

    <app-modal [Title]="'Manage User: ' + activeUser.first_name + ' ' + activeUser.last_name"
      [(visible)]="manageUserModalVisible">
      <app-header [h]="3">User Groups</app-header>
      <div class="flex">
        <div>
          <app-form-element [Type]="'text'" [LabelText]="'First Name:'" [(Model)]="activeUser.first_name"
            [FormGroupInline]="true">
          </app-form-element>
          <app-form-element [Type]="'text'" [LabelText]="'Last Name:'" [(Model)]="activeUser.last_name"
            [FormGroupInline]="true">
          </app-form-element>
          <app-form-element [Type]="'text'" [LabelText]="'Phone Number:'" [(Model)]="activeUser.profile.phone"
            [FormGroupInline]="true">
          </app-form-element>
          <app-form-element [Type]="'select'" [LabelText]="'Carrier:'" [FormGroupInline]="true"
            [(Model)]="activeUser.profile.phone_type" [SelectList]="init.phoneTypes" [BindingProperty]="'phone_type_id'"
            [DisplayProperty]="'carrier'" [DisplayEmptyOption]="true">
          </app-form-element>
        </div>
        <div>
          <app-form-element [Type]="'select'" [LabelText]="'Group:'" [FormInline]="true" [FormGroupInline]="true"
            [(Model)]="newAuthGroup.id" [SelectList]="availableAuthGroups" [BindingProperty]="'id'"
            [DisplayProperty]="'name'" [DisplayEmptyOption]="true">
          </app-form-element>
          <app-button [ButtonType]="'add'" (FunctionCallBack)="addUserGroup()"></app-button>
        </div>
      </div>
      <app-table [TableCols]="userGroupsTableCols" [TableData]="userGroups" [Scrollable]="true"
        [ShowRemoveButton]="true" (RemoveRecordCallBack)="removeUserGroup($event)"></app-table>

      <app-button-ribbon>
        <app-button [ButtonType]="'main'" (FunctionCallBack)="saveUser()">Save</app-button>
      </app-button-ribbon>
    </app-modal>

  </app-box>


  <app-box *ngIf="page === 'mngSch'" [Title]="'Manage Schedule'">
    <app-table [TableTitle]="'Scout Field'" [TableCols]="scoutFieldScheduleTableCols" [TableData]="init.fieldSchedule"
      [Scrollable]="true" [ShowAddButton]="true" (AddRecordCallBack)="showScoutScheduleModal('Add Scout Entry')"
      [ShowEditButton]="true" (EditRecordCallBack)="showScoutScheduleModal('Edit Scout Entry', $event)">
    </app-table>

    <app-button-ribbon>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="notifyUsers(init.fieldSchedule)">Notify</app-button>
    </app-button-ribbon>
    <!--
    <app-table [TableTitle]="'Scout Pit'" [TableCols]="scoutScheduleTableCols" [TableData]="init.pitSchedule"
      [Scrollable]="true" [ShowAddButton]="true" (AddRecordCallBack)="showScoutScheduleModal('Add Scout Entry')"
      [ShowEditButton]="true" (EditRecordCallBack)="showScoutScheduleModal('Edit Scout Entry', $event)">
    </app-table>-->

    <app-button-ribbon>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="notifyUsers(init.fieldSchedule)">Notify</app-button>
    </app-button-ribbon>

    <!--
    <app-table [TableTitle]="'Scout Past'" [TableCols]="pastScoutScheduleTableCols" [TableData]="init.pastSchedule"
      [Scrollable]="true">
    </app-table>
  -->

    <app-modal [Title]="scoutScheduleModalTitle" [(visible)]="scoutScheduleModalVisible">
      <app-form>
        <app-form-element-group [LabelText]="'New Entry'">

          <app-form-element [LabelText]="'Red One'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.red_one" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [LabelText]="'Red Two'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.red_two" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [LabelText]="'Red Three'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.red_three" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [LabelText]="'Blue One'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.blue_one" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [LabelText]="'Blue Two'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.blue_two" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [LabelText]="'Blue Three'" [FormGroup]="true" [Type]="'select'" [SelectList]="init.users"
            [DisplayProperty]="'first_name'" [DisplayProperty2]="'last_name'" [DisplayEmptyOption]="true"
            [(Model)]="scoutFieldSchedule.blue_three" [FormGroupInline]="true"
            [SelectValidityFunction]="compareUserObjects">
          </app-form-element>
          <app-form-element [Type]="'datetime'" [FormGroup]="true" [LabelText]="'Start Time'"
            [(Model)]="scoutFieldSchedule.st_time" (FunctionCallBack)="setEndTime()">
          </app-form-element>
          <app-form-element [Type]="'datetime'" [FormGroup]="true" [LabelText]="'End Time'"
            [(Model)]="scoutFieldSchedule.end_time">
          </app-form-element>

          <app-form-element *ngIf="scoutFieldSchedule.scout_field_sch_id" [Type]="'checkbox'" [FormGroup]="true"
            [LabelText]="'Delete?'" [(Model)]="scoutFieldSchedule.void_ind" [TrueValue]="'y'" [FalseValue]="'n'">
          </app-form-element>

          <app-button-ribbon>
            <app-button [ButtonType]="'main'" (FunctionCallBack)="saveScoutFieldScheduleEntry()">Save</app-button>
          </app-button-ribbon>
        </app-form-element-group>
      </app-form>
    </app-modal>

  </app-box>

  <app-box *ngIf="page === 'mngSeason'" [Title]="'Manage Season'">
    <app-form-element-group [LabelText]="'Sync/Set Season'" [InlineElements]="true">
      <app-form-element [Type]="'select'" [LabelText]="'Seasons'" [SelectList]="init.seasons"
        [DisplayEmptyOption]="true" [DisplayProperty]="'season'" [BindingProperty]="'season_id'" [(Model)]="season"
        (ModelChange)="buildEventList()">
      </app-form-element>
      <app-form-element [Type]="'select'" [LabelText]="'Events'" [SelectList]="eventList" [DisplayEmptyOption]="true"
        [DisplayProperty]="'event_nm'" [BindingProperty]="'event_id'" [(Model)]="event">
      </app-form-element>
      <app-button *ngIf="season" [ButtonType]="'main'" (FunctionCallBack)="syncSeason()">Sync Season</app-button>
      <app-button *ngIf="season" [ButtonType]="'main'" (FunctionCallBack)="setSeason()">Set Season/Event</app-button>
    </app-form-element-group>

    <app-form-element-group [LabelText]="'Add/Delete Season'" [InlineElements]="true">
      <app-form-element [Type]="'number'" [LabelText]="'Season'" [Width]="'6em'" [(Model)]="newSeason">
      </app-form-element>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="addSeason()">Add Season</app-button>
      <app-form-element [Type]="'select'" [LabelText]="'Seasons'" [SelectList]="init.seasons"
        [DisplayEmptyOption]="true" [DisplayProperty]="'season'" [BindingProperty]="'season_id'" [(Model)]="delSeason">
      </app-form-element>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="deleteSeason()">Delete Season</app-button>
    </app-form-element-group>

    <app-form-element-group [LabelText]="'Response'" *ngIf="syncSeasonResponse.retMessage">
      <p class="word-break">{{syncSeasonResponse.retMessage}}</p>
    </app-form-element-group>
  </app-box>

  <app-box *ngIf="page === 'mngFldQ'" [Title]="'Manage Field Questions'">
    <app-question-admin-form [questionType]="'field'" [runInit]="manageScoutFieldQuestions"></app-question-admin-form>
  </app-box>

  <app-box *ngIf="page === 'mngPitQ'" [Title]="'Manage Pit Questions'">
    <app-question-admin-form [questionType]="'pit'" [runInit]="manageScoutPitQuestions"></app-question-admin-form>
  </app-box>

  <app-box *ngIf="page === 'mngPhnTyp'" [Title]="'Manage Phone Types'">
    <app-form-element *ngIf="!newPhoneType" [Type]="'select'" [LabelText]="'Carrier:'" [FormGroupInline]="true"
      [(Model)]="phoneType" [SelectList]="init.phoneTypes" [DisplayProperty]="'carrier'" [DisplayEmptyOption]="true">
    </app-form-element>
    <app-button *ngIf="!newPhoneType" [ButtonType]="'main'" (FunctionCallBack)="toggleNewPhoneType()">New Phone Type
    </app-button>
    <app-button *ngIf="newPhoneType" [ButtonType]="'main'" (FunctionCallBack)="toggleNewPhoneType()">Edit Phone Type
    </app-button>

    <app-form-element [Type]="'text'" [LabelText]="'Carrier:'" [FormElementInline]="true" [(Model)]="phoneType.carrier">
    </app-form-element>
    <app-form-element [Type]="'text'" [LabelText]="'Address:'" [FormElementInline]="true"
      [(Model)]="phoneType.phone_type"></app-form-element>

    <app-button-ribbon>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="savePhoneType()">Save</app-button>
    </app-button-ribbon>
  </app-box>

</app-box-side-nav-wrapper>