<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinProgrammingCover"></div>
    <p id="joinText">
      <span id="joinH1">Programming</span>
      <br>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <main id="mainJoin">
    <app-box [Title]="'We are the Programming Team!'">
      <h4>The Programming Team within PARTs is composed of a mentor and multiple students.</h4>
    </app-box>

    <app-box [Title]="'What Do We Do?'">
      <h4>We are the group responsible for making the robot move. Of course, we don't build the robot, but just as
        Mechanical or Electrical are important to the robot, without us the shell of the robot could not move.</h4>

      <h4>Programming is like speaking another language. Our language of choice is Java. Java is an object oriented
        programing language perfect for beginners. It is a very organized programming language with a logical flow, that
        is easy for first time programmers to see how the code works.</h4>
    </app-box>

    <app-box [Title]="'Who Can Program?'">
      <h4>When it comes to programming, we believe that anyone can do it. We take the time to teach any student
        regardless
        of programming experience. Most of the students on the Programming Team started out with little to no experience
        at all. Over the years, our mentors has developed training courses to teach students, designed for those who may
        be programming for the first time.</h4>
    </app-box>

    <app-box [Title]="'Who Can Program?'">
      <h4>When it comes to programming, we believe that anyone can do it. We take the time to teach any student
        regardless
        of programming experience. Most of the students on the Programming Team started out with little to no experience
        at all. Over the years, our mentors has developed training courses to teach students, designed for those who may
        be programming for the first time.</h4>
    </app-box>

    <app-box [Title]="'We Hope You Give Programming a Chance!'">
      <h4>If you have any questions or are interested contact the team <a target="_blank"
          href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</h4>
    </app-box>
  </main>
</div>