<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinProgrammingCover"></div>
    <p id="joinText">
      <span id="joinH1">Programming</span>
      <br>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <main id="mainJoin">
    <app-box [Title]="'Sign up for PARTs Summer Programming Class'">
      <h4>This summer PARTs is offering a class to students interested in programming for our team. In the class you
        will learn the
        basics of Java programming and how to apply that knowledge to programming a FIRST Robotics robot. When we are
        done each student will
        program the robot to drive and get to test their code.
      </h4>
      <h4>
        The dates for our class is: July 8th & 9th and 15th & 16th, from 9am to 5pm @ Winfield Middle School. Room 8 at
        the back drop off loop.
      </h4>
      <h4>Please be available for all 4 days as we will be building our knowledge each day. Also, there is the
        potential for a (1) weekday study session which will be announced during the first two days, this will be
        optional
        but highly
        recommended. Everyday please bring either your
        personal pc (you are responsible for it)
        or your Putnam Co issued school pc. If you are a non-public Putnam Co student and have neither please let us
        know and arrangements
        will be made. Lunch is not provided any of the days so please pack a lunch or bring money and be comfortable
        with students walking to
        to get lunch.
      </h4>
      <app-button-ribbon [TextAlign]="'center'">
        <app-button
          (FunctionCallBack)="openURL('https://docs.google.com/forms/d/e/1FAIpQLScO23DWoslplYOSNvB0pMO2U7QgIsfIPSg-UoB9rVUfe2kNug/viewform?usp=sf_link')">
          REGISTER</app-button>
      </app-button-ribbon>
    </app-box>

    <app-box [Title]="'What Do We Do?'">
      <h4>We are the group responsible for making the robot move. Of course, we don't build the robot, but just as
        Mechanical or Electrical are important to the robot, without us the shell of the robot could not move.</h4>

      <h4>Programming is like speaking another language. Our language of choice is Java. Java is an object oriented
        programing language perfect for beginners. It is a very organized programming language with a logical flow, that
        is easy for first time programmers to see how the code works.</h4>
    </app-box>

    <app-box [Title]="'Who Can Program?'">
      <h4>When it comes to programming, we believe that anyone can do it. We take the time to teach any student
        regardless
        of programming experience. Most of the students on the Programming Team started out with little to no experience
        at all. Over the years, our mentors has developed training courses to teach students, designed for those who may
        be programming for the first time.</h4>
    </app-box>

    <app-box [Title]="'Who Can Program?'">
      <h4>When it comes to programming, we believe that anyone can do it. We take the time to teach any student
        regardless
        of programming experience. Most of the students on the Programming Team started out with little to no experience
        at all. Over the years, our mentors has developed training courses to teach students, designed for those who may
        be programming for the first time.</h4>
    </app-box>

    <app-box [Title]="'We Hope You Give Programming a Chance!'">
      <h4>If you have any questions or are interested contact the team <a target="_blank"
          href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</h4>
    </app-box>
  </main>
</div>