<app-box [Title]="'Manage Flows'">
  <app-table
    [TableCols]="flowTableCols"
    [TableData]="flows"
    [ShowAddButton]="true"
    (AddRecordCallBack)="showFlowModal()"
    [ShowEditButton]="true"
    (EditRecordCallBack)="showFlowModal($event)"
    [Scrollable]="true"
  >
  </app-table>

  <app-modal [(visible)]="flowModalVisible" [Title]="'Manage Flow'">
    @if(activeFlow) {
    <app-form (SubmitFunction)="saveFlow()">
      <app-form-element
        [Type]="'text'"
        [LabelText]="'Flow Name'"
        [(Model)]="activeFlow.name"
        [Required]="true"
      ></app-form-element>

      @if(FormMetadata) {
      <app-form-element
        [Type]="'select'"
        [LabelText]="'Form Sub Type'"
        [SelectList]="FormMetadata.form_sub_types"
        [MinWidth]="'200px'"
        [DisplayProperty]="'form_sub_nm'"
        [(Model)]="activeFlow.form_sub_typ"
        [DisplayEmptyOption]="true"
        [FormGroup]="true"
        [FormGroupInline]="true"
        [Required]="true"
      >
      </app-form-element>
      }

      <app-form-element
        [Type]="'checkbox'"
        [LabelText]="'Single Run'"
        [(Model)]="activeFlow.single_run"
      ></app-form-element>

      <app-form-element
        [Type]="'checkbox'"
        [LabelText]="'Delete'"
        [TrueValue]="'y'"
        [FalseValue]="'n'"
        [(Model)]="activeFlow.void_ind"
      ></app-form-element>
      @if (FormMetadata) {
      <div class="flex align-items-center gap-1rem">
        <app-form-element
          [Type]="'select'"
          [LabelText]="'Question'"
          [SelectList]="questions"
          [MinWidth]="'200px'"
          [DisplayProperty]="'display_value'"
          [(Model)]="question"
          [DisplayEmptyOption]="true"
          [FormGroup]="true"
          [FormGroupInline]="true"
        >
        </app-form-element>

        <app-button
          class="padding-bottom-2rem"
          [ButtonType]="'add'"
          (FunctionCallBack)="pushQuestion()"
        ></app-button>
      </div>
      }

      <app-table
        [TableName]="'Questions'"
        [TableCols]="questionTableCols"
        [TableData]="activeFlow.questions"
        [Width]="'100%'"
        [ShowRemoveButton]="true"
        [Scrollable]="true"
      >
      </app-table>

      <app-button-ribbon>
        <app-button [Type]="'submit'" [ButtonType]="'success'">Save</app-button>
      </app-button-ribbon>
    </app-form>
    }
  </app-modal>
</app-box>
