//Globla Variables
$background: #f9f9f9;
$fontColor: #2F2F2F;
$hoverColor: #0065C4;

// Normalize old ones
$main_color: #2E3094;
$accent_color: #FF6A00;

$gray: #676767;

// Update in navigation component
//$screen_size_wide: 1175px;
//$screen_size_narrow: 1174px;
$screen-size-xlg: 1050px;
$screen-size-xlg-lower-range: 1049px;
$screen-size-lg: 768px;
$screen-size-sm: 767px;
$screen-size-sm-lower-range: 577px;
$screen-size-xs: 576px;

////////////////////////////
//Globla Variables
$fontColor: #5B5B5B;
$hoverColor:#FF6A00;
//main Variables
$mainColor: #2E3094;
$mainColorShade: #262977;
$mainAccent: #676767;
//navigation Variables
$navHoverColor: #808080;
$navHam: $navHoverColor;
$navHamAccent: gray;
//footer Variables
$footerAccent: darken($fontColor, 20%);
$footerColor: lighten($fontColor, 20%);
//resources Variables
$cardBackgrounds: #D6D6D6;
$buttonHover: #262626;
