<div id="content">
  <main id="mainMedia">
    <app-return-card [Title]="'Click an image to visit its album'" [RouterLink]="'/media'"></app-return-card>
    <input id="wallpapers" name="wallpapers" type="radio" name="wallpapers" style="display: none;" />
    <label for="wallpapers">
      <div class="wallpapers">
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-1" name="accordion-1" type="radio" name="wallpapers" />
            <label for="ac-1">
              <img class="album" src="/albumCovers/Wallpapers/4K2.png" />
              <!--4k-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/jJUwS9i9rYK5Cu97A">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-2" name="accordion-2" type="radio" name="wallpapers" />
            <label for="ac-2">
              <img class="album" src="/albumCovers/Wallpapers/4K.png" />
              <!--4k-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/uD2AqRXSMwaiwu6T7">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/EDcuGY7t646zY8Ht9">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/uLfpY26VKaDfsP3z5">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-3" name="accordion-3" type="radio" name="wallpapers" />
            <label for="ac-3">
              <img class="album" src="/albumCovers/Wallpapers/SimpleBot.png" />
              <!--simple bot-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/PEA7xVA7ZkAhPyMg8">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/aJdq48kctFf2fRQaA">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/xMcAhSHXZSh42Y5y5">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-4" name="accordion-4" type="radio" name="wallpapers" />
            <label for="ac-4">
              <img class="album" src="/albumCovers/Wallpapers/DarkBeanieBot.png" />
              <!--dark beanie bot-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/1zrARLqNFrpcWCcP6">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/rzXLzhoPEfFSYdj26">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/3UxWMk6gfkkMiDQ89">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-5" name="accordion-5" type="radio" name="wallpapers" />
            <label for="ac-5">
              <img class="album" src="/albumCovers/Wallpapers/8Bit.png" />
              <!--8bit-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/QcUSf2A6kZc3mt3v8">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/nxAyfwRhUX7fM1U38">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/W3Yozrcfdf48VKFaA">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-6" name="accordion" type="radio" name="wallpapers" />
            <label for="ac-6">
              <img class="album" src="/albumCovers/Wallpapers/MaterialDesign.png" />
              <!--material-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/hG9wVUMwSv6q4opn6">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/bUcQQjtESoVFeeLM9">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/46Tg68jRd2dGPFEo6">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-7" name="accordion-7" type="radio" name="wallpapers" />
            <label for="ac-7">
              <img class="album" src="/albumCovers/Wallpapers/Galaxy.png" />
              <!--galaxy-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/56zHssUizVsGPjKy7">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/AaujVu35f2JbSiFG6">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/cTWE3F5SJf6cVqD78">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-8" name="accordion-8" type="radio" name="wallpapers" />
            <label for="ac-8">
              <img class="album" src="/albumCovers/Wallpapers/PeaceLoveBeanieBot.png" />
              <!--peace love beanie-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/RBwyyNRSV6kf1ax68">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/qHQKUpHPodc9nZE26">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="wallpaperAccordion">
          <div>
            <input id="ac-9" name="accordion-9" type="radio" name="wallpapers" />
            <label for="ac-9">
              <img class="album" src="/albumCovers/Wallpapers/BeanieBot.png" />
              <!--beanie bot-->
            </label>
            <div class="article ac-small">
              <table>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/LrUnUYa8HRHN39GUA">Phone</a>
                    </h2>
                    <!--phone-->
                  </td>
                </tr>
                <tr>
                  <td class="downloadLine">
                    <h2><a target="_blank" href="https://photos.app.goo.gl/1viuG5jcrgpVTpxz5">Tablet</a>
                    </h2>
                    <!--tab-->
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2><a target="_blank" href="https://photos.app.goo.gl/JnoHZ4AMr6W8RXSu5">Desktop</a>
                    </h2>
                    <!--desktop-->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </label>
  </main>
</div>