<div id="content">
  <main id="mainMedia">
    <table id="topMedia">
      <tr>
        <td id="blockLR">
          <a id="leftArrow" routerLink=".."><img src="../../../../../assets/webImages/previous.svg"
              alt="Previous" /></a>
        </td>
        <td>
          <h1>Click an Image to Download</h1>
        </td>
        <td id="blockLR">
        </td>
      </tr>
    </table>
    <div class="wallpapers">
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-2" name="accordion-2" type="checkbox" />
          <label for="ac-2">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/4K.png" />
            <!--4k-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOrgoB_hWK8hoRvBTH836rkXJ6gHb4_FAr-Qgze/photo/AF1QipNgZqn5rE34gOgPxpsnxQlmJjM_KAQ_FMZQqNXV">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOrgoB_hWK8hoRvBTH836rkXJ6gHb4_FAr-Qgze/photo/AF1QipPONUVZQd4sfHY4iNN174sxz7E09yF63q698t0G">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOrgoB_hWK8hoRvBTH836rkXJ6gHb4_FAr-Qgze/photo/AF1QipP7NKcIWOR_HicR_2DXJIbgAKt3AQnPw1ugCVxV">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-3" name="accordion-3" type="checkbox" />
          <label for="ac-3">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/SimpleBot.png" />
            <!--simple bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipORQDc5YJTyRcoIjCGS1AVp6MqnBngGPp_mTm7W/photo/AF1QipNfgeB6eUh7gmIOaAnBH_O2Ad_h8j75PHtkUg6t">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipORQDc5YJTyRcoIjCGS1AVp6MqnBngGPp_mTm7W/photo/AF1QipNU4TE2TzKUKUuOPi4TPIem1A04VXThysEcIpWC">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipORQDc5YJTyRcoIjCGS1AVp6MqnBngGPp_mTm7W/photo/AF1QipNV5S6_OimZ7WXSnlfwvYUDIcGFuOMbJBgjJIvG">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-4" name="accordion-4" type="checkbox" />
          <label for="ac-4">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/DarkBeanieBot.png" />
            <!--bark beanie bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMx2xg981Q3j1yny7R3xa6TAqpHVhFLkOe_kzVe/photo/AF1QipNSIgMXEnHPAYysRLk7CjN-OJdGd1JQ5OBlruNa">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMx2xg981Q3j1yny7R3xa6TAqpHVhFLkOe_kzVe/photo/AF1QipOUyc5DGv3h5fXGcRp16lGQ9pkZbyEfLAdQz1ZL">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMx2xg981Q3j1yny7R3xa6TAqpHVhFLkOe_kzVe/photo/AF1QipNmw2PSkvTAwvmttJdhMGI9JySHl8dkmYUs9Vny">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-5" name="accordion-5" type="checkbox" />
          <label for="ac-5">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/8Bit.png" />
            <!--8bit-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipPdKCJmkS6lKtGdtzoLSHCG7aj-NrLSwrxLeBmL/photo/AF1QipMr03_yGvx0jeB5YOum__rwCj-MyFsXllJQPeVK">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipPdKCJmkS6lKtGdtzoLSHCG7aj-NrLSwrxLeBmL/photo/AF1QipMiBfvUOHP4jl3ixl_iT1TIOb3H4e6YePenhF7I">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipPdKCJmkS6lKtGdtzoLSHCG7aj-NrLSwrxLeBmL/photo/AF1QipPZfLoKoQeAEGrOJIroFNxFdZoMV_-yhw4IUSsz">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-6" name="accordion" type="checkbox" />
          <label for="ac-6">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/MaterialDesign.png" />
            <!--material-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOsdvkgxs4xh3itbHrM1w0W1ipvxTMh97MJJLVk/photo/AF1QipPeMOZtRWLGtolhWcpDQiYmkTdezH-Dn1QZh7nz">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOsdvkgxs4xh3itbHrM1w0W1ipvxTMh97MJJLVk/photo/AF1QipPU8XKrU7Bqns0Kz6Qes6EpaCh4FceBG66iKUai">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipOsdvkgxs4xh3itbHrM1w0W1ipvxTMh97MJJLVk/photo/AF1QipMlbQlcthzzRiBhYvUmXLEGoKn0ZVsVMj12dSO4">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-7" name="accordion-7" type="checkbox" />
          <label for="ac-7">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/Galaxy.png" />
            <!--galaxy-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMmp8fQXzvkCfnly4blCS3tGVMCiAJNW3Dm7z9Y/photo/AF1QipOUBjLpUs9sjbE42xVp4zP_SOco6R5Pz9dqjF1a">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMmp8fQXzvkCfnly4blCS3tGVMCiAJNW3Dm7z9Y/photo/AF1QipNiPGZm_4zex8rnAV2xlwhidOCAivy4lG_NOlKJ">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipMmp8fQXzvkCfnly4blCS3tGVMCiAJNW3Dm7z9Y/photo/AF1QipPr3oDvoNM7utJwi59TXzgFno2Hy5QXOzfMBsGT">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-8" name="accordion-8" type="checkbox" />
          <label for="ac-8">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/PeaceLoveBeanieBot.png" />
            <!--peace love beanie-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipPwUbA70llU-HABS0_KrqQazXk9vI05Tys9LTdV/photo/AF1QipM2-iMfT7fA2L42MyX3zT_KZMnj1lDdsYUtvp6s">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipPwUbA70llU-HABS0_KrqQazXk9vI05Tys9LTdV/photo/AF1QipMbckbCVxns8-YDaM1gZR3E7wYHymCYQnAS3gXF">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-9" name="accordion-9" type="checkbox" />
          <label for="ac-9">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/BeanieBot.png" />
            <!--beanie bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipP9oGwx6oIGMDaiRwVftmsDWxiyNwJxyWJHtPqA/photo/AF1QipMZhJy7VpftLdowVjOS7c9UsQWj-oLDIGmHexd7">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipP9oGwx6oIGMDaiRwVftmsDWxiyNwJxyWJHtPqA/photo/AF1QipN-XpcyKPZNOpnKvJfORS_48363LlH1gdqc829V">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="https://photos.google.com/u/1/album/AF1QipP9oGwx6oIGMDaiRwVftmsDWxiyNwJxyWJHtPqA/photo/AF1QipNv5kEY2glQiFGQIgflw9UZltuTn0eSrZGsP9Pt">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
