<div id="content">
  <main id="mainMedia">
    <table id="topMedia">
      <tr>
        <td id="blockLR">
          <a id="leftArrow" routerLink=".."><img src="../../../../../assets/webImages/previous.svg"
              alt="Previous" /></a>
        </td>
        <td>
          <h1>Click an Image to Download</h1>
        </td>
        <td id="blockLR">
        </td>
      </tr>
    </table>
    <div class="wallpapers">
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-2" name="accordion-2" type="checkbox" />
          <label for="ac-2">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/4K.png" />
            <!--4k-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot4k/Beaniebot4KS6.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot4k/Beaniebot4KNote.png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot4k/Beaniebot4K.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-3" name="accordion-3" type="checkbox" />
          <label for="ac-3">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/SimpleBot.png" />
            <!--simple bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Simple Bot/SimpleBotGS6.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Simple Bot/SimpleBotGN10.1(2014).png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Simple Bot/SimpleBotDesktop.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-4" name="accordion-4" type="checkbox" />
          <label for="ac-4">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/DarkBeanieBot.png" />
            <!--bark beanie bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Dark Beanie Bot/Dark Beanie Bot Phone.jpg">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Dark Beanie Bot/Dark Beanie Bot Tablet.jpg">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Dark Beanie Bot/Dark Beanie Bot Desktop.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-5" name="accordion-5" type="checkbox" />
          <label for="ac-5">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/8Bit.png" />
            <!--8bit-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/8BitBeanieBot/8BitGalaxyS4,iPhone 5,5sGrey.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/8BitBeanieBot/8BitBeanieBotNexus7(2012)Grey.png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/8BitBeanieBot/8BitBeanieBotDesktopGrey.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-6" name="accordion" type="checkbox" />
          <label for="ac-6">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/MaterialDesign.png" />
            <!--material-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492MaterialDesign/3492MaterialDesignGalaxyS4,iPhone 5,5s.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492MaterialDesign/3492MaterialDesignGalaxyNote10_1-2014.png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492MaterialDesign/3492MaterialDesignDesktop.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-7" name="accordion-7" type="checkbox" />
          <label for="ac-7">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/Galaxy.png" />
            <!--galaxy-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492Galaxy/3492GalaxyGalaxyS4.jpg">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492Galaxy/3492GalaxyGalaxyNote10_1-2014.png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/3492Galaxy/3492GalaxyDesktop.jpg">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-8" name="accordion-8" type="checkbox" />
          <label for="ac-8">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/PeaceLoveBeanieBot.png" />
            <!--peace love beanie-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Peace,Love,3492/Peace,Love,3492Phone.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/Peace,Love,3492/Peace,Love,3492Desktop.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="wallpaperAccordion">
        <div>
          <input id="ac-9" name="accordion-9" type="checkbox" />
          <label for="ac-9">
            <img class="album" src="../../../../../assets/albumCovers/Wallpapers/BeanieBot.png" />
            <!--beanie bot-->
          </label>
          <div class="article ac-small">
            <table>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot/GalaxyS4,iPhone 5,5s.png">Phone</a>
                  </h2>
                  <!--phone-->
                </td>
              </tr>
              <tr>
                <td class="downloadLine">
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot/ipad.png">Tablet</a>
                  </h2>
                  <!--tab-->
                </td>
              </tr>
              <tr>
                <td>
                  <h2><a target="_blank"
                      href="../../../../../assets/beanieBotWallpapers/BeanieBot/DesktopWallpaper.png">Desktop</a>
                  </h2>
                  <!--desktop-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
