.card{
  width: 100%;
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
}

.box-content {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.collapse {
  position: absolute;
}
