<app-box [Title]="'Manage Field Questions'">
    <app-form-element-group [LabelText]="'Field Image'">

        <app-form-element [Type]="'file'" [(Model)]="fieldForm.img"
            (FunctionCallBack)="previewImage()"></app-form-element>

        <div>
            <div #imageContainer id="image-container" (mousedown)="mouseDown($event)" (mousedown)="mouseDown($event)"
                (mousemove)="mouseMove($event)">
                <img #image id="image" *ngIf="fieldForm.img_url" [src]="fieldForm.img_url">
                <div #box id="box"></div>
            </div>
            <app-form-element *ngIf="formMetadata.form_sub_types && formMetadata.form_sub_types.length > 0"
                [Type]="'select'" [LabelText]="'Form Sub Type'" [SelectList]="formMetadata.form_sub_types"
                [MinWidth]="'200px'" [DisplayProperty]="'form_sub_nm'" [(Model)]="selectedFormSubType"
                [DisplayEmptyOption]="true" [FormGroup]="true" [FormGroupInline]="true"
                (FunctionCallBack)="buildQuestionFlowOptions()">
            </app-form-element>

            <app-form-element [Type]="'select'" [LabelText]="'Question Flow'" [SelectList]="availableQuestionFlows"
                [MinWidth]="'200px'" [DisplayProperty]="'name'" [(Model)]="selectedQuestionFlow"
                (FunctionCallBack)="log()" [DisplayEmptyOption]="true" [FormGroup]="true" [FormGroupInline]="true">
            </app-form-element>

            <app-table *ngIf="selectedQuestionFlow.questions && selectedQuestionFlow.questions.length > 0"
                [TableCols]="questionFlowTableCols" [TableData]="selectedQuestionFlow.questions" [Width]="'100%'"
                [Scrollable]="true" [ScrollHeight]="'40vh'">
            </app-table>
        </div>
    </app-form-element-group>

    <app-question-admin-form [formType]="formType" [runInit]="manageScoutFieldQuestions">
    </app-question-admin-form>
</app-box>