#item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  //grid-auto-rows: 50rem;

  .item-grid-item {
    .item-info {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .item-quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
