<app-box [Title]="'Welcome to PARTs Pit Shop!'">
    <p>Help up by sponsoring some parts, choose some parts, give us your information and well contact you for your
        donation.
        Use this shop as a way to know exactly what we need and donate towards specific items.
        We greatly appreciate all parts donated!
    </p>
    <p>
        Select a quantity of each item to donate and add it to your cart then check out and supply your information.
        Your cart count will reflect the amount of unique items selected, also you can donate more than the requested
        amount
        of an item below.
    </p>
    <app-button-ribbon>
        <span>
            {{ cart.length }}
            <mat-icon class="icon" [svgIcon]="cart.length > 0 ? 'cart' : 'cart-outline'"></mat-icon>
            <p>Cart</p>
        </span>
        <app-button (FunctionCallBack)="openCartModal()">View Cart</app-button>
    </app-button-ribbon>
</app-box>

<app-modal [Title]="'Cart'" [(visible)]="cartModalVisible">
    <app-table [TableCols]="cartTableCols" [TableData]="cart" [Scrollable]="true" [Responsive]="true"
        [ScrollHeight]="'50rem'" [ShowRemoveButton]="true" (RemoveRecordCallBack)="removeCartItem($event)">
    </app-table>

    <app-form>
        <app-form-element-group [LabelText]="'Information'">
            <app-form-element [Type]="'select'" [SelectList]="sponsors" [LabelText]="'Existing Sponsors'">
            </app-form-element>
            <app-form-element [Type]="'text'" [LabelText]="'Sponsor Name'" [(Model)]="activeSponsor.sponsor_nm"
                [FormGroupInline]="true">
            </app-form-element>
            <app-form-element [Type]="'email'" [LabelText]="'Email'" [(Model)]="activeSponsor.email"
                [FormGroupInline]="true"></app-form-element>
            <app-form-element [Type]="'phone'" [LabelText]="'Phone'" [(Model)]="activeSponsor.phone"
                [FormGroupInline]="true"></app-form-element>
            <app-button-ribbon>
                <app-button [ButtonType]="'main'" [Type]="'submit'">Submit Order</app-button>
            </app-button-ribbon>
        </app-form-element-group>
    </app-form>
</app-modal>

<div id="item-grid">
    <div *ngFor="let item of items" class="item-grid-item">
        <app-box [Title]="item.item_nm" [Height]="'calc(100% - 2em)'">
            <div class="item-info">
                <div>
                    <div [id]="'item' + item.item_id" appOnCreate
                        (onCreate)="previewImage(item.img_url, 'item' + item.item_id)">
                    </div>
                    <p>Requested: {{ item.quantity }}</p>
                    <p>{{ item.item_desc }}</p>
                </div>
                <div class="item-quantity">
                    <app-form-element [Type]="'number'" [LabelText]="'Quantity'" [(Model)]="item.sponsor_quantity"
                        [MinValue]="0" [FormGroupInline]="true">
                    </app-form-element>
                    <app-button [ButtonType]="'cart-plus'" (FunctionCallBack)="addItemToCart(item)"></app-button>
                </div>
            </div>
        </app-box>
    </div>
</div>