@import "../../../../../scss/abstracts/variables.scss";

#checkout {
  display: flex;
  align-items: center;
  color: white;

  .icon {
    fill: white;
  }
}

#item-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  //grid-auto-rows: 50rem;

  @media screen and (max-width: calc($screen-size-xs - 1px)) {
    .item-pic {
      width: 20rem;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: $screen-size-xs) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $screen-size-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: $screen-size-xxlg) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: $screen-size-xxxlg) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (min-width: $screen-size-xxxxlg) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (min-width: $screen-size-xxxxxlg) {
    grid-template-columns: repeat(7, 1fr);
  }

  @media screen and (min-width: $screen-size-xxxxxxlg) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media screen and (min-width: $screen-size-xxxxxxxlg) {
    grid-template-columns: repeat(9, 1fr);
  }

  .item-grid-item {
    .item-info {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      .item-pic {
        position: relative;
        padding-bottom: 100%;
        /*to find % aspect ratio, (height/width)100*/
        height: 0;

        .item-pic-img {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      .item-desc {
        padding-top: 1rem;
      }

      .item-quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
