<div id="content">
  <main id="mainMedia">
    <table id="topMedia">
      <tr>
        <td id="blockLR">
          <a id="leftArrow" routerLink=".."><img src="../../../../../assets/webImages/previous.svg"
              alt="Previous" /></a>
        </td>
        <td>
          <h1>Click an Image to Visit Its Album</h1>
        </td>
        <td id="blockLR">
        </td>
      </tr>
    </table>
    <div class="albums">
      <a target="_blank" href="https://photos.app.goo.gl/XB5Kjijcea2MJYWs7"><img
          src="../../../../../assets/albumCovers/BuildSeason/2015BuildSeason.png" /></a>
      <!--build 15-->
      <a target="_blank" href="https://photos.app.goo.gl/FYiZQNhE6jMJEwxE8"><img
          src="../../../../../assets/albumCovers/BuildSeason/2013BuildSeason.png" /></a>
      <!--build 13-->
      <a target="_blank" href="https://photos.app.goo.gl/rNxaWNJYkMMHtU5W6"><img
          src="../../../../../assets/albumCovers/BuildSeason/2012BuildSeason.png" /></a>
      <!--build 12-->
    </div>
  </main>
</div>
