<app-box *ngIf="page === 'users'" [Title]="'Manage Users'">
</app-box>

<app-box *ngIf="page === 'mngSch'" [Title]="'Manage Schedule'">
</app-box>

<app-box *ngIf="page === 'mngSeason'" [Title]="'Manage Season'">

</app-box>

<app-box *ngIf="page === 'scoutAct'" [Title]="'Scouting Activity'">

</app-box>

<app-box *ngIf="page === 'mngFldQ'" [Title]="'Manage Field Questions'">

</app-box>

<app-box *ngIf="page === 'mngFldQAgg'" [Title]="'Manage Field Question Aggregates'">

</app-box>

<app-box *ngIf="page === 'mngFldQCond'" [Title]="'Manage Field Question Conditions'">

</app-box>

<app-box *ngIf="page === 'mngPitQ'" [Title]="'Manage Pit Questions'">
</app-box>

<app-box *ngIf="page === 'mngPitQCond'" [Title]="'Manage Pit Question Conditions'">
</app-box>

<app-box *ngIf="page === 'mngFldRes'" [Title]="'Manage Field Responses'">

</app-box>

<app-box *ngIf="page === 'mngPitRes'" [Title]="'Manage Pit Responses'">

</app-box>