//form element
.mat-calendar-body-today {
  background-color: lighten($accent_color, 20%) !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}

.date-form-control {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 40px;
  overflow: hidden;

  & > div > mat-form-field > div > div {
    background-color: white !important;

    & > div > input {
      padding: 0 0 0.6rem 2rem;
    }
  }

  & > div {
    position: absolute;
    //top: 50%;
    bottom: -3px;
    left: 80px;
    //transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%);
    background-color: white;

    &::after {
      content: " ";
      display: block;
      //background-color: white;
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: 12px;
      left: 0;
    }
  }

  .mat-datepicker-toggle {
    position: absolute;
    top: -33px;
    right: -49px;
  }
}

.mat-datepicker-content {
  background-color: #fff !important;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1) !important;
  border-radius: 4px !important;
}

.mat-form-field-appearance-legacy
  .mat-form-field-suffix
  .mat-datepicker-toggle-default-icon {
  width: 2em !important;
}
