@import "../../../../../scss/abstracts/variables.scss";

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
  margin: 0 auto;
  width: 90%;

  /*MOBILE NAV*/
  @media only screen and (max-width: $screen-size-sm) {
    width: 100%;
  }
}

.team-nm {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.team-pic {
  padding-top: 1em;

  text-align: center;

  canvas {
    width: 80%;
  }
}
