@use "../../../../scss/abstracts/variables.scss";

@font-face {
  font-family: "StencilStd";
  src: url(/fonts/StencilStd.otf) format("opentype");
  unicode-range: U+0000-00FF;
}

#albums {
  padding: 1rem;

  .album {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;

    a {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    label {
      cursor: pointer;
      position: absolute;
      top: 60%;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: rgba(white, $alpha: 0.6);

      span {
        display: block;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        font-family: StencilStd;
        color: variables.$main_color;
      }
    }
  }
}

@media screen and (max-width: calc(variables.$screen-size-xs - 1px)) {
  .album {
    width: 190px;
    height: 190px;
  }
}

@media screen and (min-width: variables.$screen-size-xs) {
  .album {
    width: 250px;
    height: 250px;

    span {
      font-size: 1.7cqh;
    }
  }
}

@media screen and (min-width: variables.$screen-size-sm) {
  .album {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: variables.$screen-size-lg) {
  .album {
    width: 350px;
    height: 350px;

    span {
      font-size: 2.2cqh;
    }
  }
}

@media screen and (min-width: variables.$screen-size-xlg) {
  .album {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: variables.$screen-size-xxlg) {
  .album {
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: variables.$screen-size-xxxlg) {
  .album {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: variables.$screen-size-xxxxlg) {
  .album {
    width: 500px;
    height: 500px;

    span {
      font-size: 3cqh;
    }
  }
}
