<div id="content">
        <main id="mainMedia">
                <app-return-card [Title]="'Click an image to visit its album'"
                        [RouterLink]="'/media'"></app-return-card>

                <div class="albums">
                        <!-- miami valley 24 -->
                        <a target="_blank" href="https://photos.app.goo.gl/LMZSEbcZAP9iQKnU9"><img
                                        src="../../../../../assets/albumCovers/Competition/2024MiamiValley.png" /></a>
                        <!-- pittsburgh 24 -->
                        <a target="_blank" href="https://photos.app.goo.gl/hNzfz2hjhLvWy6s19"><img
                                        src="../../../../../assets/albumCovers/Competition/2024Pittsburgh.png" /></a>
                        <!-- smoky 23 missing -->
                        <!-- miami valley 23 -->
                        <a target="_blank" href="https://photos.app.goo.gl/njCE6zvQwf3z4ta96"><img
                                        src="../../../../../assets/albumCovers/Competition/2023MiamiValley.png" /></a>
                        <!-- wvrox 22 -->
                        <a target="_blank" href="https://photos.app.goo.gl/Q4KZwd53y7edvLtn9"><img
                                        src="../../../../../assets/albumCovers/Competition/2022WVRox.png" /></a>
                        <!-- smoky 22 -->
                        <a target="_blank" href="https://photos.app.goo.gl/9Eq5NUd3QRkhGSAw5"><img
                                        src="../../../../../assets/albumCovers/Competition/2022SmokyMountain.png" /></a>
                        <!-- palmetto 20 missing -->
                        <!-- pitt 19 missing -->
                        <!-- miami valley 19 missing -->
                        <!-- pitt 18 -->
                        <a target="_blank" href="https://photos.app.goo.gl/cUcnjMzeP1UB68at5"><img
                                        src="../../../../../assets/albumCovers/Competition/2018Pittsburgh.png" /></a>
                        <!-- miami valley 18 -->
                        <a target="_blank" href="https://photos.app.goo.gl/tJTRQHZ4Yd716Kaw9"><img
                                        src="../../../../../assets/albumCovers/Competition/2018MiamiValley.png" /></a>
                        <!--world 17 missing -->
                        <!-- pitts 17 -->
                        <a target="_blank" href="https://photos.app.goo.gl/aSDTGm6HRbWkNb638"><img
                                        src="../../../../../assets/albumCovers/Competition/2017Pittsburgh.png" /></a>
                        <!--queen city 16 -->
                        <a target="_blank" href="https://photos.app.goo.gl/u7mF8UMnWvRdKzoL6"><img
                                        src="../../../../../assets/albumCovers/Competition/2016QueenCity.png" /></a>

                        <!--wrld 15 -->
                        <a target="_blank" href="https://photos.app.goo.gl/4c9k2uS84B4881wa7"><img
                                        src="../../../../../assets/albumCovers/Competition/2015Worlds.png" /></a>

                        <!--smky 15 -->
                        <a target="_blank" href="https://photos.app.goo.gl/hmrFzFsyBcpHewLP8"><img
                                        src="../../../../../assets/albumCovers/Competition/2015SmokyMountain.png" /></a>

                        <!--wv rox 14-->
                        <a target="_blank" href="https://photos.app.goo.gl/gosVWSQiu5ZbAZez6"><img
                                        src="../../../../../assets/albumCovers/Competition/2014WVRox.png" /></a>

                        <!--world 14-->
                        <a target="_blank" href="https://photos.app.goo.gl/x383oGSLamyYrR8w5"><img
                                        src="../../../../../assets/albumCovers/Competition/2014Worlds.png" /></a>

                        <!--smky 14-->
                        <a target="_blank" href="https://photos.app.goo.gl/sHu3UcN2YxHhSZYN7"><img
                                        src="../../../../../assets/albumCovers/Competition/2014SmokyMountain.png" /></a>

                        <!--cross rds 13-->
                        <a target="_blank" href="https://photos.app.goo.gl/b2HxxV8qTA95tiMo7"><img
                                        src="../../../../../assets/albumCovers/Competition/2013CrossRoads.png" /></a>

                        <!--pitt 13-->
                        <a target="_blank" href="https://photos.app.goo.gl/xwb6dh6D1AMg5PfUA"><img
                                        src="../../../../../assets/albumCovers/Competition/2013Pittsburgh.png" /></a>

                        <!--queen city 12-->
                        <a target="_blank" href="https://photos.app.goo.gl/WGAyVzPxt5MUQ4CQ7"><img
                                        src="../../../../../assets/albumCovers/Competition/2012QueenCity.png" /></a>

                        <!--pitt 12-->
                        <a target="_blank" href="https://photos.app.goo.gl/o2djThJcHkKr9NrA9"><img
                                        src="../../../../../assets/albumCovers/Competition/2012Pittsburgh.png" /></a>

                        <!--cori 11-->
                        <a target="_blank" href="https://photos.app.goo.gl/ZEsnxrN3TUksd69g7"><img
                                        src="../../../../../assets/albumCovers/Competition/2011CORI.png" /></a>

                        <!--world 11-->
                        <a target="_blank" href="https://photos.app.goo.gl/jn2wFUDhqvTmdV9A8"><img
                                        src="../../../../../assets/albumCovers/Competition/2011Worlds.png" /></a>

                        <!--pitt 11-->
                        <a target="_blank" href="https://photos.app.goo.gl/q4vY7pUdbeNGbZLTA"><img
                                        src="../../../../../assets/albumCovers/Competition/2011Pittsburgh.png" /></a>

                </div>
        </main>
</div>