<div id="content">
  <main id="mainMedia">
    <table id="topMedia">
      <tr>
        <td id="blockLR">
          <a id="leftArrow" routerLink=".."><img src="../../../../../assets/webImages/previous.svg"
              alt="Previous" /></a>
        </td>
        <td>
          <h1>Click an Image to Visit Its Album</h1>
        </td>
        <td id="blockLR">
        </td>
      </tr>
    </table>
    <div class="albums">
      <a target="_blank" href="https://photos.app.goo.gl/u7mF8UMnWvRdKzoL6"><img
          src="../../../../../assets/albumCovers/Competition/2016QueenCity.png" /></a>
      <!--queen city 16 -->
      <a target="_blank" href="https://photos.app.goo.gl/4c9k2uS84B4881wa7"><img
          src="../../../../../assets/albumCovers/Competition/2015Worlds.png" /></a>
      <!--wrld 15 -->
      <a target="_blank" href="https://photos.app.goo.gl/hmrFzFsyBcpHewLP8"><img
          src="../../../../../assets/albumCovers/Competition/2015SmokyMountain.png" /></a>
      <!--smky 15 -->
      <a target="_blank" href="https://photos.app.goo.gl/gosVWSQiu5ZbAZez6"><img
          src="../../../../../assets/albumCovers/Competition/2014WVRox.png" /></a>
      <!--wv rox 14-->
      <a target="_blank" href="https://photos.app.goo.gl/x383oGSLamyYrR8w5"><img
          src="../../../../../assets/albumCovers/Competition/2014Worlds.png" /></a>
      <!--world 14-->
      <a target="_blank" href="https://photos.app.goo.gl/sHu3UcN2YxHhSZYN7"><img
          src="../../../../../assets/albumCovers/Competition/2014SmokyMountain.png" /></a>
      <!--smky 14-->
      <a target="_blank" href="https://photos.app.goo.gl/b2HxxV8qTA95tiMo7"><img
          src="../../../../../assets/albumCovers/Competition/2013CrossRoads.png" /></a>
      <!--cross rds 13-->
      <a target="_blank" href="https://photos.app.goo.gl/xwb6dh6D1AMg5PfUA"><img
          src="../../../../../assets/albumCovers/Competition/2013Pittsburgh.png" /></a>
      <!--pitt 13-->
      <a target="_blank" href="https://photos.app.goo.gl/WGAyVzPxt5MUQ4CQ7"><img
          src="../../../../../assets/albumCovers/Competition/2012QueenCity.png" /></a>
      <!--queen city 12-->
      <a target="_blank" href="https://photos.app.goo.gl/o2djThJcHkKr9NrA9"><img
          src="../../../../../assets/albumCovers/Competition/2012Pittsburgh.png" /></a>
      <!--pitt 12-->
      <a target="_blank" href="https://photos.app.goo.gl/ZEsnxrN3TUksd69g7"><img
          src="../../../../../assets/albumCovers/Competition/2011CORI.png" /></a>
      <!--cori 11-->
      <a target="_blank" href="https://photos.app.goo.gl/jn2wFUDhqvTmdV9A8"><img
          src="../../../../../assets/albumCovers/Competition/2011Worlds.png" /></a>
      <!--world 11-->
      <a target="_blank" href="https://photos.app.goo.gl/q4vY7pUdbeNGbZLTA"><img
          src="../../../../../assets/albumCovers/Competition/2011Pittsburgh.png" /></a>
      <!--pitt 11-->
    </div>
  </main>
</div>
