<app-box *ngIf="page === 'matches'" [Title]="'Matches'">
    <div *ngIf="matchPlanningResults.length <= 0">
        <app-form-element-group [LabelText]="'Legend'">
            <div id="legend" class="flex justify-content-space-between">
                <div class="flex align-items-center">
                    <div class="box ten"></div>
                    <p>top 10</p>
                </div>
                <div class="flex align-items-center">
                    <div class="box fifteen"></div>
                    <p>top 15</p>
                </div>
                <div class="flex align-items-center">
                    <div class="box twenty"></div>
                    <p>top 20</p>
                </div>
                <div class="flex align-items-center">
                    <div class="box thirty"></div>
                    <p>top 30</p>
                </div>
                <div class="flex align-items-center">
                    <div class="box left-overs"></div>
                    <p>remaining</p>
                </div>
            </div>
        </app-form-element-group>

        <app-table [TableCols]="matchesTableCols" [TableData]="initData.matches"
            (RecordClickCallBack)="planMatch($event)" [Highlighting]="true" [AllowActiveRecord]="true" [Stripes]="true"
            [Width]="'100%'" [ScrollHeight]="'50rem'" [CursorPointer]="true">
        </app-table>
    </div>

    <div *ngIf="matchPlanningResults.length > 0">
        <div id="back-button">
            <app-button [ButtonType]="'main'" (FunctionCallBack)="clearResults()">Back</app-button>
        </div>

        <app-form-element-group [LabelText]="'Red Alliance'">
            <canvas id="canvas">{{redChart}}</canvas>
        </app-form-element-group>

        <app-tab-container>
            <app-tab *ngFor="let mpr of matchPlanningResults" [TabName]="mpr.team.team_no">
                <div class="team-results">
                    <div>
                        <app-header [h]="1">{{ mpr.team.team_no }} - {{ mpr.team.team_nm }}</app-header>

                        <div *ngIf="mpr.pitData" class="team-pic" [id]="mpr.team.team_no" appOnCreate
                            (onCreate)="preview(mpr.pitData.pic, mpr.team.team_no)">

                        </div>
                    </div>
                    <div class="team-info">

                        <ng-container *ngIf="mpr.pitData">
                            <div *ngFor="let r of mpr.pitData.results">
                                <p>{{ r.question }}: {{ r.answer }}</p>
                            </div>
                        </ng-container>
                    </div>

                </div>

                <app-form-element-group [LabelText]="'Notes'">
                    <app-form-element-group *ngFor="let note of mpr.notes" [LabelText]="note.time | dateToStr">
                        <p>{{ note.note }}</p>
                    </app-form-element-group>
                </app-form-element-group>

                <div class="padding-bottom-1rem"></div>

                <app-table [TableCols]="mpr.fieldCols" [TableData]="mpr.fieldAnswers" [EnableFilter]="true"
                    [Width]="tableWidth" [Responsive]="true">
                </app-table>
            </app-tab>
        </app-tab-container>
    </div>

</app-box>

<app-box *ngIf="page === 'notes'" [Title]="'Team Notes'">
    <app-modal [ButtonType]="'main'" [ButtonText]="'Take note'" [Title]="'Team Note'"
        [(visible)]="teamNoteModalVisible">
        <app-form>
            <app-form-element [LabelText]="'Team'" [Type]="'select'" [FormGroup]="true" [SelectList]="initData.teams"
                [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'"
                [DisplayEmptyOption]="true" [(Model)]="currentTeamNote.team_no">
            </app-form-element>

            <app-form-element [LabelText]="'Note'" [Type]="'area'" [(Model)]="currentTeamNote.note" [Width]="'100%'"
                [Rows]="5"></app-form-element>
        </app-form>

        <app-button-ribbon>
            <app-button [ButtonType]="'main'" (FunctionCallBack)="saveNote()">Save</app-button>
        </app-button-ribbon>
    </app-modal>

    <app-modal [ButtonType]="'main'" [ButtonText]="'View notes'" [Title]="'View Team Notes'">
        <app-form>
            <app-form-element [LabelText]="'Team'" [Type]="'select'" [FormGroup]="true" [SelectList]="initData.teams"
                [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'"
                [DisplayEmptyOption]="true" [(Model)]="currentTeamNote.team_no" (FunctionCallBack)="loadTeamNotes()">
            </app-form-element>

            <app-form-element-group *ngFor="let note of teamNotes" [LabelText]="note.time | dateToStr ">
                <p>{{ note.note }}</p>
            </app-form-element-group>
        </app-form>
    </app-modal>
</app-box>