<app-box [Title]="'Pit Scouting Form'">
  <p>{{scoutPitResponse.response_id}}</p>
  <app-form (SubmitFunction)="save()" [FormElements]="formElements">
    <div>
      <app-form-element [LabelText]="'Not Scouted Teams'" [Type]="'select'" [FormGroup]="true" [FormGroupInline]="true"
        [SelectList]="teams" [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'"
        [(Model)]="scoutPitResponse.team" (FunctionCallBack)="changeTeam()" [DisplayEmptyOption]="true"
        [Required]="!scoutPitResponse.team" [MinWidth]="'180px'">
      </app-form-element>

      <app-form-element [LabelText]="'Edit Scouted Team'" [Type]="'select'" [FormGroup]="true" [FormGroupInline]="true"
        [SelectList]="compTeams" [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'"
        [DisplayProperty2]="'team_nm'" [(Model)]="scoutPitResponse.team" (FunctionCallBack)="changeTeam(true)"
        [DisplayEmptyOption]="true" [MinWidth]="'180px'" [Required]="!scoutPitResponse.team">
      </app-form-element>
    </div>

    <app-question-display-form [(Questions)]="scoutPitResponse.question_answers"
      (FormElementsChange)="setFormElements($event)">
    </app-question-display-form>

    <div class="flex align-items-baseline">
      <app-form-element [LabelText]="'Robot Picture'" [Type]="'file'" [FormGroup]="true" [(Model)]="robotPic"
        (change)="preview()">
      </app-form-element>
      <app-button [ButtonType]="'add'" (FunctionCallBack)="addRobotPicture()"></app-button>
      <app-button [ButtonType]="'minus'" (FunctionCallBack)="removeRobotPicture()"></app-button>
    </div>
    <p>*Select or take an image with the paperclip, press add before saving to put the picture in the list to save.</p>

    <div *ngIf="robotPics.length > 0">
      <div *ngFor="let pic of robotPics">
        {{pic.name}}
      </div>
    </div>

    <img *ngIf="previewUrl" [src]="previewUrl" height="300" />

    <div *ngIf="previewImages.length > 0">
      <p>Existing images</p>
      <div *ngFor="let pic of previewImages">
        <img [src]="pic.pic" height="300">
      </div>
    </div>

    <app-button-ribbon>
      <app-button [ButtonType]="'main'" [Type]="'submit'">Save</app-button>
    </app-button-ribbon>
  </app-form>
</app-box>