<app-box [Title]="'Manage Field Question Aggregates'">
    <app-table [TableCols]="fieldQuestionAggregatesTableCols" [TableData]="fieldQuestionAggregates" [Width]="'100%'"
        [ShowAddButton]="true" (AddRecordCallBack)="showFieldQuestionAggregateModal()" [ShowEditButton]="true"
        (EditRecordCallBack)="showFieldQuestionAggregateModal($event)"></app-table>

    <app-modal [Title]="'Field Question Aggregate'" [(visible)]="fieldQuestionAggregateModalVisible">
        <app-form (SubmitFunction)="saveQuestionAggregate()">
            <app-form-element [Type]="'text'" [LabelText]="'Name'" [(Model)]="activeFieldQuestionAggregate.field_name"
                [Required]="true"></app-form-element>

            <app-form-element [Type]="'select'" [LabelText]="'Aggregate Function'"
                [(Model)]="activeFieldQuestionAggregate.question_aggregate_typ" [Required]="true"
                [SelectList]="questionAggregateTypes" [DisplayProperty]="'question_aggregate_nm'"
                [SelectComparatorFunction]="compareQuestionAggregateTypes"></app-form-element>

            <app-form-element [Type]="'checkbox'" [LabelText]="'Active'" [(Model)]="activeFieldQuestionAggregate.active"
                [TrueValue]="'y'" [FalseValue]="'n'"></app-form-element>


            <app-button-ribbon>
                <app-button [ButtonType]="'main'" [Type]="'submit'">Save</app-button>
            </app-button-ribbon>

            <div class="flex align-items-baseline">
                <app-form-element [Type]="'select'" [LabelText]="'Question'" [(Model)]="fieldQuestionToAddToAgg"
                    [SelectList]="fieldQuestionAggQuestionList" [DisplayProperty]="'display_value'">
                </app-form-element>
                <app-button [ButtonType]="'add'" (FunctionCallBack)="addQuestionToFieldAggregate()"></app-button>
            </div>

            <app-table [TableCols]="fieldQuestionAggregateQuestionsTableCols"
                [TableData]="activeFieldQuestionAggregate.questions" [Width]="'100%'" [ShowRemoveButton]="true"
                (RemoveRecordCallBack)="removeQuestionFromFieldAggregate($event)"></app-table>
        </app-form>
    </app-modal>
</app-box>