@use 'abstracts/variables';

.mdi-icon {
  color: variables.$gray;

  &::before {
    font-size: 7rem;
  }
}

:host ::ng-deep .icon {
  width: 10rem;
  display: block;
  margin: 0 auto;
  padding: 1em;

  svg {
    width: 8rem;
    display: block;
    margin: 0 auto;

    path {
      fill: variables.$gray !important;
    }
  }

  &.bookstack svg {
    padding-bottom: 8rem;
    #path16 {
      fill: #fff !important;
    }
  }

  &.tba svg {
    padding-bottom: 4rem;
  }
}

h4 {
  text-align: center;
}

#resources {
  gap: 2rem 2rem; /* row-gap column gap */
  padding: 1rem;

  .resource {
    width: 30rem;
  }
}
