<div #formElement class="form-element"
  [ngClass]="{'form-group': FormGroup, 'form-control-inline': FormInline, 'form-group-inline': FormGroupInline, 'checkboxElement': Type === 'checkbox', 'otherOptionCheckboxElement': Type === 'checkbox' && LabelText.toLowerCase() === 'other' }">
  <label *ngIf="LabelText !== ''" #label
    [ngClass]="{'checkboxLabel': ['checkbox', 'multiCheckbox'].includes(Type), 'otherOptionCheckboxLabel': Type === 'checkbox' && LabelText.toLowerCase() === 'other', 'radioLabel': Type === 'radio'}"
    for="{{ LabelID }}">{{
    LabelText }}</label>

  <div class="inline-block relative" [ngStyle]="{'width': Width, 'min-width': MinWidth}">
    <div *ngIf="Required && Touched" class="validation" #validationIndicator
      [ngClass]="{'select': Type === 'select', 'area': Type === 'area', 'date': Type === 'date', 'radio': Type === 'radio', 'multiCheckbox': Type === 'multiCheckbox'}">
      <mat-icon class="icon-valid" svgIcon="check" *ngIf="valid"></mat-icon>
      <mat-icon class="icon-invalid" svgIcon="alert-circle-outline" *ngIf="!valid"></mat-icon>
    </div>

    <ng-container [ngSwitch]="Type">
      <input *ngSwitchCase="'text'" type="text" class="form-control" id="{{ LabelID }}" placeholder="{{ Placeholder }}"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
        (ngModelChange)="change($event)" maxlength="{{ FieldSize }}" [disabled]="Disabled" (focus)="focusIn()"
        (focusout)="focusOut()">

      <input *ngSwitchCase="'password'" type="password" class="form-control" id="{{ LabelID }}"
        placeholder="{{ Placeholder }}"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
        (ngModelChange)="change($event)" [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()">

      <input *ngSwitchCase="'number'" type="number" class="form-control" id="{{ LabelID }}"
        placeholder="{{ Placeholder }}"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
        (ngModelChange)="change($event)" [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()">

      <input *ngSwitchCase="'phone'" type="text" class="form-control" id="{{ LabelID }}" placeholder="{{ Placeholder }}"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="phoneMaskModel"
        (ngModelChange)="phoneMaskFn($event)" maxlength="{{ FieldSize }}" [disabled]="Disabled" (focus)="focusIn()"
        (focusout)="focusOut()">

      <input *ngSwitchCase="'mac'" type="text" class="form-control" id="{{ LabelID }}" placeholder="{{ Placeholder }}"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
        (ngModelChange)="formatMAC($event)" [disabled]="Disabled" maxlength="17" (focus)="focusIn()"
        (focusout)="focusOut()">

      <div *ngSwitchCase="'search'" id="search">
        <input type="text" class="form-control" id="{{ LabelID }}" placeholder="{{ Placeholder }}"
          [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
          [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
          (ngModelChange)="change($event)" maxlength="{{ FieldSize }}" (focus)="focusIn()" (focusout)="focusOut()">
        <button>
          <mat-icon id="magnify-icon" svgIcon="magnify"></mat-icon>
        </button>
      </div>

      <ng-container *ngSwitchCase="'select'">
        <ng-container *ngIf="!SelectComparatorFunction; else hasFunction">
          <select class="form-control" id="{{ LabelID }}"
            [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
            [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
            (ngModelChange)="change($event)" [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()">
            <option [ngValue]="strNoE(Model) ? Model : ''" [disabled]="!DisplayEmptyOption"></option>

            <ng-container *ngIf="BindingProperty !== '' && DisplayProperty !== ''">
              <option *ngFor="let obj of _SelectList" [ngValue]="obj[BindingProperty]"
                [selected]="obj[BindingProperty] === Model">{{ obj[DisplayProperty] }} {{ obj[DisplayProperty2] ?
                obj[DisplayProperty2] : '' }}
              </option>
            </ng-container>

            <ng-container *ngIf="BindingProperty === '' && DisplayProperty !== ''">
              <option *ngFor="let obj of _SelectList" [ngValue]="obj" [selected]="obj === Model">{{
                obj[DisplayProperty] }} {{
                obj[DisplayProperty2] ? obj[DisplayProperty2] : '' }}
              </option>
            </ng-container>
          </select>
        </ng-container>
        <ng-template #hasFunction>
          <select *ngSwitchCase="'select'" class="form-control" id="{{ LabelID }}"
            [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
            [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" [ngModel]="Model"
            (ngModelChange)="change($event)" [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()"
            [compareWith]="SelectComparatorFunction">
            <option value="" *ngIf="DisplayEmptyOption"></option>
            <ng-container *ngIf="BindingProperty === '' && DisplayProperty !== ''">
              <option *ngFor="let obj of _SelectList" [ngValue]="obj" [selected]="obj === Model">{{
                obj[DisplayProperty] }} {{ obj[DisplayProperty2] ? obj[DisplayProperty2] : '' }}
              </option>
            </ng-container>
          </select>
        </ng-template>
      </ng-container>
      <!--TODO Fix display property 2 using ternary operator-->
      <textarea *ngSwitchCase="'area'" class="form-control"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" rows="{{ Rows }}"
        placeholder="{{ Placeholder }}" [ngModel]="Model" (ngModelChange)="change($event)" maxlength="{{ FieldSize }}"
        [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()"></textarea>

      <ng-container *ngSwitchCase="'checkbox'">
        <ng-container *ngIf="LabelText.toLowerCase() !== 'other'; else other">
          <input type="hidden" name="toggle" [(ngModel)]="Model">

          <input class="checkbox" type="checkbox" id="{{ LabelID }}" (change)="change($event)"
            [checked]="TrueValue === Model" [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()">
        </ng-container>

        <ng-template #other>
          <input class="checkbox" type="checkbox" id="{{ LabelID }}" (change)="change('')"
            [checked]="Model && Model.trim().length > 0" [disabled]="Disabled" (focus)="focusIn()"
            (focusout)="focusOut()">

          <app-form-element [Type]="'area'" [Model]="Model" (ModelChange)="change($event)" [Disabled]="Disabled"
            [LabelText]="'Please specify'" [Width]="'100%'" [Rows]="5">
          </app-form-element>
        </ng-template>
      </ng-container>


      <div *ngSwitchCase="'multiCheckbox'" (focus)="focusIn()" (focusout)="focusOut()">
        <ng-container *ngIf="BindingProperty !== '' && DisplayProperty !== ''">
          <app-form-element *ngFor="let c of _SelectList; let i = index" [Type]="'checkbox'"
            [LabelText]="c[DisplayProperty]" [(Model)]="Model[i]['checked']" [TrueValue]="TrueValue"
            [FalseValue]="FalseValue" [Disabled]="Disabled">
          </app-form-element>
        </ng-container>
      </div>

      <ng-container *ngSwitchCase="'radio'">
        <div *ngFor="let obj of _SelectList; let i = index" class="radio"
          [ngClass]="{'form-group-inline': !RadioGroupStacked}">

          <ng-container *ngIf="BindingProperty !== '' && DisplayProperty !== '' && DisplayProperty2 === ''">
            <input type="radio" name="Radio{{ LabelID }}" id="radio{{ i }}" [value]="obj[BindingProperty]"
              [ngModel]="Model" (ngModelChange)="change($event)" [checked]="obj[BindingProperty] === Model" />
            <label for="radio{{ i }}">{{ obj[DisplayProperty] }}</label>
          </ng-container>

        </div>
      </ng-container>

      <div *ngSwitchCase="'datetime'" class="datetime form-control">
        <div (focus)="focusIn()" (focusout)="focusOut()"
          [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}">
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" [ngModel]="Model" (ngModelChange)="change($event)">
            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false" [stepHour]="1"
              [stepMinute]="30" [stepSecond]="1" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false"
              [hideTime]="false">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>
      </div>

      <div *ngSwitchCase="'date'" class="date-form-control form-control"
        [ngClass]="{'disabled': Disabled, 'valid': valid && Required && Touched, 'invalid': !valid && Required && Touched}">
        <div class="date" [ngClass]="{'disabled': Disabled}">
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" [ngModel]="Model" (ngModelChange)="change($event)">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="file-upload form-control" *ngSwitchCase="'file'">

        <input type="file" class="file-input" (change)="fileProgress($event)" #fileUpload style="display: none;"
          [disabled]="Disabled" (focus)="focusIn()" (focusout)="focusOut()">
        <div>
          <p>{{ Model ? (fileName || "No file uploaded yet.") : "No file uploaded yet."}}</p>
        </div>
        <app-button [ButtonType]="'attach'" (FunctionCallBack)="fileUpload.click()"></app-button>
      </div>

      <input *ngSwitchCase="'image'" class="form-control" type="file" id="{{ LabelID }}"
        (change)="ImageChangeEvent($event)" placeholder="Upload file" [ngModel]="Model" [disabled]="Disabled"
        (focus)="focusIn()" (focusout)="focusOut()">

      <div *ngSwitchCase="'multiSelect'" class="form-control" id="multiSelect"
        [ngStyle]="{'width': 'calc(' + Width + ' - 0.64rem)', 'min-width': MinWidth}" #multiSelect
        (appClickOutside)="multiSelectClose()">
        <span (click)="multiSelectMenu()">
          <p>{{ LabelText }}</p>
          <div class="arrow-wrapper">
            <i class="arrow down"></i>
          </div>
        </span>
        <div *ngIf="DisplayProperty !== ''" id="dropdown" #multiSelectDropdown>
          <div class="multi-select-buttons">
            <app-button [ButtonType]="'main'" (FunctionCallBack)="selectAll()">Select All</app-button>
            &nbsp;
            <app-button [ButtonType]="'main'" (FunctionCallBack)="deselectAll()">Deselect All</app-button>
          </div>
          <div *ngFor="let obj of _SelectList; let i = index">
            <input type="checkbox" id="{{ LabelID }}{{ i }}" [ngModel]="obj['checked']"
              (ngModelChange)="multiChange($event, i)" [disabled]="Disabled">
            <label *ngIf="DisplayProperty2 === ''" for="{{ LabelID }}{{ i }}">{{ obj[DisplayProperty] }}</label>
            <label *ngIf="DisplayProperty2 !== ''" for="{{ LabelID }}{{ i }}">{{ obj[DisplayProperty] }} -
              {{ obj[DisplayProperty2] }}</label>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <p *ngIf="Required && !valid && Touched" class="invalid-message">{{ ValidationMessage || 'required' }}</p>
</div>

<!--
  Date time picker examples
  <app-box>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Inherited calendar color</mat-label>
      <input matInput [matDatepicker]="picker1">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [(ngModel)]="Model">
      <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="false" [showSeconds]="false" [stepHour]="1" [stepMinute]="30"
        [stepSecond]="1" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>

    <mat-form-field color="accent" appearance="fill">
      <mat-label>Inherited calendar color</mat-label>
      <input matInput [ngxMatDatetimePicker]="picker2">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [showSpinners]="false" [showSeconds]="false" [stepHour]="1" [stepMinute]="30"
        [stepSecond]="1" [touchUi]="false" [enableMeridian]="true" [disableMinute]="false" [hideTime]="false">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </app-box>
-->