@use "../../../../scss/abstracts/variables.scss";

#parts {
  color: variables.$accent_color;
  //margin: 3rem 0;
  text-align: center;
  font-size: 7rem;
  text-shadow: 0rem 0.7rem 0.8rem rgba(58, 59, 69, 0.15) !important;

  &.smaller {
    font-size: 6rem;
  }
}

/*BANNERS*/
#banners {
  text-align: center;
}

.banners {
  display: inline-block;
}

#banners {
  height: 16em;
  overflow: auto;
  text-align: center;

  /*SCREEN SIZE:WIDE SCREEN*/
  @media only screen and (min-width: variables.$screen-size-lg) {
    height: auto !important;
    overflow-x: scroll;

    ul {
      display: inline-flex;
    }
  }
}

.icon {
  color: variables.$accent_color;
  font-size: 24px;
}

.important {
  font-size: 18px;
}

#robot-history {
  max-width: 1900px;
  width: 90%;
  margin: 1em auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
  gap: 2rem;

  /*MOBILE */
  @media only screen and (max-width: variables.$screen-size-xlg) {
    width: 100%;
  }

  app-box {
    cursor: pointer;
  }

  .robot-image {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 26rem;
    border-radius: 0.5em;

    @media (max-width: variables.$screen-size-sm) {
      height: 20rem !important;
    }
  }
}
