<div id="content">

  <app-box>
    <app-header [h]="1" [centered]="true" [underlined]="false">P.A.R.T.s</app-header>
  </app-box>
  <div id="banners">
    <ul class="banners">
      <li><img src="../../../../assets/icons/first.svg"> 2011
        <p></p> Pittsburgh Regional Winner
      </li>
      <li><img src="../../../../assets/icons/first.svg">2014
        <p></p> Smoky Mountains Regional Engineering Inspiration Award
      </li>
      <li><img src="../../../../assets/icons/first.svg">2015
        <p></p> Smoky Mountains Regional Winner
      </li>
      <li><img src="../../../../assets/icons/first.svg">2016
        <p></p> Woodie Flowers Finalist Award
      </li>
      <li><img src="../../../../assets/icons/first.svg"> 2016
        <p></p> West Virginia RObotics eXtreme Winner
      </li>
    </ul>
  </div>
  <main id="mainAbout">
    <div id="aboutParts">
      <div id="history">
        <app-box [Title]="'A Brief History...'">
          <p>P.A.R.T.s, formerly known as RoboGens, began its career as a robotics team in 2010 when a Winfield High
            School senior, Taylor Shank, attended a Mountaineer Area RoboticS (MARS) event. Awed and inspired, Taylor
            moved to create a team
            at his school. Denise Johnson, a teacher at the school, took up the opportunity as the sponsor, and the team
            RoboGens was born. It was originally called this because Winfield High School is the home of the Winfield
            Generals, and we
            wanted to pay a tribute to the school.</p>
        </app-box>

        <app-box [Title]="'Now...'">
          <p>P.A.R.T.s is a team of high school students from all over Putnam County who come together to build robots
            and
            promote S.T.E.M.</p>
          <h2>Awards and Accomplishments</h2>
          <ul id="awards">
            <li>
              2016- Winner, WV ROX(West Virginia RObotics eXtreme)
            </li>
            <li>
              2016- Tina Kirk - Woodie Flowers Finalist Award Recipient, Queen City Regional
            </li>
            <li>
              2016- <a target="_blank"
                href="http://www.legis.state.wv.us/Bill_Text_HTML/2016_SESSIONS/RS/Bills/SR20%20intr.htm"> West Virginia
                Senate Resolution on STEM Education</a>
            </li>
            <li>
              2015- Regional Winner, Smoky Mountains Regional
            </li>
            <li>
              2014- Regional Engineering Inspirations Award, Smoky Mountain Regional
            </li>
            <li>
              2011- Rookie Inspiration Award, Pittsburgh Regional
            </li>
            <li>
              2011- Regional Winner, Pittsburgh Regional
            </li>
            <li>
              2011- Best Defense Award, CORI invitational event
            </li>
            <li>
              2011- Jacob Plasters - Mentor of the Year, CORI invitational event
            </li>
          </ul>
        </app-box>
      </div>
      <app-box>
        <app-header [h]="1" [centered]="true" [underlined]="false">Click on a Bot for Its Bio!</app-header>
      </app-box>

      <div id="robot-history">
        <app-box [Title]="'2011 - McCoy'" [InlineBlock]="true" (click)="bot2011ModalVisible = true">
          <img class="robot-image" alt="2011 Robot" src="../../../../assets/webImages/Robots/McCoy.jpg">
        </app-box>

        <app-box [Title]="'2012 - HU'" [InlineBlock]="true" (click)="bot2012ModalVisible = true">
          <img class="robot-image" alt="2012 Robot" src="../../../../assets/webImages/Robots/HU.jpg">
        </app-box>

        <app-box [Title]="'2013 - DJ'" [InlineBlock]="true" (click)="bot2013ModalVisible = true">
          <img class="robot-image" alt="2013 Robot" src="../../../../assets/webImages/Robots/DJ.jpg">
        </app-box>

        <app-box [Title]="'2014 - Carla'" [InlineBlock]="true" (click)="bot2014ModalVisible = true">
          <img class="robot-image" alt="2014 Robot" src="../../../../assets/webImages/Robots/Carla.jpg">
        </app-box>

        <app-box [Title]="'2015 - Turbo Mike'" [InlineBlock]="true" (click)="bot2015ModalVisible = true">
          <img class="robot-image" alt="2015 Robot" src="../../../../assets/webImages/Robots/TurboMike.jpg">
        </app-box>

        <app-box [Title]="'2016 - Beanie the Barbarian'" [InlineBlock]="true" (click)="bot2016ModalVisible = true">
          <img class="robot-image" alt="2016 Robot" src="../../../../assets/webImages/Robots/BeanietheBarbarian.jpg">
        </app-box>

        <app-box [Title]="'2017 - Beaniehemoth'" [InlineBlock]="true" (click)="bot2017ModalVisible = true">
          <img class="robot-image" alt="2017 Robot" src="../../../../assets/webImages/Robots/Beaniehemoth.jpg">
        </app-box>

        <app-box [Title]="'2018 - GLough'" [InlineBlock]="true" (click)="bot2018ModalVisible = true">
          <img class="robot-image" alt="2018 Robot" src="../../../../assets/webImages/Robots/GLough.jpg">
        </app-box>

        <app-box [Title]="'2019 - BeanIX'" [InlineBlock]="true" (click)="bot2019ModalVisible = true">
          <img class="robot-image" alt="2019 Robot" src="../../../../assets/webImages/Robots/GLough.jpg1">
        </app-box>

        <app-box [Title]="'2020/21 - Plaster Blaster'" [InlineBlock]="true" (click)="bot2020ModalVisible = true">
          <img class="robot-image" alt="2020/21 Robot" src="../../../../assets/webImages/Robots/PlasterBlaster.jpg">
        </app-box>

        <app-box [Title]="'2022 - Jake and Bake'" [InlineBlock]="true" (click)="bot2022ModalVisible = true">
          <img class="robot-image" alt="2022 Robot" src="../../../../assets/webImages/Robots/JakeAndBake.jpg">
        </app-box>

        <!-- Not done yet.
        <app-box [Title]="'2023 - T.I.N.A.'" [InlineBlock]="true" (click)="bot2023ModalVisible = true">
          <img class="robot-image" alt="2023 Robot" src="../../../../assets/webImages/Robots/TINA.jpg">
        </app-box>
        -->

        <!-- Don't show 2024 bot yet.
        <app-box [Title]="'2024 - TBD'" [InlineBlock]="true" (click)="bot2024ModalVisible = true">
          <img class="robot-image" alt="2024 Robot" src="../../../../assets/webImages/Robots/TBD.jpg">
        </app-box>
        -->
      </div>

      <app-modal [Title]="'2011 - McCoy'" [(visible)]="bot2011ModalVisible">
        <p>"McCoy", named in honor of one of the most respected faculty members at Winfield High, Coach Leon
          McCoy, was our first robot designed to play the 2011 game LOGO MOTION. He was designed as a defensive
          bot who had an attachment on
          the back to launch a "mini bot" up a pole, a crucial part of the game. </p>
        <p>LOGO MOTION is played by two competing alliances on a flat 27' x 54' ft field. Each alliance consists
          of three robots. They compete to hang as many inflated plastic shapes (triangles, circles, and squares)
          on their grids as they
          can during a 2 minute and 15 second match. The higher the teams hang their game pieces on their scoring
          grid, the more points their alliance receives. The match ends with robots deploying minibots, small
          electro-mechanical
          assemblies that are independent of the host robot, onto vertical poles. The minibots race to the top of
          the pole to trigger a sensor and earn additional bonus points.</p>
        <p>McCoy competed in the 2011 Pittsburgh Regional. There we were ranked 38 out of 39 teams. We went on to
          be selected by the 1st alliance consisting of teams 1114 (Simbotics) and 1503(Spartonics). We went all
          the way through finals
          and won the regional, qualifying us for the world championship.</p>
        <p>We competed in the World-Wide championship in St. Louis, MO. We finished 61 out of 88 in our division.
        </p>
      </app-modal>

      <app-modal [Title]="'2012 - HU'" [(visible)]="bot2012ModalVisible">
        <p>"HU", named after Winfield High School's beloved principal William Hughes, was our second robot
          designed to play the 2012 game REBOUND RUMBLE. He was designed with a long channel that took in balls at
          the bottom to launch them
          out the top. There was also an attachment on his back that allowed him to tilt a bridge toward him so he
          could balance it (this was an important part of the game).</p>
        <p>REBOUND RUMBLE is played by two competing alliances on a flat, 27' x 54' ft field. Each alliance
          consists of three robots. They compete to score as many basketballs into their hoops as they can during
          a 2 minute and 15 second
          match. The higher the hoop in which the basketball is scored, the more points the alliance receives. The
          match ends with robots attempting to balance on bridges located at the middle of the field.</p>
        <p>HU competed in two competitions, the 2012 Pittsburgh Regional and Queen City Regional. At Pittsburgh we
          were ranked 26 out of 45. We went on to be selected by the 4th alliance consisting of teams 1533 (Triple
          Strange) and 3138
          (Innovators Robotics). We played with them through semifinals where we were eliminated. At the Queen
          City we were ranked 17 out of 57. We went on to be selected by the 1st alliance consisting of teams
          3138(Innovator Robotics) and
          1730(Team Driven). We played with them and were eliminated in quarterfinals.</p>
      </app-modal>

      <app-modal [Title]="'2013 - DJ'" [(visible)]="bot2013ModalVisible">
        <p>"DJ", named after our amazing and inspiring mentor Denise Johnson who was retiring this year, was our
          third robot designed to play the 2013 game ULTIMATE ASCENT. She was designed to take in frisbees at the
          top and shoot them out
          of a channel just below it. Then she could lift her arm up to hook onto a pyramid and pull herself an
          inch completely off of the ground (an end game challenge).</p>
        <p>ULTIMATE ASCENT is played by two competing alliances on a flat, 27' x 54' ft field. Each alliance
          consists of three robots. They compete to score as many discs into their goals as they can during a two
          (2)-minute and fifteen
          (15)-second match. The higher the goal in which the disc is scored, the more points the alliance
          receives. The match ends with robots attempting to climb on pyramids located near the middle of the
          field. The robot earns points
          based on how high it climbs.</p>
        <p>DJ competed in two competitions, the 2013 Pittsburgh Regional and Cross Roads Regional. At Pittsburgh
          we were ranked 13 out of 45. We went on to be selected by the 6th alliance consisting of teams
          291(CIA-Creativity In Action)
          and 4601(Circuit Birds). We played in quarterfinals and were eliminated. At Cross Roads we were ranked
          16 out of 50. We went on to be selected by the 2nd alliance consisting of teams 930(Mukwonago BEARs) and
          1501(Team THRUST). We
          played in quarterfinals and were eliminated.</p>
      </app-modal>

      <app-modal [Title]="'2014 - Carla'" [(visible)]="bot2014ModalVisible">
        <p>"Carla", named after a beloved team mother who lost her battle to breast cancer, was our fourth robot
          designed to play the 2014 game AERIAL ASSIST. She was designed to both intake and shoot balls out of her
          large "mouth".</p>
        <p>AERIAL ASSIST is played by two competing Alliances of three Robots each on a flat 25' x 54' ft field,
          straddled by a lighting truss suspended just over five feet above the floor. The objective is to score
          as many balls in goals
          as possible during a 2 minute and 30 second match. The more Alliances score their ball in their goals,
          and the more they work together to do it, the more points their alliance receives. Alliances receive
          large bonuses for
          "assists," which are earned for each robot that has possession of the ball in a zone as the ball moves
          down the field.</p>
        <p>Carla competed in the 2014 Smoky Mountains Regional. There we were ranked 10 out of 49. As different
          captains in the top 8 ranks picked each other we moved up to be the 8th seed. That meant that we were
          the captain of the 8th
          alliance. We picked teams 281(EnTech GreenVillans) and 342(Burning Magnetos). We played through
          semifinals where we were eliminated. Even though we did not win the regional we did win the Regional
          Engineering Inspiration Award
          which <em>"Celebrates outstanding success in advancing respect and appreciation for engineering within a
            team's school and community."</em> This qualified us for the world championship.</p>
        <p>At Worlds we competed in our division. We finished ranking 32 out of 100.</p>
      </app-modal>

      <app-modal [Title]="'2015 - Turbo Mike'" [(visible)]="bot2015ModalVisible">
        <p>"Turbo Mike", named after an original team member and mentor nicked named as such, was our fifth robot
          designed to play the 2015 game RECYCLE RUSH. He was designed with arms and an elevator to pick up and
          stack totes. Also at
          Worlds we added on arms in the back of the robot allowing us to, as it was later nicknamed, "canburgle"
          cans from the center of the field.</p>
        <p>RECYCLE RUSH is a recycling-themed game designed for the 2015 FIRST Robotics Competition (FRC). It is
          played by two Alliances of three teams each. Alliances compete simultaneously to score points by
          stacking Totes on Scoring
          Platforms, capping those stacks with Recycling Containers, and properly disposing of Litter, represented
          by pool noodles, in designated locations. The 27' x 54' ft playing Field is bisected by a small Step
          which may not be
          climbed on or crossed by Robots. Thus each Alliance competes on their respective 26' x 27' ft side of
          the Field.</p>
        <p>Turbo Mike competed in the 2015 Smoky Mountains Regional. There we were ranked 22 out of 51. We went on
          to be selected by the 1st alliance consisting of teams 3824(HVA RoHAWKtics) and 2614(MARS). We competed
          through finals where
          we won the competition qualifying us for the world competition.</p>
        <p>At Worlds we competed in our division. We finished ranking 62 out of 76.</p>
      </app-modal>

      <app-modal [Title]="'2016 - Beanie the Barbarian'" [(visible)]="bot2016ModalVisible">
        <p>"Beanie the Barbarian", named after our team mascot "BeanieBot" and this year's game, was our sixth
          robot designed to play the 2016 game FIRST STRONGHOLD. He was designed with a shooting mechanism in the
          center to make top
          goals, and an arm on the back to get trough defenses. It is also out first robot to use vision
          processing, the camera with the blue ring, to find goals, line up, and make a shot.</p>
        <p>FIRST STRONGHOLD is played on a 27' x 54' field. Each alliance commands one tower, five defenses, and a
          'secret passage' which allows their robots to restock on ammunition, called boulders. One defense in
          each alliance's set of
          five, the low bar, is a permanent part of the field. Three defenses are selected strategically by the
          alliance prior to the start of their match. The final defense changes periodically by audience
          selection. During the 2 minutes
          and 15 second match, robots are controlled by student drivers from behind their castle wall at the end
          of the field. Teams on an alliance work together to cross defenses, weaken the opposing tower by scoring
          boulders in it, and
          finally surround, scale and capture the tower.</p>
        <p>Beanie the Barbarian competed in the 2016 Queen City Regional, in Cincinnati, OH. There we were ranked
          34 out of 56. Although we did not get selected for an alliance, we cheered for our friends from Logan,
          WV team 337 (Hard
          Working Hard Hats) who played hard in their final matches.</p>
        <p>In our offseason event WV ROX(West Virginia RObotics eXtreme), we competed with our new drive team and
          finished 16 out of 24. We went on the be on the first alliance with 456(Seige Robotics) and 2641(MARS).
          Playing hard with
          them, we won the event.</p>
      </app-modal>

      <app-modal [Title]="'2017 - Beaniehemoth'" [(visible)]="bot2017ModalVisible">
        <p>"Beaniehemoth", named after our team mascot "BeanieBot" and its violent attack on Jack Powers (our head
          programmer), was our seventh robot designed to play the 2017 game FIRST STEAMWORKS. He was designed with
          a slot in his front
          to accept gears and place them on pegs. On his back he as an arm to pick up gears from the floor, it is
          3D printed to fit between the teeth of the gears and clamp down. Finally, in its center there is a spool
          so he can climb in
          the end game. Perhaps Beaniehemoth's most amazing feature is his 6 cim 10 wheel drive, making him on of
          he fastest robots of the season and one of the strongest!</p>
        <p> FIRST&reg; STEAMWORKS, the 2017 FIRST&reg; Robotics Competition game, invites two adventurers’ clubs,
          in an era where steam power reigns, to prepare their airships for a long distance race.</p>
        <p>Each three-team alliance prepares in three ways:</p>
        <ol style="text-align: left;">
          <li><strong>.</strong> Robots collect fuel (balls) and score it in their boiler via high and low
            efficiency goals. Boilers turn fuel into steam pressure which is stored in the steam tank on their
            airship – but
            it takes more fuel in the low efficiency goal to build steam than the high efficiency goal.</li>
          <li><strong>Start rotors.</strong> Robots deliver gears to pilots on their airship for installation.
            Once the gear train is complete, they turn the crank to start the rotor.</li>
          <li><strong>Prepare for flight.</strong> Robots must latch on to their airship before launch (the end of
            the match) by ascending their ropes to signal that they’re ready for takeoff.</li>
        </ol>
        <p>Beaniehemoth competed in the 2017 Greater Pittsburgh Regional, in California, PA. There we were ranked
          10 out of 39. We went on to be the first pick of the 6th alliance consisting of teams 4028 (The Beak
          Squad) and 4991
          (Horsepower). We competed hard with them and ended as the regional finalists. Although we did not win
          the regional, our entire alliance was lucky enough to all receive wildcards, 2 from the regional
          winners, and 1 from the
          event's extra, qualifying us for the world championship.</p>
      </app-modal>


      <app-modal [Title]="'2018 - GLough'" [(visible)]="bot2018ModalVisible">
        <p>"GLough" was named in loving memory of electrical mentor and father, Glenn Lough, after he passed away
          earlier that year. GLough is our eighth robot and was designed to play in the 2018 FIRST POWER UP game.
          The robot had an intake
          in the front to pick up cubes and place them in switches and scales. GLough also has an elevator that
          can rise up to double his height to place cubes. The most impressive part of GLough is that the elevator
          can lift him up in the
          final stage of the game to climb and defeat the boss.</p>
        <p> FIRST&reg; POWER UP<SUP> SM </SUP>, the 2018 FIRST&reg; Robotics Competition game, includes two
          alliances of video game characters and their human operators who are trapped in an arcade game. Both
          alliances are working to defeat the boss in order to escape!</p>
        <p>Each three-team alliance prepares to defeat the boss in three ways:</p>
        <ol style="text-align: left;">
          <li><strong>Control the Switches and the Scale.</strong> Robots collect Power Cubes and place them on
            Plates to control Switches or the Scale. When the Scale or their Switch is tipped in their favor, it
            is considered owned by that Alliance. Alliances work to have ownership for as much time as possible.
          </li>
          <li><strong>Earn Power Ups.</strong> Robots deliver Power Cubes to their humans who then place them into
            the Vault earning the Alliance Power Ups. Alliances use Power Ups to gain a temporary advantage during
            the Match. There are three Power Ups available to teams: Force, Boost, and Levitate.</li>
          <ul>
            <li>Force gives the alliance ownership of the Switch, Scale, or both for a limited period of time.
            </li>
            <li>Boost doubles the rate points are earned for a limited period of time,</li>
            <li>Levitate gives a robot a free climb.</li>
          </ul>
          <li><strong>Climb the Scale.</strong> Robots Climb the Scale in order to be ready to Face The Boss.</li>
        </ol>
        <p>GLough competed in two competitions during the regular season, the Miami Valley Regional in Dayton, OH
          and the Greater Pittsburgh Regional in California, PA. At the Miami Valley Regional we finished ranking
          34 out of 61 teams. At the Greater Pittsburgh Regional we finished rank 4 out of 52 teams and in
          alliance selections ended up being the 3rd alliance captain.
          As alliance captains we chose teams 4522 (Team SCREAM) and 48 (Team E.L.I.T.E.) for finals, but were
          eliminated in quarterfinals. </p>
      </app-modal>

      <app-modal [Title]="'2019 - BeanIX'" [(visible)]="bot2019ModalVisible">
        <p>"Bean IX" was made our 2019 year for our FIRST competition Deep Space and was named because it was our
          teams ninth ever competition robot. The most important device we had on the robot was a gripper which
          allowed us during the gameto pick balls and panels off the ground.</p>
        <p>Our competition this year, DESTINATION: DEEP SPACE, where we joined two competing Alliances collecting
          samples
          on Planet Primus. Unpredictable terrain and weather patterns make remote ROBOT operation essential to
          their mission
          on the planet. With only 2:30 until liftoff, the Alliances must gather as many cargo pods as possible and
          prepare their
          spaceships before the next sandstorm arrives (when the game ends).
          Robots independently follow preprogrammed instructions or are operated by human drivers via video from
          their stations.</p>
        <p>Alliances score points by</p>
        <ol style="text-align: left;">
          <li>Developing robots from Habitat (HAB)</li>
          <li>Preparing rockets and the cargo ship with hatch panels</li>
          <li>Loading cargo pods into their rockets and cargo ship. For the first 15 seconds, robots are programmed
            to do tasks
            autonomously, at T-minus 2:15, human operators take control of their robots.</li>
        </ol>
        <p>Alliances continue to score points by</p>
        <ol style="text-align: left;">
          <li>Preparing rockets and the cargo ship with hatch panels</li>
          <li>Loading more cargo pods</li>
          <li>Returning the robot safely to the Alliance's Hab. The Alliance with the highest score at the end wins
          </li>
        </ol>
        <p> During this year's FIRST challenge we went to two competitions, our first being the Miami Valley
          Regionals.
          We ranked 32nd out of 60 teams that went, and we did not get passed to qualifiers. Then our second
          competition at
          the Greater Pittsburgh Regionals in California, we ranked 24th out of 45 teams and we also did not get
          passed to qualifiers
        </p>
      </app-modal>

      <app-modal [Title]="'2020/21 - Plaster Blaster'" [(visible)]="bot2020ModalVisible">
        <p>"Plaster Blaster" was named after our current mechanical mentor Jacob Plasters. Plaster Blaster is our
          tenth robot designed
          to play in the 2020 INFINITE RECHARGE game. The robot had a rear intake and could hold three balls (power
          cells) and fire them
          out through the front. Plaster Blaster also had the ability to climb up on the generator switch.</p>
        <p>In INFINITE RECHARGE, two alliances work to protect FIRST City from approaching asteroids caused by a
          distant space skirmish
          Each Alliance, along with their trusty droids, race to collect and score Power Cells in a distant space
          skirmish. Each Alliance,
          along with their trusty droids, race to collect and score Power Cells in order to energize their Shield
          Generator operational in
          order to energize their Shield Generator for maximum protection. To activate stages of the Shield
          Generator, droids manipulate
          their Rendezvous Point to get their Shield Generator operational in order to protect the city! Each FIELD
          for INFINITE RECHARGE
          is 26 ft. 11 1/4 in. (`821cm) by 52 ft. 5 1/4 in.(`1598 cm) carpeted area bound by and including the
          inward- and upward of the
          guardrails in inward-facing surfaces of the ALLIANCE WALLS.</p>
        <p>Plaster Blaster only competed in one competition, due to COVID-19. The competition it competed in was the
          Palmetto Regional in
          Myrtle Beach, South Carolina. Our bot was ranked 22 out of 63, and was picked by Alliance 5 team captain
          1708, AMP'D Robotics and
          their first pick 1293, Pandamaniacs. Our alliance was knocked out in quarterfinals match number 2.</p>
      </app-modal>

      <app-modal [Title]="'2022 - Jake and Bake'" [(visible)]="bot2022ModalVisible">
        <p>"Jake and Bake" was made our 2022 year and was named after our mechanical mentor Jacob Plasters. Our 2022
          robot had a rear
          intake with a shooter at the front in which we could hold the maximum number of balls, and we had a
          climber for the end so
          that we could have our robot climb to the second rung.</p>
        <p>In CHARGED, two competing alliances are invited to process game pieces to bring energy to their community
          by retrieving
          their game pieces from substations and scoring it into the grid. Human players provide the game pieces to
          the robots from
          the substations. In the final moments of each match, alliance robots race to dock or engage with their
          charge station! Each
          match begins with a 15-second autonomous period, during which the alliance robots operate only on
          pre-programmed instructions
          to score points by: leaving their community, retrieving and scoring game pieces onto the grid, and docking
          on or engaging with
          their charge station. In the final 2 minutes and 15 seconds of the match, drivers take control of the
          robots and score points
          by: continuing to retrieve and score their game pieces onto the grid and docking on or engaging the charge
          station. The
          alliance with the highest score at the end of the match wins!</p>
        <p>During this year's FIRST challenge we went to two competitions, the first being the Smoky Mountain
          Regionals where we ranked
          31st out of 43 teams and our team had made it to the semifinals. At Smoky Mountain Regionals we were
          picked to join the Alliance
          of the Beak Squad (4028) and Robotichauns (2393.)</p>
        <p>In our off season event at WVRoX, we ranked 19th out of 24 teams, and we made it to the quarterfinals,
          where we were picked by
          Dark Side Robotics (7515) and Horsepower (4991)</p>
      </app-modal>

      <app-modal [Title]="'2023 - T.I.N.A.'" [(visible)]="bot2023ModalVisible">
        <p>"T.I.N.A." (Tank Inspired Nightmare Automaton) was made our 2023 year and was named after our mentor Tina Kirk.</p>
        <p>In CHARGED, two competing alliances are invited to process game pieces to bring energy to their community
          by retrieving their game pieces from substations and scoring it into the grid.</p>
      </app-modal>

      <app-modal [Title]="'2024 - TBD'" [(visible)]="bot2024ModalVisible">
        <p>Our 2024 robot is still in the design phase, and we are still working on the name.</p>
        <p>For the 2024 theme CRESCENDO.</p>
      </app-modal>
    </div>
  </main>
</div>