<div id="content">
  <h1 id="parts" class="gear-box" [ngClass]="{ smaller: screenSize <= screenSizeSmall }">
    P A R T s
  </h1>

  <app-blue-banners></app-blue-banners>

  <main id="mainAbout">
    <div id="aboutParts">
      <div id="history">
        <app-box [Title]="'A Brief History...'">
          <p>
            The Putnam Area Robotics Team (P.A.R.T.s), formerly known as RoboGens, began its career as a
            robotics team in 2010 when a Winfield High School senior, Taylor
            Shank, attended a Mountaineer Area RoboticS (MARS) event. Awed and
            inspired, Taylor moved to create a team at his school. Denise
            Johnson, a teacher at the school, took up the opportunity as the
            sponsor, and the team RoboGens was born. It was originally called
            this because Winfield High School is the home of the Winfield
            Generals, and we wanted to pay a tribute to the school.
          </p>
        </app-box>

        <app-box [Title]="'Now...'">
          <p>
            P.A.R.T.s is a team of high school students from all over Putnam
            County who come together to build robots and promote S.T.E.M.
          </p>
          <h2>Awards and Accomplishments</h2>
          <ul id="awards">
            <li>
              2025 - Team Sustainability Award sponsored by Dow, Daly Division - FIRST World Championship
            </li>
            <li>2025 - Regional FIRST Impact Award, Smoky Mountains Regional</li>
            <li>2025 - Regional Winner, Greater Pittsburgh Regional</li>
            <li>
              2025 - Team Sustainability Award sponsored by Dow, Greater Pittsburgh
              Regional
            </li>
            <li>
              2024 - Honorable Mention,
              <a target="_blank"
                href="https://www.alticeusa.com/corporate/news/articles/optimum-announces-winners-its-2024-innovator-awards">Optimum
                Innovator Award</a>
            </li>
            <li>
              2024 - Team Sustainability Award sponsored by Dow, Miami Valley
              Regional
            </li>
            <li>
              2023 - Sustainability Award,
              <a target="_blank"
                href="https://www.alticeusa.com/news/articles/optimum-announces-winners-its-2023-innovator-awards">Optimum
                Innovator Award</a>
            </li>
            <li>2016 - Winner, WV ROX(West Virginia RObotics eXtreme)</li>
            <li>
              2016 - Tina Kirk - Woodie Flowers Finalist Award Recipient, Queen
              City Regional
            </li>
            <li>
              2016 -
              <a target="_blank"
                href="http://www.legis.state.wv.us/Bill_Text_HTML/2016_SESSIONS/RS/Bills/SR20%20intr.htm">
                West Virginia Senate Resolution on STEM Education</a>
            </li>
            <li>2015 - Regional Winner, Smoky Mountains Regional</li>
            <li>
              2014 - Regional Engineering Inspirations Award, Smoky Mountain
              Regional
            </li>
            <li>
              2011 - Jacob Plasters - Mentor of the Year, CORI invitational
              event
            </li>
            <li>2011 - Best Defense Award, CORI invitational event</li>
            <li>2011 - Regional Winner, Pittsburgh Regional</li>
            <li>2011 - Rookie Inspiration Award, Pittsburgh Regional</li>
          </ul>
        </app-box>
      </div>
      <app-box>
        <app-header [h]="1" [centered]="true" [underlined]="false" [marginBottom]="false" [marginTop]="false">Click on a
          bot for its bio!</app-header>
      </app-box>

      <div id="robot-history">
        @for (bot of bots; track $index) {
        <app-box [Title]="bot.title" [InlineBlock]="true" (click)="setVisible(bot, true)">
          <div class="text-align-center">
            <img class="robot-image" [alt]="bot.title" [src]="bot.img" />
          </div>
        </app-box>

        <app-modal [Title]="bot.title" [(Visible)]="bot.visible">
          @for (p of bot.paragraphs; track $index) {
          <p [innerHTML]="p">
          </p>
          }
        </app-modal>
        }
      </div>
    </div>
  </main>
</div>