@import "../../../../scss/abstracts/variables.scss";

#parts {
  color: $accent_color;
  //margin: 3rem 0;
  text-align: center;
  font-size: 7rem;
  text-shadow: 0rem 0.7rem 0.8rem rgba(58, 59, 69, 0.15) !important;

  &.smaller {
    font-size: 6rem;
  }
}

/*BANNERS*/

@import "../../../../scss/vendors/_banners.sass";
#banners {
  text-align: center;
}

.banners {
  display: inline-block;
}

#banners {
  height: 16em;
  overflow: auto;
}

#robot-history {
  max-width: 1900px;
  width: 90%;
  margin: 1em auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  column-gap: 1rem;

  /*MOBILE */
  @media only screen and (max-width: $screen-size-xlg) {
    width: 100%;
  }
  app-box {
    cursor: pointer;
  }

  .robot-image {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    height: 26rem;
    border-radius: 0.5em;

    @media (max-width: $screen-size-sm) {
      height: 20rem !important;
    }
  }
}
