.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-flex {
  display: inline-flex;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-content-space-between,
.space-between //find where this is and remove eventually
{
  justify-content: space-between;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-10 {
  flex-grow: 10;
}

.gap-1rem {
  gap: 1rem;
}
