.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-nowrap {
  flex-wrap: nowrap !important;
}

.inline-flex {
  display: inline-flex;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.justify-content-space-between,
.space-between //find where this is and remove eventually
{
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-10 {
  flex-grow: 10;
}

.gap-1rem {
  gap: 1rem;
}
