$main_color: #2e3094;
$accent_color: #ff6a00;

//$background: white;
$background_color: #858796;

$gray: #676767;

$fontColor: #000;
$hover_color: #0065c4;
//TODO come back and fix these ranges now that i know i can use
//calc() in the media queries to add one to a range
$screen-size-xxxxxxxlg: 3000px;
$screen-size-xxxxxxlg: 2650px;
$screen-size-xxxxxlg: 2350px;
$screen-size-xxxxlg: 2000px;
$screen-size-xxxlg: 1400px;
$screen-size-xxlg: 1200px;
$screen-size-xlg: 922px;
$screen-size-xlg-lower-range: 767px;
$screen-size-lg: 768px;
$screen-size-sm: 767px;
$screen-size-sm-lower-range: 577px;
$screen-size-xs: 576px;
