<app-box [Title]="'Manage Season'">
  <app-form-element-group
    [LabelText]="'Current Season/Event'"
    [InlineElements]="true"
  >
    <app-form-element
      [Type]="'select'"
      [LabelText]="'Season'"
      [SelectList]="seasons"
      [DisplayProperty]="'season'"
      [(Model)]="currentSeason"
      (ModelChange)="getEventsForCurrentSeason()"
      [FormGroupInline]="true"
      [MinWidth]="'100px'"
    >
    </app-form-element>

    <app-form-element
      [Type]="'select'"
      [LabelText]="'Event'"
      [SelectList]="eventList"
      [DisplayProperty]="'event_nm'"
      [(Model)]="currentEvent"
      [FormGroupInline]="true"
      [DisplayEmptyOption]="true"
      [MinWidth]="'100px'"
    >
    </app-form-element>

    <app-form-element
      *ngIf="currentEvent && currentEvent.event_id"
      [Type]="'checkbox'"
      [TrueValue]="'y'"
      [FalseValue]="'n'"
      [LabelText]="'Competition Page Active'"
      [(Model)]="currentEvent.competition_page_active"
      [FormGroupInline]="true"
    >
    </app-form-element>

    <app-button-ribbon>
      <app-button
        *ngIf="currentSeason.season_id"
        [ButtonType]="'success'"
        (FunctionCallBack)="setSeasonEvent()"
        >Save
      </app-button>

      <app-button [ButtonType]="'danger'" (FunctionCallBack)="resetSeasonForm()"
        >Reset</app-button
      >
    </app-button-ribbon>
  </app-form-element-group>

  <app-form-element-group [LabelText]="'Manage Seasons, Events, and Teams'">
    <div class="flex flex-wrap space-between">
      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Manage Seasons'"
        [Title]="'Manage Seasons'"
        [(visible)]="manageSeasonModalVisible"
      >
        <div class="inline-flex align-items-center padding-right-half-em">
          <app-form-element
            [Type]="'number'"
            [LabelText]="'Season'"
            [Width]="'6em'"
            [(Model)]="newSeason"
            [FormGroupInline]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <div class="padding-bottom-2rem">
            <app-button [ButtonType]="'add'" (FunctionCallBack)="addSeason()"
              >Add Season</app-button
            >
          </div>
        </div>

        <div class="inline-flex align-items-center padding-right-half-em">
          <app-form-element
            [Type]="'select'"
            [LabelText]="'Seasons'"
            [SelectList]="seasons"
            [DisplayEmptyOption]="true"
            [DisplayProperty]="'season'"
            [BindingProperty]="'season_id'"
            [(Model)]="delSeason"
            [FormGroupInline]="true"
            (FunctionCallBack)="getEventsForDeleteEvent()"
            [MinWidth]="'110px'"
          >
          </app-form-element>

          <div class="padding-bottom-2rem">
            <app-button
              [ButtonType]="'delete'"
              (FunctionCallBack)="deleteSeason()"
              >Delete Season</app-button
            >
          </div>
        </div>

        <div class="inline-flex align-items-center padding-right-half-em">
          <app-form-element
            [Type]="'select'"
            [LabelText]="'Events'"
            [SelectList]="delEventList"
            [DisplayEmptyOption]="true"
            [DisplayProperty]="'event_nm'"
            [BindingProperty]="'event_id'"
            [(Model)]="delEvent"
            [FormGroupInline]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <div class="padding-bottom-2rem">
            <app-button
              [ButtonType]="'delete'"
              (FunctionCallBack)="deleteEvent()"
              >Delete Event</app-button
            >
          </div>
        </div>
      </app-modal>

      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Add Event'"
        [Title]="'Add Event'"
        [(visible)]="manageEventsModalVisible"
        [MaxWidth]="'500px'"
      >
        <app-form (SubmitFunction)="saveEvent()">
          <app-form-element
            [Type]="'text'"
            [LabelText]="'TBA Event Code'"
            [(Model)]="newEvent.event_cd"
          >
          </app-form-element>

          <p>OR</p>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Season'"
            [SelectList]="seasons"
            [DisplayEmptyOption]="true"
            [DisplayProperty]="'season'"
            [BindingProperty]="'season_id'"
            [(Model)]="newEvent.season_id"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Name'"
            [(Model)]="newEvent.event_nm"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'date'"
            [LabelText]="'Date Start'"
            [(Model)]="newEvent.date_st"
            [Required]="true"
            [Disabled]="newEvent && newEvent.event_cd.length > 0"
          >
          </app-form-element>
          <app-form-element
            [Type]="'date'"
            [LabelText]="'Date End'"
            [(Model)]="newEvent.date_end"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Address'"
            [(Model)]="newEvent.address"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'City'"
            [(Model)]="newEvent.city"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'State'"
            [(Model)]="newEvent.state_prov"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Zip Code'"
            [(Model)]="newEvent.postal_code"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Location Name'"
            [(Model)]="newEvent.location_name"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Event URL'"
            [(Model)]="newEvent.event_url"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Google Maps URL'"
            [(Model)]="newEvent.gmaps_url"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Webcast URL'"
            [(Model)]="newEvent.webcast_url"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-form-element
            [Type]="'text'"
            [LabelText]="'Time Zone'"
            [(Model)]="newEvent.timezone"
            [Required]="true"
            [Disabled]="newEvent.event_cd.length > 0"
          >
          </app-form-element>

          <app-button-ribbon>
            <app-button
              [ButtonType]="'warning'"
              (FunctionCallBack)="clearEvent()"
              >Clear</app-button
            >
            <app-button [ButtonType]="'success'" [Type]="'submit'"
              >Save</app-button
            >
          </app-button-ribbon>
        </app-form>
      </app-modal>

      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Add Team'"
        [Title]="'Add Team'"
        [(visible)]="manageTeamModalVisible"
        [MaxWidth]="'300px'"
      >
        <app-form (SubmitFunction)="saveTeam()">
          <app-form-element
            [Type]="'text'"
            [LabelText]="'Number'"
            [(Model)]="newTeam.team_no"
            [Required]="true"
          >
          </app-form-element>
          <app-form-element
            [Type]="'text'"
            [LabelText]="'Name'"
            [(Model)]="newTeam.team_nm"
            [Required]="true"
          >
          </app-form-element>

          <app-button-ribbon>
            <app-button
              [ButtonType]="'warning'"
              (FunctionCallBack)="clearTeam()"
              >Clear</app-button
            >
            <app-button [ButtonType]="'success'" [Type]="'submit'"
              >Save</app-button
            >
          </app-button-ribbon>
        </app-form>
      </app-modal>

      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Link Team to Event'"
        [Title]="'Link Team to Event'"
        [visible]="linkTeamToEventModalVisible"
        [MaxWidth]="'400px'"
        (visibleChange)="showLinkTeamToEventModal($event)"
      >
        <app-form (SubmitFunction)="addEventToTeams()">
          <app-form-element
            [Type]="'select'"
            [LabelText]="'Season'"
            [SelectList]="seasons"
            [DisplayProperty]="'season'"
            [BindingProperty]="'season_id'"
            [(Model)]="linkTeamToEventSeason"
            (FunctionCallBack)="getEventsForLinkTeamToEvent()"
            [FormGroupInline]="true"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Event'"
            [SelectList]="linkTeamToEventList"
            [DisplayProperty]="'event_nm'"
            [(Model)]="linkTeamToEventEvent"
            [Required]="true"
            (FunctionCallBack)="buildLinkTeamToEventTeamList()"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'multiSelect'"
            [LabelText]="'Teams'"
            [SelectList]="linkTeamToEventTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [(Model)]="eventToTeams.teams"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-button-ribbon>
            <app-button
              [ButtonType]="'warning'"
              (FunctionCallBack)="clearEventToTeams()"
              >Clear</app-button
            >
            <app-button [ButtonType]="'success'" [Type]="'submit'"
              >Save</app-button
            >
          </app-button-ribbon>
        </app-form>
      </app-modal>

      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Remove Team from Event'"
        [Title]="'Remove Team from Event'"
        [visible]="removeTeamFromEventModalVisible"
        [MaxWidth]="'400px'"
        (visibleChange)="showRemoveTeamFromEventModal($event)"
      >
        <app-form (SubmitFunction)="removeEventToTeams()">
          <app-form-element
            [Type]="'select'"
            [LabelText]="'Season'"
            [SelectList]="seasons"
            [DisplayProperty]="'season'"
            [BindingProperty]="'season_id'"
            [(Model)]="removeTeamFromEventSeason"
            (FunctionCallBack)="getEventsForRemoveTeamFromEvent()"
            [FormGroupInline]="true"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Events'"
            [SelectList]="removeTeamFromEventList"
            [DisplayEmptyOption]="true"
            [DisplayProperty]="'event_nm'"
            [(Model)]="removeTeamFromEventEvent"
            (FunctionCallBack)="buildRemoveTeamFromEventTeamList()"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <!--there are two of these because if the model is not initialized it will throw an error this is the best solution for the moment-->
          <app-form-element
            *ngIf="removeTeamFromEventEvent"
            [Type]="'multiSelect'"
            [LabelText]="'Teams'"
            [SelectList]="removeTeamFromEventTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [(Model)]="removeTeamFromEventEvent.teams"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            *ngIf="!removeTeamFromEventEvent"
            [Type]="'multiSelect'"
            [LabelText]="'Teams'"
            [SelectList]="removeTeamFromEventTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-button-ribbon>
            <app-button
              [ButtonType]="'warning'"
              (FunctionCallBack)="clearRemoveEventToTeams()"
              >Clear</app-button
            >
            <app-button [ButtonType]="'danger'" [Type]="'submit'"
              >Remove</app-button
            >
          </app-button-ribbon>
        </app-form>
      </app-modal>

      <app-modal
        [ButtonType]="'main'"
        [ButtonText]="'Add Match'"
        [Title]="'Add Match'"
        [(visible)]="manageMatchModalVisible"
        [MaxWidth]="'300px'"
      >
        <app-form (SubmitFunction)="saveMatch()">
          <app-form-element
            [Type]="'text'"
            [LabelText]="'Number'"
            [(Model)]="newMatch.match_number"
            [Required]="true"
          >
          </app-form-element>

          <app-form-element-group [LabelText]="'Team Filter'">
            <app-form-element
              [Type]="'select'"
              [LabelText]="'Season'"
              [SelectList]="seasons"
              [DisplayProperty]="'season'"
              [(Model)]="newMatchSeason"
              (FunctionCallBack)="getEventsForNewMatch()"
              [FormGroupInline]="true"
              [MinWidth]="'100px'"
            >
            </app-form-element>

            <app-form-element
              [Type]="'select'"
              [LabelText]="'Event'"
              [SelectList]="newMatchEvents"
              [DisplayProperty]="'event_nm'"
              [(Model)]="newMatchEvent"
              (FunctionCallBack)="getTeamsForNewMatch()"
              [MinWidth]="'100px'"
            >
            </app-form-element>
          </app-form-element-group>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Red One'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.red_one_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Red Two'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.red_two_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Red Three'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.red_three_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Blue One'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.blue_one_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Blue Two'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.blue_two_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-form-element
            [Type]="'select'"
            [LabelText]="'Blue Three'"
            [SelectList]="newMatchTeams"
            [DisplayProperty]="'team_no'"
            [DisplayProperty2]="'team_nm'"
            [BindingProperty]="'team_mo'"
            [(Model)]="newMatch.blue_three_id"
            [Required]="true"
            [MinWidth]="'100px'"
          >
          </app-form-element>

          <app-button-ribbon>
            <app-button
              [ButtonType]="'warning'"
              (FunctionCallBack)="clearTeam()"
              >Clear</app-button
            >
            <app-button [ButtonType]="'success'" [Type]="'submit'"
              >Save</app-button
            >
          </app-button-ribbon>
        </app-form>
      </app-modal>
    </div>
  </app-form-element-group>

  <app-form-element-group
    *ngIf="currentSeason.season_id || currentEvent.event_id"
    [LabelText]="'External Information Sources'"
  >
    <div class="flex flex-wrap space-between">
      <app-button
        *ngIf="currentSeason.season_id"
        [ButtonType]="'main'"
        (FunctionCallBack)="syncSeason()"
      >
        Sync Season</app-button
      >
      <app-button
        *ngIf="currentEvent.event_id"
        [ButtonType]="'main'"
        (FunctionCallBack)="syncEvent(currentEvent.event_cd)"
      >
        Sync Event</app-button
      >
      <app-button
        *ngIf="currentEvent.event_id"
        [ButtonType]="'main'"
        (FunctionCallBack)="syncMatches()"
      >
        Sync Matches</app-button
      >
      <app-button
        *ngIf="currentEvent.event_id"
        [ButtonType]="'main'"
        (FunctionCallBack)="syncEventTeamInfo()"
      >
        Sync Event-Team Info</app-button
      >
    </div>
  </app-form-element-group>

  <app-form-element-group
    [LabelText]="'Response'"
    *ngIf="syncSeasonResponse.retMessage"
  >
    <div id="respose">
      <p class="white-space-pre">{{ syncSeasonResponse.retMessage }}</p>
    </div>
  </app-form-element-group>
</app-box>
