<div id="wrapper">
    <div id="banners">
        <ul class="banners">
            @for (award of awards; track $index) {
            <li class="banner">
                <div class="flex flex-direction-column align-items-center full-height">
                    <div class="flex flex-direction-column align-items-center">
                        <img src="/appIcons/first.svg" />

                        <p class="title text">{{award.title}}</p>
                    </div>
                    <div class="flex flex-direction-column align-items-center flex-grow-2 justify-content-center">

                        <p class="text">{{award.event}}</p>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
    <div id="scroll" class="flex align-items-center justify-content-center">
        <span class="icon mdi mdi-pan-{{screenSize <= screenSizeSmall ? 'vertical' : 'horizontal'}}"></span>
    </div>
</div>