@import "../../../../scss/abstracts/variables.scss";

/*ALBUM COVERS*/

#mainMedia {
  text-align: center;
  // needed in wide not mobile? height: 100%;
}

.albums img {
  display: inline-block;
  margin: auto;
  padding: 0.5em;

  -webkit-filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
  filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
}

/*album image:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
  .albums img,
  .wallpaperAccordion {
    width: 20%;
  }
}

/*album image:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
  .albums img,
  .wallpaperAccordion {
    width: 60%;
  }
}

/*WALLPAPER DOWNLOAD DROPDOWN*/

.album {
  cursor: pointer;
}

.wallpaperAccordion {
  padding: 0.5em;

  & > div {
    position: relative;

    .article {
      position: absolute;
      width: 100%;
      z-index: 2;
      background-color: white;
      border-radius: 0.35em;
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    }
  }
}

/*wallpaper:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
  .wallpaperAccordion {
    display: inline-block;
  }
}

/*wallpaper:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
  .wallpaperAccordion {
    display: block;
    margin: auto;
  }
}

.wallpaperAccordion a {
  text-decoration: none;
}

.wallpaperAccordion input {
  display: none;
}

.wallpaperAccordion .article {
  overflow: hidden;
  max-height: 0px;
}

/*DROP DOWN STYLING*/

.wallpaperAccordion input:checked ~ .article.ac-small {
  max-height: 15em;
}

.article.ac-small table {
  width: 100%;
}

.article.ac-small h2 {
  text-align: center;
  margin: 1rem 0;
}

.wallpapers .article.ac-small .downloadLine {
  border-bottom: 1px solid $gray;
}

/*DROP DOWN ACTION*/

.wallpaperAccordion input:checked ~ .article {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wallpaperAccordion .article {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
