@use "../../../../scss/abstracts/variables.scss";

/*ALBUM COVERS*/

#mainMedia {
  text-align: center;
  // needed in wide not mobile? height: 100%;
}

.albums img {
  display: inline-block;
  margin: auto;
  padding: 0.5em;

  -webkit-filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
  filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
}

.wallpapers img {
  width: 100%;
  -webkit-filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
  filter: drop-shadow(0rem 0.7rem 0.7rem rgba(58, 59, 69, 0.15));
}

/*album image*/
@media screen and (max-width: calc(variables.$screen-size-xs - 1px)) {
  .albums img,
  .wallpaperAccordion {
    width: 50%;
  }
}

@media screen and (min-width: variables.$screen-size-xs) {
  .albums img,
  .wallpaperAccordion {
    width: 40%;
  }
}

@media screen and (min-width: variables.$screen-size-sm) {
  .albums img,
  .wallpaperAccordion {
    width: 40%;
  }
}

@media screen and (min-width: variables.$screen-size-lg) {
  .albums img,
  .wallpaperAccordion {
    width: 35%;
  }
}

@media screen and (min-width: variables.$screen-size-xlg) {
  .albums img,
  .wallpaperAccordion {
    width: 30%;
  }

  @media screen and (min-width: variables.$screen-size-xxlg) {
    .albums img,
    .wallpaperAccordion {
      width: 25%;
    }
  }

  @media screen and (min-width: variables.$screen-size-xxxlg) {
    .albums img,
    .wallpaperAccordion {
      width: 20%;
    }

    @media screen and (min-width: variables.$screen-size-xxxxlg) {
      .albums img,
      .wallpaperAccordion {
        width: 15%;
      }
    }
  }
}

/*WALLPAPER DOWNLOAD DROPDOWN*/

.album {
  cursor: pointer;
}

.wallpaperAccordion {
  padding: 0.5em;

  & > div {
    position: relative;

    .article {
      position: absolute;
      width: 100%;
      z-index: 2;
      background-color: white;
      border-radius: 0.35em;
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
    }
  }
}

.wallpaperAccordion {
  display: inline-block;
}

.wallpaperAccordion a {
  text-decoration: none;
}

.wallpaperAccordion input {
  display: none;
}

.wallpaperAccordion .article {
  overflow: hidden;
  max-height: 0px;
}

/*DROP DOWN STYLING*/

.wallpaperAccordion input:checked ~ .article.ac-small {
  max-height: 15em;
}

.article.ac-small table {
  width: 100%;
}

.article.ac-small h2 {
  text-align: center;
  margin: 1rem 0;
}

.wallpapers .article.ac-small .downloadLine {
  border-bottom: 1px solid variables.$gray;
}

/*DROP DOWN ACTION*/

.wallpaperAccordion input:checked ~ .article {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.wallpaperAccordion .article {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
////////////////////////////////////////////
///
///
///
///
///
///
@font-face {
  font-family: "StencilStd";
  src: url(/fonts/StencilStd.otf) format("opentype");
  unicode-range: U+0000-00FF;
}

#albums {
  background-color: rebeccapurple;

  .album {
    position: relative;
    background-color: green;
    display: inline-block;
    //width: 500px;
    //height: 500px;
    padding-bottom: 0%;
    border-radius: 50%;
    overflow: hidden;

    a img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    label {
      position: absolute;
      top: 60%;
      left: 0;
      width: 100%;
      height: 20%;
      background-color: rgba(white, $alpha: 0.6);
      font-family: StencilStd;
      color: variables.$main_color;
      font-size: 100%;
    }
  }
}

@media screen and (max-width: calc(variables.$screen-size-xs - 1px)) {
  .album {
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: variables.$screen-size-xs) {
  .album {
    width: 40%;
  }
}

@media screen and (min-width: variables.$screen-size-sm) {
  .album {
    width: 40%;
  }
}

@media screen and (min-width: variables.$screen-size-lg) {
  .album {
    width: 35%;
  }
}

@media screen and (min-width: variables.$screen-size-xlg) {
  .album {
    width: 30%;
  }

  @media screen and (min-width: variables.$screen-size-xxlg) {
    .album {
      width: 25%;
    }
  }

  @media screen and (min-width: variables.$screen-size-xxxlg) {
    .album {
      width: 20%;
    }

    @media screen and (min-width: variables.$screen-size-xxxxlg) {
      .album {
        width: 15%;
      }
    }
  }
}
