<div id="content">
  <main id="mainMedia">
    <app-box>
      <app-header [h]="1" [centered]="true" [underlined]="false" [marginBottom]="false" [marginTop]="false">Click an
        image to visit its albums</app-header>
    </app-box>

    <div id="albums">
      @for (album of albums; track $index) {
      <div class="album">
        <a [routerLink]="album.routerLink">
          <img [src]="album.imgSrc" />
        </a>
        <label>{{album.label}}</label>
      </div>
      }
    </div>

    <div class="albums">
      <a routerLink="competition">
        <img src="/albumCovers/Competition/Competition.png" />
      </a>
      <a routerLink="build-season">
        <img src="/albumCovers/BuildSeason/BuildSeason.png" />
      </a>
      <a routerLink="community-outreach">
        <img src="/albumCovers/CommunityOutreach/CommunityOutreach.png" />
      </a>
      <a routerLink="wallpapers">
        <img src="/albumCovers/Wallpapers/Wallpapers.png" />
      </a>
    </div>
  </main>
</div>