<app-banners></app-banners>

<app-modal [(Visible)]="modalService.showErrorModal" [Title]="'Error'" [zIndex]="103">
  <p>
    {{ modalService.errorMessage }}
  </p>

  <app-button-ribbon>
    <app-button [ButtonType]="'main'" (FunctionCallBack)="modalService.acceptError()">{{
      modalService.errorButtonText
      }}</app-button>
  </app-button-ribbon>
</app-modal>

<app-modal [(Visible)]="modalService.showConfirmModal" [Title]="'Confirm'" [zIndex]="102">
  <p>
    {{ modalService.confirmMessage }}
  </p>

  <app-button-ribbon>
    <app-button [ButtonType]="'danger'" (FunctionCallBack)="modalService.acceptConfirm()">{{ modalService.confirmButtonText }}</app-button>
    <app-button [ButtonType]="'warning'" (FunctionCallBack)="modalService.rejectConfirm()">{{ modalService.confirmButtonCancelText }}
    </app-button>
  </app-button-ribbon>
</app-modal>

<app-navigation>
  <router-outlet />
</app-navigation>

<app-modal></app-modal>