@import "./scss/_helpers/variables";

/*FOOTER> KEEP AT BOTTOM*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

#content {
  min-height: 100vh;
  padding-bottom: 13em;
  /* Height of the footer element */

  @media only screen and (max-width: $screen-size-xlg-lower-range) {
    padding-top: 4em;
  }
}

.clear {
  clear: both;

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}
