<app-box [Title]="'Manage Pit Responses'">
  <app-table
    [TableCols]="scoutPitResultsCols"
    [TableData]="scoutPitResults"
    [Width]="'100%'"
    [ScrollHeight]="'50rem'"
    [Scrollable]="true"
    [ShowViewButton]="true"
    (ViewRecordCallBack)="showPitScoutResultModal($event)"
  ></app-table>

  <app-modal [(Visible)]="scoutPitResultModalVisible" [Title]="'Pit Response'">
    <div>
      <app-scout-pic-display
        [ScoutPitImages]="activePitScoutResult.pics"
        [PitImgTyp]="'robot-img'"
      ></app-scout-pic-display>

      @for (r of activePitScoutResult.responses; track r) {
        <div>
          <p>{{ r.question }}: {{ r.answer }}</p>
        </div>
      }

      <app-scout-pic-display
        [ScoutPitImages]="activePitScoutResult.pics"
        [PitImgTyp]="'auto-path'"
      ></app-scout-pic-display>
    </div>

    <app-button-ribbon>
      <app-button [ButtonType]="'danger'" (FunctionCallBack)="deletePitResult()"
        >Delete</app-button
        >
      </app-button-ribbon>
    </app-modal>
  </app-box>
