<app-box [Title]="'Scout Field Form'">
  <div id="scout-header">
    <div id="scouts">
      <div id="red">
        <div>{{ scoutFieldSchedule?.red_one?.first_name }} {{ scoutFieldSchedule?.red_one?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.red_two?.first_name }} {{ scoutFieldSchedule?.red_two?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.red_three?.first_name }} {{ scoutFieldSchedule?.red_three?.last_name }}</div>
      </div>
      <div id="blue">
        <div>{{ scoutFieldSchedule?.blue_one?.first_name }} {{ scoutFieldSchedule?.blue_one?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.blue_two?.first_name }} {{ scoutFieldSchedule?.blue_two?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.blue_three?.first_name }} {{ scoutFieldSchedule?.blue_three?.last_name }}</div>
      </div>
    </div>
  </div>
  <form>
    <app-form-element [LabelText]="'Team'" [Type]="'select'" [FormGroup]="true" [SelectList]="teams"
      [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'"
      [DisplayEmptyOption]="true" [(Model)]="team">
    </app-form-element>

    <app-form-element-group [LabelText]="'Autonomous'">
      <ng-container *ngFor="let sq of scoutAutoQuestions">
        <app-form-element [LabelText]="sq.question" [Type]="sq.question_typ" [FormGroup]="true"
          [SelectList]="sq.options" [BindingProperty]="'option'" [DisplayProperty]="'option'"
          [DisplayEmptyOption]="true" [(Model)]="sq.answer" [TrueValue]="'true'" [FalseValue]="'false'"
          [FormGroupInline]="sq.question_typ === 'number'">
        </app-form-element>
        <div class="number-stepper" *ngIf="sq.question_typ === 'number'">
          <app-button [ButtonType]="'add'" (FunctionCallBack)="increment(sq)"></app-button>
          <app-button [ButtonType]="'minus'" (FunctionCallBack)="decrement(sq)"></app-button>
        </div>
        <br>
      </ng-container>
    </app-form-element-group>

    <app-form-element-group [LabelText]="'Teleoperated'">
      <ng-container *ngFor="let sq of scoutTeleopQuestions">
        <app-form-element [LabelText]="sq.question" [Type]="sq.question_typ" [FormGroup]="true"
          [SelectList]="sq.options" [BindingProperty]="'option'" [DisplayProperty]="'option'"
          [DisplayEmptyOption]="true" [(Model)]="sq.answer" [TrueValue]="'true'" [FalseValue]="'false'"
          [FormGroupInline]="sq.question_typ === 'number'">
        </app-form-element>
        <div class="number-stepper" *ngIf="sq.question_typ === 'number'">
          <app-button [ButtonType]="'add'" (FunctionCallBack)="increment(sq)"></app-button>
          <app-button [ButtonType]="'minus'" (FunctionCallBack)="decrement(sq)"></app-button>
        </div>
        <br>
      </ng-container>
    </app-form-element-group>

    <app-form-element-group *ngIf="scoutOtherQuestions.length > 0" [LabelText]="'Other'">
      <ng-container *ngFor="let sq of scoutOtherQuestions">
        <app-form-element [LabelText]="sq.question" [Type]="sq.question_typ" [FormGroup]="true"
          [SelectList]="sq.options" [BindingProperty]="'option'" [DisplayProperty]="'option'"
          [DisplayEmptyOption]="true" [(Model)]="sq.answer" [TrueValue]="'true'" [FalseValue]="'false'"
          [FormGroupInline]="sq.question_typ === 'number'">
        </app-form-element>
        <div class="number-stepper" *ngIf="sq.question_typ === 'number'">
          <app-button [ButtonType]="'add'" (FunctionCallBack)="increment(sq)"></app-button>
          <app-button [ButtonType]="'minus'" (FunctionCallBack)="decrement(sq)"></app-button>
        </div>
        <br>
      </ng-container>
    </app-form-element-group>

    <app-button-ribbon>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="save()">Save</app-button>
    </app-button-ribbon>

  </form>
</app-box>