<app-box [Title]="'Field Scouting Form'">

  <app-form-element-group [LabelText]="'Team results to upload'" *ngIf="outstandingResults.length > 0">
    <app-button [ButtonType]="'refresh'" (FunctionCallBack)="uploadOutstandingResults()"></app-button>
    {{outstandingResults}}
  </app-form-element-group>
  <br *ngIf="outstandingResults.length > 0">

  <div id="scout-header">
    <div id="scouts">
      <div class="red">
        <p>{{ scoutFieldSchedule.red_one_id?.first_name }} {{ scoutFieldSchedule.red_one_id?.last_name }}</p>
        <div *ngIf="teamMatch?.red_one_id">
          <hr>
          <p>{{teamMatch?.red_one_id}}</p>
        </div>
      </div>

      <div class="blue">
        <p>{{ scoutFieldSchedule.blue_one_id?.first_name }} {{ scoutFieldSchedule.blue_one_id?.last_name }}</p>
        <div *ngIf="teamMatch?.blue_one_id">
          <hr>
          <p>{{teamMatch?.blue_one_id}}</p>
        </div>
      </div>

      <div class="red">
        <p>{{ scoutFieldSchedule.red_two_id?.first_name }} {{ scoutFieldSchedule.red_two_id?.last_name }}</p>
        <div *ngIf="teamMatch?.red_two_id">
          <hr>
          <p>{{teamMatch?.red_two_id}}</p>
        </div>
      </div>

      <div class="blue">
        <p>{{ scoutFieldSchedule.blue_two_id?.first_name }} {{ scoutFieldSchedule.blue_two_id?.last_name }}</p>
        <div *ngIf="teamMatch?.blue_two_id">
          <hr>
          <p>{{teamMatch?.blue_two_id}}</p>
        </div>
      </div>

      <div class="red">
        <p>{{ scoutFieldSchedule.red_three_id?.first_name }} {{ scoutFieldSchedule.red_three_id?.last_name }}</p>
        <div *ngIf="teamMatch?.red_three_id">
          <hr>
          <p>{{teamMatch?.red_three_id}}</p>
        </div>
      </div>

      <div class="blue">
        <p>{{ scoutFieldSchedule.blue_three_id?.first_name }} {{ scoutFieldSchedule.blue_three_id?.last_name }}</p>
        <div *ngIf="teamMatch?.blue_three_id">
          <hr>
          <p>{{teamMatch?.blue_three_id}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>

  <app-form (SubmitFunction)="save()" [FormElements]="formElements">
    <div *ngIf="matches.length > 0" class="flex align-items-baseline">
      <app-form-element [LabelText]="'Match'" [Type]="'select'" [SelectList]="matches"
        [DisplayProperty]="'match_number'" [DisplayEmptyOption]="true" [(Model)]="teamMatch"
        [Required]="matches.length > 0 && !noMatch" (FunctionCallBack)="buildTeamList()">
      </app-form-element>

      <app-button [ButtonType]="'warning'" (FunctionCallBack)="setNoMatch()">No Match
      </app-button>
    </div>
    <app-form-element [LabelText]="'Team'" [Type]="'select'" [FormGroup]="true" [SelectList]="teamList"
      [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'"
      [DisplayEmptyOption]="true" [(Model)]="team" [Required]="true">
    </app-form-element>

    <app-question-display-form [LabelText]="'Autonomous'" [(Questions)]="scoutAutoQuestions"
      (FormElementsChange)="setAutoFormElements($event)">
    </app-question-display-form>

    <app-question-display-form [LabelText]="'Teleoperated'" [(Questions)]="scoutTeleopQuestions"
      (FormElementsChange)="setTeleopFormElements($event)">
    </app-question-display-form>

    <app-question-display-form *ngIf="scoutOtherQuestions.length > 0" [LabelText]="'Other'"
      [(Questions)]="scoutOtherQuestions" (FormElementsChange)="setOtherFormElements($event)">
    </app-question-display-form>

    <app-button-ribbon>
      <app-button [Type]="'submit'" [ButtonType]="'main'">Save</app-button>
    </app-button-ribbon>

  </app-form>
</app-box>