<app-box [Title]="'Scout Field Form'">
  <div id="scout-header">
    <div id="scouts">
      <div id="red">
        <div>{{ scoutFieldSchedule?.red_one?.first_name }} {{ scoutFieldSchedule?.red_one?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.red_two?.first_name }} {{ scoutFieldSchedule?.red_two?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.red_three?.first_name }} {{ scoutFieldSchedule?.red_three?.last_name }}</div>
      </div>
      <div id="blue">
        <div>{{ scoutFieldSchedule?.blue_one?.first_name }} {{ scoutFieldSchedule?.blue_one?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.blue_two?.first_name }} {{ scoutFieldSchedule?.blue_two?.last_name }}</div>
        <div>{{ scoutFieldSchedule?.blue_three?.first_name }} {{ scoutFieldSchedule?.blue_three?.last_name }}</div>
      </div>
    </div>
  </div>
  <form>
    <app-form-element [LabelText]="'Team'" [Type]="'select'" [FormGroup]="true" [SelectList]="teams"
      [BindingProperty]="'team_no'" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'" [(Model)]="team">
    </app-form-element>

    <app-form-element *ngFor="let sq of scoutQuestions" [LabelText]="sq.question" [Type]="sq.question_typ"
      [FormGroup]="true" [SelectList]="sq.options" [BindingProperty]="'option'" [DisplayProperty]="'option'"
      [DisplayEmptyOption]="true" [(Model)]="sq.answer" [TrueValue]="'true'" [FalseValue]="'false'">
    </app-form-element>
    <app-button-ribbon>
      <app-button [ButtonType]="'main'" (FunctionCallBack)="save()">Save</app-button>
    </app-button-ribbon>

  </form>
</app-box>