<app-box [Title]="'Match Planning'">
  <app-form (SubmitFunction)="saveMatchStrategy()">
    <app-form-element-group [LabelText]="'Match'" [InlineElements]="true">
      <app-form-element
        [Type]="'select'"
        [LabelText]="'Match'"
        [SelectList]="matches"
        [(Model)]="match"
        [DisplayProperty]="'match_number'"
        [MinWidth]="'100px'"
        (FunctionCallBack)="setMatchStrategies()"
        [Required]="true"
      ></app-form-element>

      <app-form-element
        [Type]="'select'"
        [LabelText]="'Match Strategy'"
        [SelectList]="activeMatchStrategies"
        [(Model)]="activeMatchStrategy"
        [DisplayProperty]="'display_value'"
        [MinWidth]="'200px'"
        [DisplayEmptyOption]="true"
      ></app-form-element>

      <app-button [ButtonType]="'add'"></app-button>
    </app-form-element-group>

    <app-form-element-group>
      <app-form-element
        [Type]="'area'"
        [LabelText]="'Strategy'"
        [(Model)]="activeMatchStrategy.strategy"
        [Width]="'100%'"
        [Rows]="8"
        [Required]="true"
      ></app-form-element>

      @if (fieldForm && !activeMatchStrategy.img_url) {
      <app-whiteboard
        [ImageUrl]="fieldForm.full_img_url"
        (Image)="setImage($event)"
      ></app-whiteboard>
      } @else if (activeMatchStrategy.img_url) {
      <img id="strategy-image" [src]="activeMatchStrategy.img_url" />
      }

      <app-button-ribbon>
        @if (activeMatchStrategy.img_url) {
        <app-button [ButtonType]="'danger'" (FunctionCallBack)="clearImageUrl()"
          >New Image</app-button
        >
        }
        <app-button [Type]="'submit'" [ButtonType]="'success'">Save</app-button>
      </app-button-ribbon>
    </app-form-element-group>
  </app-form>
</app-box>
