/**********BEGIN ABOUT TEAM**********/


/*BANNERS*/

@import '../_vendors/_banners';
#banners {
    text-align: center;
}

.banners {
    display: inline-block;
}


/*banners:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #scrollBanner {
        display: none;
    }
}


/*banners:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*BANNERS*/
    #banners {
        height: 16em;
        overflow: auto;
    }
    .banners {
        width: 40.4em;
    }
    #scrollBanner {
        text-align: center;
    }
}


/*JUMP TO YEAR*/

.yearAccordion {
    width: 100%;
}

.yearJumpNav td {
    overflow: hidden;
}

.yearJumpNav a {
    display: block;
    margin: -10em;
    padding: 10em;
    text-decoration: none;
    font-weight: bold;
}


/*yearJump:WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #yearJumpNav {
        width: 100%;
    }
    #yearJump,
    #ac-0 {
        display: none;
    }
    /*TABLE IMAGES*/
    #aboutParts .bot {
        width: 40%;
    }
}


/*yearJump:NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    /*PAGE DISPLAY*/
    #aboutParts td {
        display: block;
    }
    #yearJump {
        width: 100%;
    }
    .yearJumpNav td {
        display: block;
    }
    .yearJumpNav a {
        text-decoration: none;
        font-weight: bold;
        display: block;
        margin: -10em;
        padding: 10em;
    }
    .yearAccordion input {
        display: none;
    }
    .yearAccordion .article {
        overflow: hidden;
        max-height: 0px;
    }
    /*DROP DOWN STYLING*/
    .yearAccordion input:checked~.article.ac-small {
        max-height: 40em;
    }
    .article.ac-small table {
        width: 100%;
    }
    /*DROP DOWN ACTION*/
    .yearAccordion input:checked~.article {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .yearAccordion .article {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .yearAccordion .article.ac-small .yearLine {
        border-bottom: 1px solid $navHam;
    }
    #jumpWideScreen {
        display: none;
    }
    /*DROPDOWN ARROW*/
    #yearDown {
        float: right;
        height: 2.6em;
        cursor: pointer;
        margin: -5em;
        padding: 5em;
        transform: rotate(0deg);
        transition: .2s linear;
    }
    #yearDownTd {
        overflow: hidden;
    }
    .yearAccordion input:checked~label #yearJump tr td #yearDown {
        transform: rotate(180deg);
    }
    /*TABLE IMAGES*/
    #aboutParts .bot {
        width: 100%;
    }
}


/*TABLE IMAGES*/

#aboutParts #beanieBot {
    width: 60%;
}


/*TEXT*/

#history h1 {
    text-align: center;
}

#aboutParts h2 {
    text-align: center;
}

#aboutParts p {
    text-align: left;
}

#awards li {
    text-align: left;
}

#aboutParts td {
    text-align: center;
}


/*NEW BOT LAYOUT*/

.cover {
    width: 30%;
}

.cover h2 {
    width: 100%;
}


/*WIDE SCREEN*/

@media only screen and (min-width: 1001px) {
    #aboutParts .cover img {
        width: 100%;
    }
}


/*NARROW SCREEN*/

@media only screen and (max-width: 1000px) {
    #aboutParts .cover img {
        height: 14em;
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.robotLabel {
    cursor: pointer;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 1s ease-in-out;
    max-height: 100vh;
}

.popup h2 {
    margin-top: 0;
    padding-top: .5em;
    text-align: center;
}

.popup .close {
    position: absolute;
    transition: all 200ms;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: $fontColor;
}

.popup .close:hover {
    color: $hoverColor;
}

.popup .robotBio {
    max-height: 80vh;
    padding-right: 2em;
    padding-left: 2em;
    overflow-x: hidden;
    overflow-y: auto;
}

//wide
@media only screen and (min-width: 1001px) {
    .popup .close {
        top: 20px;
        right: 30px;
    }
}

//narrow
@media screen and (max-width: 1000px) {
    .cover {
        width: 80%;
    }
    .popup {
        width: 80%; //make 80
    }
    .popup .close {
        top: 40px;
        right: 30px;
    }
    .noNAV:checked~#blueBlock,
    .noNAV:checked~#menu,
    .noNAV:checked~#navContainer {
        visibility: hidden;
        opacity: 0;
        transition: .25s ease-in-out;
    }
}

#mccoyRadio:checked~#wrapper>#content>#mainAbout>#aboutParts>#coversContainer>#mccoy {
    visibility: visible;
    opacity: 1;
    z-index: 16;
}


/*
#none:checked~#wrapper>#content>#mainLibrary>#coversContainer>.overlay>.popup>.books a {
    pointer-events: none;
    cursor: default;
}*/

.robotRadio {
    display: none;
}


/**********END ABOUT TEAM**********/
