/**********BEGIN COMPETITION**********/

#competition2 {
    width: 100%;
}


/*TEXT*/

#competition h2 {
    text-align: center;
}


/*BORDER*/

#competition td {
    border: 2px solid $navHam;
}


/*IMG*/

#competition img {
    width: 100%;
}


/**********END COMPETITION**********/