/**********BEGIN CONTACT US**********/


/*TEXT*/

#contact h2 {
    text-align: center;
}


/*FLUID MAP*/

#map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#mapWrapper {
    //use sizing everywhere, 90 on mobile width: 80%; 
    height: 30em;
    margin: 2em auto 2em auto;
}


/**********END CONTACT US**********/