<app-header *ngIf="TableTitle" [h]="3" [marginBottom]="false">{{ TableTitle }}</app-header>
<app-form-element *ngIf="EnableFilter" [FormGroup]="false" [LabelText]="'Filter'" [Type]="'text'" [Model]="FilterText"
  (ModelChange)="filterTextChange($event)"></app-form-element>
<div class="TableContainer" [ngClass]="{ 'table-responsive': Responsive }" #TableContainer>
  <table #Table class="table" [ngClass]="{
        striped: Stripes,
        bordered: Borders,
        highlighting: Highlighting,
        Scrollable: Scrollable,
        'table-resizable': Resizable,
        'table-normal': !Resizable
      }">
    <thead class="thead">
      <tr [ngClass]="{ 'resize-lines': Resizable }">
        <th *ngIf="ShowButtonColumn() && ButtonsFirstCol" class="btn-add-col" [ngStyle]="{ 'width': buttonCellWidth }">
          <!--Table buttons as first column-->
          <app-button *ngIf="ShowAddButton" [ButtonType]="'addTHead'" [TableButton]="true" (FunctionCallBack)="Add()">
          </app-button>
        </th>
        <th (click)="SetOrder(col.PropertyName)" *ngFor="let col of TableCols" [ngClass]="{
              rightAlign: col.Alignment == 'right',
              centerAlign: col.Alignment == 'center'
            }" [ngStyle]="{ 'width': col.Width ? col.Width : 'auto' }">
          {{ col.ColLabel }}
          <span *ngIf="
                !OrderByReverse &&
                !DisableSort &&
                col.PropertyName == OrderByProperty
              " class="up-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
            </svg>
          </span>
          <span *ngIf="
                OrderByReverse &&
                !DisableSort &&
                col.PropertyName == OrderByProperty
              " class="down-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
            </svg>
          </span>
        </th>
        <th *ngIf="ShowButtonColumn() && !ButtonsFirstCol" class="btn-add-col" [ngStyle]="{ 'width': buttonCellWidth }">
          <!--Table buttons as last column-->
          <app-button *ngIf="ShowAddButton" [ButtonType]="'add'" [TableButton]="true" (FunctionCallBack)="Add()">
          </app-button>
        </th>
        <th *ngIf="Scrollable" [ngStyle]="{ width: FixedTableScrollColWidth }"></th>
      </tr>
    </thead>
    <tbody class="tbody" #MainTableBody>
      <tr *ngFor="
            let rec of TableData
              | ObjectWildCardFilterPipe: FilterText
              | OrderBy: OrderByProperty:OrderByReverse
              | RemovedFilterPipe
                :EnableRemovedFilter
                :RemovedFilterProperty
                :RemovedFilterPropertyValue; let i = index
          " [ngClass]="{ ActiveRow: rec == ActiveRec, CursorPointer: CursorPointer }">
        <td *ngIf="ShowButtonColumn() && ButtonsFirstCol" class="btn-col" [ngStyle]="{ 'width': buttonCellWidth }">
          <!--Table buttons as first column-->
          <div>
            <app-button *ngIf="ShowViewButton" [ButtonType]="'view'" [TableButton]="true"
              (FunctionCallBack)="View(rec)">
            </app-button>
            <app-button *ngIf="ShowEditButton" [ButtonType]="'edit'" [TableButton]="true"
              (FunctionCallBack)="Edit(rec)">
            </app-button>
            <app-button *ngIf="ShowRemoveButton" [ButtonType]="'delete'" [TableButton]="true"
              (FunctionCallBack)="Remove(rec)"></app-button>
            <ng-container *ngFor="let btn of TableDataButtons">
              <app-button *ngIf="btn.HideFunction ? !btn.HideFunction(rec) : true" [ButtonType]="btn.ButtonType"
                [TableButton]="true" (FunctionCallBack)="btn.RecordCallBack(rec)" [Title]="btn.Title"
                [Type]="btn.Type">{{ btn.Text }}
              </app-button>
            </ng-container>
          </div>
        </td>
        <td *ngFor="let col of TableCols" (click)="RecordClick(rec)" (dblclick)="DblClkRecordClick(rec)" [ngStyle]="{ 
            'background-color': !col.ColorFunction ? 'initial' : col.ColorFunction(GetTableDisplayValue(rec, col.PropertyName)),
            'color': !col.ColorFunction ? 'initial' : col.ColorFunction(GetTableDisplayValue(rec, col.PropertyName)) === 'initial' ? 'initial' : 'white',
            'width': col.Width ? col.Width : 'auto' 
          }">
          <ng-container *ngIf="!col.Type; else Type">
            <p class="margin-bottom-0" [innerHTML]="GetTableDisplayValue(rec, col.PropertyName) | dateToStr"></p>
          </ng-container>
          <ng-template #Type>
            <ng-container [ngSwitch]="col.Type">
              <app-form-element *ngSwitchCase="'select'" [Type]="col.Type" [(Model)]="rec[col.PropertyName]"
                [Width]="'100%'" [Disabled]="DisableInputs" [SelectList]="col.SelectList"
                [DisplayProperty]="col.DisplayProperty" [BindingProperty]="col.BindingProperty"
                (FunctionCallBack)="col.FunctionCallBack ? col.FunctionCallBack(rec) : null">
              </app-form-element>

              <app-form-element *ngSwitchCase="'checkbox'" [Type]="col.Type" [(Model)]="rec[col.PropertyName]"
                [TrueValue]="col.TrueValue ? col.TrueValue : true"
                [FalseValue]="col.FalseValue ? col.FalseValue : false" [Disabled]="DisableInputs"
                (FunctionCallBack)="col.FunctionCallBack ? col.FunctionCallBack(rec) : null">
              </app-form-element>

              <span *ngSwitchCase="'function'">
                {{ col.ColValueFn(col.PropertyName ? GetTableDisplayValue(rec, col.PropertyName) : rec)}}
              </span>

              <span *ngSwitchCase="'image'" [id]="'image' + i" appOnCreate
                (onCreate)="previewImage(rec[col.PropertyName], 'image' + i)">
              </span>

              <app-form-element *ngSwitchDefault [Type]="col.Type" [(Model)]="rec[col.PropertyName]" [Width]="'100%'"
                [Disabled]="DisableInputs" [FieldSize]="col.FieldSize?col.FieldSize:null"
                [Rows]="col.Rows ? col.Rows : null" [MinValue]="col.MinValue?col.MinValue:null"
                [MaxValue]="col.MaxValue?col.MaxValue:null"
                (FunctionCallBack)="col.FunctionCallBack ? col.FunctionCallBack(rec) : null">
              </app-form-element>

            </ng-container>
          </ng-template>
        </td>
        <td *ngIf="ShowButtonColumn() && !ButtonsFirstCol" class="btn-col" [ngStyle]="{ 'width': buttonCellWidth }">
          <!--Table buttons as last column-->
          <div>
            <app-button *ngIf="ShowViewButton" [ButtonType]="'view'" [TableButton]="true"
              (FunctionCallBack)="View(rec)">
            </app-button>
            <app-button *ngIf="ShowEditButton" [ButtonType]="'edit'" [TableButton]="true"
              (FunctionCallBack)="Edit(rec)">
            </app-button>
            <app-button *ngIf="ShowRemoveButton" [ButtonType]="'delete'" [TableButton]="true"
              (FunctionCallBack)="Remove(rec)"></app-button>
            <ng-container *ngFor="let btn of TableDataButtons">
              <app-button *ngIf="btn.HideFunction ? !btn.HideFunction(rec) : true" [ButtonType]="btn.ButtonType"
                [TableButton]="true" (FunctionCallBack)="btn.RecordCallBack(rec)" [Title]="btn.Title"
                [Type]="btn.Type">{{ btn.Text }}
              </app-button>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="InfoContainer" #InfoContainer>
  <div class="Info">
    <ng-content></ng-content>
  </div>
</div>