<div id="firmware-nav">
    <div id="firmware-title" class="nav-item" [ngClass]="{ expanded : navExpanded}" (click)="showSearchModal()">
        <mat-icon class="icon" svgIcon="clipboard-text-multiple-outline"></mat-icon>
        <span [ngClass]="{ expanded : navExpanded}">My Firmware</span>
    </div>

    <hr>
    <div id="firmware-nav-main"
        [ngClass]="{ expanded : navExpanded, collapsedWideScreen : !hideNavExpander && !navExpanded }">
        <ng-container *ngFor="let f of firmware; last as isLast">
            <div class="firmware nav-item" [ngClass]="{ expanded : navExpanded}" (click)="setFirmware(f)">
                <div class="firmware-image" [ngClass]="{ expanded : navExpanded}">
                    <mat-icon class="icon" svgIcon="chip"></mat-icon>
                </div>
                <div class="firmware-details">
                    <span [ngClass]="{ expanded : navExpanded}">{{ f.name }}</span>
                    <span class="firmware-time" [ngClass]="{ expanded : navExpanded}">{{ f.updated_at | date:'short'
                        }}</span>
                </div>
            </div>

            <hr *ngIf="!isLast">
        </ng-container>
    </div>

    <div id="firmware-page-nav"
        [ngClass]="{ expanded : navExpanded, collapsedWideScreen : !hideNavExpander && !navExpanded }">
        <div id="firmware-back" class="firmware-page-nav-item" [ngClass]="{ disabled : !firmwarePages.previous}"
            (click)="previousPage()">
            <mat-icon class="nav-icon" svgIcon="menu-left"></mat-icon>
        </div>
        <div id="firmware-add" class="firmware-page-nav-item" (click)="openFirmwareModal()">
            <mat-icon class="nav-icon" svgIcon="plus"></mat-icon>
        </div>
        <div id="firmware-next" class="firmware-page-nav-item" [ngClass]="{ disabled : !firmwarePages.next}"
            (click)="nextPage()">
            <mat-icon class="nav-icon" svgIcon="menu-right"></mat-icon>
        </div>
    </div>
</div>

<app-modal [Title]="firmwareModalMode + ' Firmware'" [(visible)]="firmwareModalVisible">
    <div id="firmware-modal">
        <app-form (SubmitFunction)="saveFirmware()">
            <div id="firmware-form">
                <div>
                    <app-form-element [Type]="'text'" [(Model)]="activeFirmware.name" [LabelText]="'Name'"
                        [Required]="true">
                    </app-form-element>
                    <!--<app-form-element [Type]="'checkbox'" [(Model)]="activeFirmware.public" [LabelText]="'Public'"
                        [Required]="true">
                    </app-form-element>-->
                </div>
                <app-form-element class="flex-grow-2 full-width" [Type]="'area'" [(Model)]="activeFirmware.description"
                    [LabelText]="'Description'" [Width]="'100%'" [Rows]="5" [Required]="true">
                </app-form-element>
            </div>

            <app-button-ribbon>
                <app-button [ButtonType]="'main'">
                    Save
                </app-button>
            </app-button-ribbon>
        </app-form>
    </div>
</app-modal>

<!--
<app-modal [(visible)]="searchfirmwareModalVisible" [Title]="'Search firmwares'">
    <app-form>
        <app-form-element [Type]="'number'" [LabelText]="'firmware #'" [FormGroupInline]="true"
            [FormElementInline]="true">
        </app-form-element>

        <app-form-element [Type]="'text'" [LabelText]="'Title'" [FieldSize]="255"
            [(Model)]="activeFirmwarefirmware.title" [FormGroupInline]="true" [FormElementInline]="true">
        </app-form-element>

        <app-form-element [Type]="'select'" [LabelText]="'firmware Type'" [SelectList]="firmwareTypes"
            [DisplayProperty]="'name'" [BindingProperty]="'id'" [(Model)]="activeFirmwarefirmware.request_type"
            [DisplayEmptyOption]="true" [FormGroupInline]="true" [FormElementInline]="true">
        </app-form-element>
        <app-button-ribbon>
            <app-button [ButtonType]="'main'" (FunctionCallBack)="search()">Search</app-button>
            <app-button [ButtonType]="'main'" (FunctionCallBack)="search()">Clear</app-button>
        </app-button-ribbon>
    </app-form>
    <app-table [TableCols]="searchCols" [TableData]="firmwares">
    </app-table>
</app-modal>-->