<app-box [Title]="'Scout Portal'">
  <app-table [TableTitle]="'Scout Field'" [TableCols]="scoutFieldScheduleTableCols" [TableData]="scoutFieldScheduleData"
    [Scrollable]="true">
  </app-table>

  <!--<app-table [TableTitle]="'Scout Pit'" [TableCols]="scoutScheduleTableCols" [TableData]="init.pitSchedule"
    [Scrollable]="true">
  </app-table>-->

  <!--
  <app-table [TableTitle]="'Scout Past'" [TableCols]="scoutScheduleTableCols" [TableData]="init.pastSchedule"
    [Scrollable]="true">
  </app-table>
-->
</app-box>