.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #fff;
  //border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  display: block;
  width: 80%;
  position: relative;
  transition: all 1s ease-in-out;
  border-radius:4px;

  /*MOBILE */
  @media only screen and (max-width: 1174px) {
    width: 90%;
  }
}

.popup .popup-title {
  height: 2.813em;
  position: relative;
}

.popup .popup-contents {
  max-height: 80vh;
  margin: 0 2em 2em 2em;
  overflow: auto;
}

.popup h2 {
  margin-top: 0;
  padding-top: .5em;
  text-align: center;
}

.popup .close {
  position: absolute;
  font-size: 2em;
  cursor: pointer;
  top: 0;
  right: 0.5em;
  height: 100%;
}

.visible {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
