<app-box>
    <app-table [TableTitle]="'Meetings'" [TableCols]="meetingsTableCols" [TableData]="meetings"
        [ShowAddButton]="AdminInterface" (AddRecordCallBack)="showMeetingModal()" [ShowEditButton]="AdminInterface"
        (EditRecordCallBack)="showMeetingModal($event)" [TableDataButtons]="meetingsTableButtons"
        [TriggerUpdate]="triggerMeetingTableUpdate" [ShowRemoveButton]="AdminInterface"
        (RemoveRecordCallBack)="removeMeeting($event)" [ShowViewButton]="!AdminInterface"
        (ViewRecordCallBack)="showMeetingModal($event)" [Width]="'100%'"></app-table>

    <app-table [TableTitle]="'Attendance'" [TableCols]="attendanceTableCols" [TableData]="attendance"
        [ShowAddButton]="true" (AddRecordCallBack)="checkIn()" [ShowRemoveButton]="true"
        (RemoveRecordCallBack)="removeAttendance($event)" [TableDataButtons]="attendanceTableButtons"
        [ShowEditButton]="true" (EditRecordCallBack)="showAttendanceModal($event)" [Width]="'100%'"></app-table>

    <app-modal [(Visible)]="attendanceModalVisible" [Title]="'Attendance'">
        <app-form (SubmitFunction)="saveAttendance(attendanceEntry)">
            <app-form-element [LabelText]="'Time In'" [Type]="'datetime'" [(Model)]="attendanceEntry.time_in"
                [Disabled]="attendanceEntry.approved && !AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Time Out'" [Type]="'datetime'" [(Model)]="attendanceEntry.time_out"
                [Disabled]="attendanceEntry.approved && !AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Absent'" [Type]="'checkbox'" [(Model)]="attendanceEntry.absent"
                [Disabled]="attendanceEntry.approved && !AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Bonus Approved'" [Type]="'checkbox'"
                [(Model)]="attendanceEntry.bonus_approved" [Disabled]="!AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Approved'" [Type]="'checkbox'" [(Model)]="attendanceEntry.approved"
                [Disabled]="!AdminInterface"></app-form-element>

            @if (attendanceEntry.meeting) {
            <app-form-element-group [LabelText]="'Meeting Information'">
                <app-form-element [LabelText]="'Title'" [Type]="'text'" [(Model)]="attendanceEntry.meeting.title"
                    [Disabled]="true"></app-form-element>
                <app-form-element [LabelText]="'Description'" [Type]="'area'"
                    [(Model)]="attendanceEntry.meeting.description" [Disabled]="true" [Rows]="5"
                    [Width]="'100%'"></app-form-element>
            </app-form-element-group>

            }
            @if (AdminInterface || !attendanceEntry.approved) {
            <app-button-ribbon>
                <app-button [Type]="'submit'" [ButtonType]="'success'">Save</app-button>
            </app-button-ribbon>
            }
        </app-form>
    </app-modal>

    <app-modal [(Visible)]="meetingModalVisible" [Title]="'Meeting'">
        <app-form (SubmitFunction)="saveMeeting()">
            <app-form-element [LabelText]="'Title'" [Type]="'text'" [(Model)]="meeting.title" [FieldSize]="2000"
                [Disabled]="!AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Description'" [Type]="'area'" [(Model)]="meeting.description"
                [FieldSize]="4000" [Rows]="5" [Width]="'100%'" [Disabled]="!AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'Start'" [Type]="'datetime'" [(Model)]="meeting.start"
                [Disabled]="!AdminInterface"></app-form-element>
            <app-form-element [LabelText]="'End'" [Type]="'datetime'" [(Model)]="meeting.end"
                [Disabled]="!AdminInterface"></app-form-element>
            @if (AdminInterface) {
            <app-button-ribbon>
                <app-button [Type]="'submit'" [ButtonType]="'success'">Save</app-button>
            </app-button-ribbon>
            }
        </app-form>
    </app-modal>
</app-box>