<app-box [Title]="'Team Application'">
  <p class="important">
    Click <a routerLink="/contact">here</a> request information for Middle
    School robotics form.
  </p>
  <br />

  <app-form (SubmitFunction)="save()" [FormElements]="formElements">
    @for (formSubType of questions; track formSubType) {
      <app-form-element-group
        [LabelText]="formSubType.form_sub_typ"
        >
        <app-question-display-form
          [(Questions)]="formSubType.questions"
          (FormElementsChange)="setFormElements($event)"
          [Disabled]="disabled"
          >
        </app-question-display-form>
      </app-form-element-group>
    }

    <app-button-ribbon>
      @if (disabled) {
        <app-button (FunctionCallBack)="export()"
          >Export</app-button
          >
        }
        <app-button
          [Type]="'submit'"
          [Disabled]="disabled"
          [ButtonType]="'success'"
          >Save</app-button
          >
        </app-button-ribbon>
      </app-form>
    </app-box>
