<app-box [Title]="'Team Application'">
    <app-form (SubmitFunction)="save()">
        <app-form-element-group *ngFor="let formSubType of questions" [LabelText]="formSubType.form_sub_typ">
            <app-form-element *ngFor="let q of formSubType.questions" [LabelText]="q.question"
                [Type]="q.question_typ.question_typ" [FormGroup]="true" [SelectList]="q.questionoption_set"
                [BindingProperty]="'option'" [DisplayProperty]="'option'" [DisplayEmptyOption]="true"
                [(Model)]="q.answer" [TrueValue]="'true'" [FalseValue]="'false'" [Required]="q.required === 'y'"
                [RadioGroupStacked]="true"
                [Width]="q.question_typ.question_typ === 'area' ? '100%' : q.question_typ.question_typ === 'checkbox' ? 'auto' : '300px'"
                [Rows]="5">
            </app-form-element>
        </app-form-element-group>


        <app-button-ribbon>
            <app-button>Submit</app-button>
        </app-button-ribbon>
    </app-form>
    <!--
    <app-form>
        <app-form-element-group [LabelText]="'Student Information'">
            <app-form-element [Type]="'text'" [LabelText]="'Name'" [Required]="true" [Width]="'300px'">
            </app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'School Email'" [Required]="true" [Width]="'300px'">
            </app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Personal Email'" [Width]="'300px'"></app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Phone'" [Required]="true"></app-form-element>

            <app-form-element [Type]="'date'" [LabelText]="'Date of Birth'" [Required]="true"></app-form-element>

            <app-form-element [Type]="'radio'" [LabelText]="'What grade will you be?'" [Required]="true"
                [SelectList]="gradeRadioOptions" [DisplayProperty]="'option'" [BindingProperty]="'value'"
                [RadioGroupStacked]="true">
            </app-form-element>
        </app-form-element-group>

        <app-form-element-group [LabelText]="'Team Questions'">
            <app-form-element [Type]="'multiCheckbox'"
                [LabelText]="'Have you participated in any of the following before?'"
                [SelectList]="participationCheckboxOptions" [BindingProperty]="'value'" [DisplayProperty]="'option'">
            </app-form-element>

            <app-form-element [Type]="'area'"
                [LabelText]="'Please describe your experiences and skills that would be of relevance to the team, e.g., design experience, skill with tools, programming experience, graphic art experience, etc.'"
                [Required]="true" [Width]="'100%'" [Rows]="5">
            </app-form-element>

            <app-form-element [Type]="'area'"
                [LabelText]="'Please describe what attracts you to the PARTs program and what you would hope to achieve as a team member.'"
                [Required]="true" [Width]="'100%'" [Rows]="5">
            </app-form-element>

            <app-form-element [Type]="'area'"
                [LabelText]="'In your own words, describe what is meant by Gracious Professionalism(tm) and how you think it applies to the PARTs program.'"
                [Required]="true" [Width]="'100%'" [Rows]="5">
            </app-form-element>

            <app-form-element [Type]="'area'" [LabelText]="'What brought you to PARTs?'" [Required]="true"
                [Width]="'100%'" [Rows]="5">
            </app-form-element>
        </app-form-element-group>

        <app-form-element-group [LabelText]="'Guardian Information'">
            <app-form-element [Type]="'text'" [LabelText]="'Name of Guardian 1'" [Required]="true" [Width]="'300px'">
            </app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Phone for Guardian 1'" [Required]="true">
            </app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Email for Guardian 1'" [Required]="true" [Width]="'300px'">
            </app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Name of Guardian 2'" [Width]="'300px'"></app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Phone for Guardian 2'"></app-form-element>

            <app-form-element [Type]="'text'" [LabelText]="'Email for Guardian 2'" [Width]="'300px'"></app-form-element>
        </app-form-element-group>
        <app-button-ribbon>
            <app-button>Submit</app-button>
        </app-button-ribbon>
    </app-form>
-->
</app-box>