<app-box *ngIf="!activeMatch" [Title]="'Matches'">
  <app-form-element-group [LabelText]="'Legend'">
    <div id="legend" class="flex justify-content-space-between">
      <div class="flex align-items-center">
        <div class="box ten"></div>
        <p>top 10</p>
      </div>
      <div class="flex align-items-center">
        <div class="box fifteen"></div>
        <p>top 15</p>
      </div>
      <div class="flex align-items-center">
        <div class="box twenty"></div>
        <p>top 20</p>
      </div>
      <div class="flex align-items-center">
        <div class="box thirty"></div>
        <p>top 30</p>
      </div>
      <div class="flex align-items-center">
        <div class="box left-overs"></div>
        <p>remaining</p>
      </div>
    </div>
  </app-form-element-group>

  <div id="matches-table">
    <app-loading [Loading]="initPromise !== undefined"></app-loading>
    <app-table [TableCols]="matchesTableCols" [TableData]="matches" (RecordClickCallBack)="planMatch($event)"
      [Highlighting]="true" [AllowActiveRecord]="true" [Stripes]="true" [Width]="'100%'" [ScrollHeight]="'50rem'"
      [CursorPointer]="true" [StrikeThroughFn]="strikeThoughMatch">
    </app-table>
  </div>
</app-box>

<app-box *ngIf="activeMatch" [Title]="
    activeMatch.comp_level.comp_lvl_typ_nm + ' ' + activeMatch.match_number
  " (ReturnFunction)="clearResults()">
  <div>
    <p>Match Time: {{ activeMatch.time | dateToStr }}</p>
    <p *ngIf="activeMatch.red_score !== -1 || activeMatch.blue_score !== -1">
      Red Score: {{ activeMatch.red_score }} Blue Score:
      {{ activeMatch.blue_score }}
    </p>
  </div>

  <div class="padding-bottom-1rem">
    @for (ms of activeMatchStrategies; track ms.id; let i = $index) { @if
    (ms.user){
    <div class="match-strategy">
      @if (ms.img_url) {
      <app-button class="img-btn" [ButtonType]="'image-outline'" [BackgroundColor]="'#808080'"
        (FunctionCallBack)="toggleImageDisplay(i)"></app-button>
      }

      <app-form-element-group [LabelText]="
          ms.user.first_name +
          ' ' +
          ms.user.last_name +
          ((ms.time | dateToStr) || '')
        ">
        <p>{{ ms.strategy }}</p>

        @if (ms.img_url && activeMatchStrategiesButtonData[i].display) {
        <img class="img" [src]="ms.img_url" (click)="openFullscreen($event)" />
        }
      </app-form-element-group>
    </div>
    } }
  </div>

  <app-tab-container>
    <app-tab *ngFor="let mpr of matchToPlan" [TabName]="mpr.team.team_no.toString()" [TabTextColor]="mpr.alliance">
      <app-pit-result-display *ngIf="mpr.pitData" [ScoutPitResult]="mpr.pitData"></app-pit-result-display>

      <app-form-element-group [LabelText]="'Notes'">
        <app-form-element-group *ngFor="let note of mpr.notes" [LabelText]="
            (note.user
              ? note.user.first_name + ' ' + note.user.last_name + ' '
              : '') + ((note.time | dateToStr) || '')
          ">
          <p>{{ note.note }}</p>
        </app-form-element-group>
      </app-form-element-group>

      <div class="padding-bottom-1rem"></div>

      <app-table [TableCols]="scoutCols" [TableData]="mpr.scoutAnswers || []" [EnableFilter]="true" [Responsive]="true"
        [Scrollable]="true" [ScrollHeight]="'calc(100vh - 24rem)'">
      </app-table>
    </app-tab>
  </app-tab-container>
</app-box>