<canvas
  #canvas
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp()"
  [width]="width"
  [height]="height"
  style="border: 1px solid black"
>
</canvas>

<app-form-element-group [MarginTop]="'0'">
  <div class="flex flex-wrap justify-content-space-between">
    <div>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'black'"
        (FunctionCallBack)="selectColor('black')"
      >
      </app-button>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'red'"
        (FunctionCallBack)="selectColor('red')"
      >
      </app-button>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'blue'"
        (FunctionCallBack)="selectColor('blue')"
      >
      </app-button>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'green'"
        (FunctionCallBack)="selectColor('green')"
      >
      </app-button>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'yellow'"
        (FunctionCallBack)="selectColor('yellow')"
      >
      </app-button>
      <app-button
        [ButtonType]="''"
        [BackgroundColor]="'#FAF9F6'"
        (FunctionCallBack)="selectColor('white')"
      ></app-button>
    </div>

    <div>
      <app-button [ButtonType]="'eraser'" (FunctionCallBack)="clearCanvas()">
      </app-button>
      <app-button
        [ButtonType]="'undo'"
        (FunctionCallBack)="undo()"
      ></app-button>
      <app-button
        [ButtonType]="'redo'"
        (FunctionCallBack)="redo()"
      ></app-button>
      <!--<app-button
        [ButtonType]="'download'"
        (FunctionCallBack)="emitImage()"
      ></app-button>-->
    </div>
  </div>
</app-form-element-group>
