<p>metrics works!</p>

<app-form-element-group>
  <app-form-element
    [Type]="'select'"
    [LabelText]="'Result'"
    [SelectList]="fieldResponses"
    [DisplayProperty]="'display_value'"
    [Model]="fieldResponse"
    (ModelChange)="setFieldResponse($event)"
  ></app-form-element>
</app-form-element-group>

@if (fieldForm && fieldForm.img_url) {
<div class="margin-top-1rem">
  <div
    #imageBackground
    id="image-background"
    class="flex align-items-center justify-content-center"
  >
    <div #imageContainer id="image-container">
      <img
        #image
        id="image"
        [src]="false ? fieldForm.inv_img_url : fieldForm.img_url"
      />
      @if (fieldResponse) { @for (answer of fieldResponse.answers; track $index)
      { @if (answer.flow_answers) { @for (flow_answer of answer.flow_answers;
      track $index) { @if (flow_answer.question &&
      flow_answer.question.scout_question) {
      <div
        #box
        class="box"
        [ngStyle]="{
          top: flow_answer.question.scout_question.y + '%',
          left: flow_answer.question.scout_question.x + '%',
          width: flow_answer.question.scout_question.width + '%',
          height: flow_answer.question.scout_question.height + '%'
        }"
      >
        <div class="touchpoint-wrapper">
          @if (flow_answer.value.x && flow_answer.value.y) {
          <!--
          <div
            #box
            class="box"
            [ngStyle]="{
              top: 'calc(' + qfa.answer.y + '% - 5px)',
              left: 'calc(' + qfa.answer.x + '% - 5px)',
              width: '10px',
              height: '10px'
            }"
          ></div>
          -->
          <div
            #box
            class="box"
            [ngStyle]="{
              top: 'calc(' + flow_answer.value.y + '% - 4px)',
              left: 'calc(' + flow_answer.value.x + '% - 4px)',
              width: '8px',
              height: '8px',
              border: '4px solid orange'
            }"
          ></div>
          <!--
          <div
            #box
            class="box"
            [ngStyle]="{
              top: qfa.answer.y + '%',
              left: qfa.answer.x + '%',
              width: '5px',
              height: '5px',
              border: '2px solid green'
            }"
          ></div>
          -->
          } @else {
          <p>{{ flow_answer.value }}</p>
          }
          <div class="label">
            @if ( flow_answer.question.scout_question.icon) {
            <span
              class="mdi icon mdi-{{
                flow_answer.question.scout_question.icon
              }}"
            ></span>
            }
            <p>{{ flow_answer.question.question }}</p>
          </div>
        </div>
      </div>
      } } } }}
    </div>
  </div>
</div>
} @if (fieldResponse) { @for (answer of fieldResponse.answers; track $index) {
@if (answer.question) {
<p>{{ answer.question.form_sub_typ.form_sub_nm }}</p>
<p>{{ answer.question.question }}: {{ answer.value }}</p>
}}}
