#image-container {
  display: flex;
  position: relative;
}

#image {
  width: 100%;
}

.box {
  position: absolute;
  border: 1px solid red;

  p {
    margin: 0;
  }

  .svg {
    width: 100%;
    height: 100%;
  }
}

.touchpoint-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  //background-color: rgba($color: #5405f5, $alpha: 0.5);
}
