<app-box [Title]="'Dashboard Configuration'" [Collapsible]="true" [Collapsed]="true">
  <div class="flex align-items-baseline gap-1rem">
    <app-form-element [Type]="'select'" [LabelText]="'Available Graphs'" [(Model)]="graphToAdd" [SelectList]="graphs"
      [DisplayProperty]="'name'" [DisplayEmptyOption]="true" [MinWidth]="'200px'"></app-form-element>
    <app-button [ButtonType]="'add'" (FunctionCallBack)="addGraphToDashboard()"></app-button>
  </div>
  <app-form-element [Type]="'multiSelect'" [LabelText]="'Teams'" [(Model)]="dashboard.teams" [SelectList]="teams"
    [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'" [BindingProperty]="'team_no'"
    [DisplayEmptyOption]="true"></app-form-element>

  <app-form-element [Type]="'select'" [LabelText]="'Reference Team'" [(Model)]="dashboard.reference_team_id"
    [SelectList]="teams" [DisplayProperty]="'team_no'" [DisplayProperty2]="'team_nm'" [BindingProperty]="'team_no'"
    [DisplayEmptyOption]="true"></app-form-element>

  <app-button-ribbon>
    <app-button [ButtonType]="'success'" (FunctionCallBack)="saveDashboard()">Save</app-button>
  </app-button-ribbon>
</app-box>

<app-box [Title]="'Graphs'">
  <div class="full-width grid column-gap-1rem row-gap-1rem justify-items-stretch" [ngClass]="{
    'two-column-grid': appSize >= appSizeXLG, 
    'three-column-grid': appSize >= appSize_3XLG,
    'four-column-grid': appSize >= appSize_7XLG
    }">
    @for (dashboard_graph of dashboard.dashboard_graphs; track $index) {
    <ng-template #graph>
      <app-chart [ChartType]="dashboard_graph.graph_typ" [Data]="dashboard_graph.data" [ChartImgUrl]="chartImageUrl"
        [XScaleMin]="dashboard_graph.x_scale_min" [XScaleMax]="dashboard_graph.x_scale_max"
        [YScaleMin]="dashboard_graph.y_scale_min" [YScaleMax]="dashboard_graph.y_scale_max"></app-chart>
    </ng-template>

    <div class="flex flex-wrap justify-content-space-between align-items-stretch align-content-stretch">
      <div class="full-width flex-grow-2 relative graph">
        @if (!dashboard_graph.data) {
        <app-loading [Loading]="true" [Height]="'100%'" [MinHeight]="'255px'"></app-loading>
        }
        <app-header [h]="1">{{ dashboard_graph.graph_name }}</app-header>
        <ng-container *ngTemplateOutlet="graph"></ng-container>
      </div>

      <div class="full-width flex align-items-flex-end justify-content-space-between">
        <div class="flex gap-p5rem padding-left-1rem">
          <app-modal [ButtonType]="'arrow-expand-all'" [Title]="dashboard_graph.graph_name">
            <ng-container *ngTemplateOutlet="graph"></ng-container>
          </app-modal>

          <app-button [ButtonType]="'refresh'" (FunctionCallBack)="graphTeam(dashboard_graph.graph_id)"></app-button>
        </div>

        <div class="flex gap-p5rem padding-right-1rem">
          <app-button [ButtonType]="'delete'" (FunctionCallBack)="removeGraph(dashboard_graph)"></app-button>
          <app-button [ButtonType]="'minus'" (FunctionCallBack)="decrementOrder(dashboard_graph)"
            [Disabled]="hideMinus(dashboard_graph)"></app-button>
          <app-button [ButtonType]="'add'" (FunctionCallBack)="incrementOrder(dashboard_graph)"
            [Disabled]="hidePlus(dashboard_graph)"></app-button>
        </div>
      </div>
    </div>
    }
  </div>
</app-box>