<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinElectricalCover"></div>
    <p id="joinText">
      <span id="joinH1">Electrical</span>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <div id="returnArrow">
    <a id="leftArrow" href="/join"><img src="./assets/webImages/previous.svg" alt="Previous" /></a>
    <h4>Return to Join Page</h4>
  </div>
  <main id="mainJoin">
    <h2>Who is Electrical?</h2>
    <p>The Electrical Team is responsible for the robot's control system. That being said, we are responsible for making
      sure that the control system is up to date and functioning properly.</p>
    <h2>Is Electrical Right for You?</h2>
    <p>If you work on electrical, you will need to learn now the systems on the robot work. We use Power Distribution
      Panels (PDPs), Bridges (WiFi Routers), Pneumatics Control Modules (PCMs), and other systems to run the robot. In
      Electrical, you don't work with just wires, but with pneumatic systems as well. Of course, we'll teach you
      everything you need to know. All that is required is a focused hardworking individual with a desire to learn.</p>
    <h2>Could Electrical Be Your Fit?</h2>
    <p style="text-align:center;">If you have any questions or are interested contact the team <a target="_blank"
        href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</p>
    <h3>Check out the links below to learn more about other sub-groups within our team!</h3>
    <table id="subgroups">
      <tr>
        <td>
          <h4>
            <a routerLink="/join/mechanical">Mechanical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/electrical">Electrical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/programming">Programming</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/community-outreach">Community Outreach</a>
          </h4>
        </td>
      </tr>
    </table>
  </main>
</div>
