<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinElectricalCover"></div>
    <p id="joinText">
      <span id="joinH1">Electrical</span>
      <br>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>

  <main id="mainJoin">
    <app-box [Title]="'Who is Electrical?'">
      <h4>The Electrical Team is responsible for the robot's control system. That being said, we are responsible for
        making
        sure that the control system is up to date and functioning properly.</h4>
    </app-box>

    <app-box [Title]="'Is Electrical Right for You?'">
      <h4>If you work on electrical, you will need to learn now the systems on the robot work. We use Power Distribution
        Panels (PDPs), Bridges (WiFi Routers), Pneumatics Control Modules (PCMs), and other systems to run the robot. In
        Electrical, you don't work with just wires, but with pneumatic systems as well. Of course, we'll teach you
        everything you need to know. All that is required is a focused hardworking individual with a desire to learn.
      </h4>
    </app-box>

    <app-box [Title]="'Could Electrical Be Your Fit?'">
      <h4>If you have any questions or are interested contact the team <a target="_blank"
          href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</h4>
    </app-box>
  </main>
</div>