<div id="content">
  <div id="joinPic">
    <div class="joinCover" id="joinMechanicalCover"></div>
    <p id="joinText">
      <span id="joinH1">Mechanical</span>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <div id="returnArrow">
    <a id="leftArrow" href="/join"><img src="./assets/webImages/previous.svg" /></a>
    <h4>Return to Join Page</h4>
  </div>
  <main id="mainJoin">
    <h2>This is the Mechanical Team!</h2>
    <p>You could say that we are the builders of the skeleton of the robot. We lead the team in design and fabrication
      of the robot.</p>
    <h2>What Do We Do?</h2>
    <p>We look at the game mechanics and determine the optimal design for the robot. Our students and mentors work
      together to see what drive train we need, what mechanisms our robot needs, and anything else needed for the robot
      to score. Then, the design is drafted onto the computer with CAD software, and the physical specifications.</p>
    <h2>Nervous About Mechanical?</h2>
    <p>You shouldn't be! Our students and mentors will teach you everything that you need to know. We will teach you how
      to use various power tools to fabricate our robot from the ground up! All that we ask is that you are safe and
      come prepared to learn!</p>
    <h2>Want Some More Info About Mechanical?</h2>
    <p style="text-align:center;">If you have any questions or are interested contact the team <a target="_blank"
        href="http://goo.gl/forms/C2plkMRYTwPuYka53">here</a>.</p>
    <h3>Check out the links below to learn more about other sub-groups within our team!</h3>
    <table id="subgroups">
      <tr>
        <td>
          <h4>
            <a routerLink="/join/mechanical">Mechanical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/electrical">Electrical</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/programming">Programming</a>
          </h4>
        </td>
        <td>
          <h4>
            <a routerLink="/join/community-outreach">Community Outreach</a>
          </h4>
        </td>
      </tr>
    </table>
  </main>
</div>
