<div id="content">
  <div id="joinPic" #thisJoinPic>
    <div class="joinCover" id="joinMechanicalCover"></div>
    <p id="joinText">
      <span id="joinH1">Mechanical</span>
      <br>
      <br>
      <span id="scrollForMoreInfo">Scroll for More Info</span>
    </p>
  </div>
  <main id="mainJoin">
    <app-box [Title]="'This is the Mechanical Team!'">
      <h4>You could say that we are the builders of the skeleton of the robot. We lead the team in design and
        fabrication
        of the robot.</h4>
    </app-box>

    <app-box [Title]="'What Do We Do?'">
      <h4>We look at the game mechanics and determine the optimal design for the robot. Our students and mentors work
        together to see what drive train we need, what mechanisms our robot needs, and anything else needed for the
        robot
        to score. Then, the design is drafted onto the computer with CAD software, and the physical specifications.</h4>
    </app-box>

    <app-box [Title]="'Nervous About Mechanical?'">
      <h4>You shouldn't be! Our students and mentors will teach you everything that you need to know. We will teach you
        how
        to use various power tools to fabricate our robot from the ground up! All that we ask is that you are safe and
        come prepared to learn!</h4>
    </app-box>

    <app-box [Title]="'Thinking About Mechanical?'">
      <h4>If you have any questions or are interested in joining the team apply <a target="_blank"
          href="https://forms.gle/cW3oFZXFL8yoJUsC9">here</a>.</h4>
    </app-box>
  </main>
</div>