.team-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .team-info {
    padding-left: 1em;
  }

  .team-nm {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  .team-pic {
    width: 250px;

    @media only screen and (max-width: 400px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

#table-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  & > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    app-form-element {
      padding-right: 1.6rem;
    }
  }
}
