@use "abstracts/variables";

#results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 1em;
  margin: 0 auto;
  width: 90%;

  /*MOBILE NAV*/
  @media only screen and (max-width: variables.$screen-size-sm) {
    width: 100%;
  }
}

.team-nm {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
