@use "abstracts/variables";
@use "sass:color";

#match-table-wrapper {
  overflow-x: auto;
}

#match-table {
  border: none;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    text-align: center;
    border-right: 2px solid variables.$fontColor;
    font-size: 1.1em;

    padding-right: 1rem;
    padding-left: 1rem;

    &:last-child {
      border-right: 0;
    }
  }

  tr:nth-child(odd) {
    background-color: color.adjust(variables.$gray, $lightness: 50%);
  }
}

.us {
  font-weight: bold;
  text-decoration: underline;
}
