@if (ScoutPitImages && ScoutPitImages.length > 0) {
  <div
    class="team-pic-wrapper"
    >
    @if (Title.length > 0) {
      <app-header [h]="2">{{ Title }}</app-header>
    }
    @if (ScoutPitImages.length > 1) {
      <div class="default-pic-btn">
        <app-button
          [ButtonType]="'check'"
          [BackgroundColor]="ScoutPitImages[displayPicIndex].default ? 'green' : ''"
          (FunctionCallBack)="setDefaultPic(ScoutPitImages[displayPicIndex])"
        ></app-button>
      </div>
    }
    <div class="team-pic" [id]="elementId"></div>
    @if (ScoutPitImages.length > 1) {
      <div class="prev-pic">
        <app-button
          [ButtonType]="'collapse'"
          [Rotate]="'90deg'"
          (FunctionCallBack)="prevImage()"
          >
        </app-button>
      </div>
    }
    @if (ScoutPitImages.length > 1) {
      <div class="next-pic">
        <app-button
          [ButtonType]="'collapse'"
          [Rotate]="'-90deg'"
          (FunctionCallBack)="nextImage()"
          >
        </app-button>
      </div>
    }
  </div>
}
