.question {
  position: relative;
}

.sub-question {
  padding-left: 2rem;
}

.number-stepper,
.increment,
.decrement {
  display: inline-block;
}

.number-stepper {
  position: absolute;
  bottom: 0;
  padding-bottom: calc(1em + 14px);
}

.increment {
  padding: 0 1rem;
}
