#outstanding-results {
  p {
    margin-bottom: 0;
  }
}

#scout-header {
  width: 100%;
  display: flex;
  justify-content: center;

  #scouts {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: repeat(6, auto);

    .red,
    .blue {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 30px;
      border-bottom: 1px solid black;

      &:nth-child(5),
      &:nth-child(6) {
        border-bottom: none;
      }

      & > div {
        width: 80%;
      }

      p {
        color: white;
        margin: 0;
        text-align: center;
      }
    }

    .red {
      background-color: red;
      border-right: 1px solid black;
    }

    .blue {
      background-color: blue;
    }
  }
}

.number-stepper {
  display: inline-block;
}
