<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': !_pageInfo.previous}">
      <p class="page-link" aria-label="Previous" (click)="getPage(_pageInfo.previous ? _pageInfo.previous : 1)">
        <span aria-hidden="true">&laquo;</span>
      </p>
    </li>
    <li class="page-item" *ngFor="let pg of pages">
      <p class="page-link" [ngClass]="{'active': pg === _page}" (click)="getPage(pg)">{{ pg }}</p>
    </li>
    <li class="page-item" [ngClass]="{'disabled': !_pageInfo.next}">
      <p class="page-link" aria-label="Next" (click)="getPage(_pageInfo.next ? _pageInfo.next : _pageInfo.count)">
        <span aria-hidden="true">&raquo;</span>
      </p>
    </li>
  </ul>
</nav>