@import "../../../scss/_helpers/variables";

.inline {
  display: flex;
  align-items: flex-end;
}

.word-break {
  white-space: pre;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  &> div > app-button {
    vertical-align: bottom;
  }
}

#side-nav {
  padding: 0;

  li {
    list-style: none;
    padding: 0.25em 0;
    cursor: pointer;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.active {
  color: $accent_color;
}

.vertical-center{
  display: flex;
    align-items: center;
}