<app-box>
  <app-admin-users *ngIf="page === 'admin/admin-users'"></app-admin-users>
  <app-error-log *ngIf="page ==='admin/error-log'"></app-error-log>
  <app-phone-types *ngIf="page === 'admin/phone-types'"></app-phone-types>
  <app-requested-items *ngIf="page ==='req-items'"></app-requested-items>
  <app-security *ngIf="page === 'admin/security'"></app-security>
  <app-team-application-form *ngIf="page ==='admin/team-application-form'"></app-team-application-form>
  <app-team-contact-form *ngIf="page ==='admin/team-contact-form'"></app-team-contact-form>
</app-box>