.inline {
  display: flex;
  align-items: flex-end;
}

.word-break {
  white-space: pre;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
