<app-box [Title]="'Portal'">
  <app-form-element-group [LabelText]="'Your Scouting Schedule'">
    @if (fieldSchedule.length <= 0) {
      <div>
        <p>You do not currently have any scheduled scouting.</p>
      </div>
    }

    @if (fieldSchedule.length > 0) {
      <app-table [TableCols]="scoutFieldScheduleTableCols" [TableData]="fieldSchedule"
        [Scrollable]="true">
      </app-table>
    }
  </app-form-element-group>

  <app-form-element-group [LabelText]="'Your Pit Schedule'">
    @if (schedule.length <= 0) {
      <div>
        <p>You do not currently have any scheduled pit times.</p>
      </div>
    }

    @if (schedule.length > 0) {
      <app-table [TableCols]="scheduleTableCols" [TableData]="schedule" [Scrollable]="true">
      </app-table>
    }
  </app-form-element-group>

  <app-form-element-group [LabelText]="'Full Scouting Schedule'">
    <app-table [TableCols]="expandedScoutFieldScheduleTableCols" [TableData]="fullFieldSchedule" [Scrollable]="true"
      [EnableFilter]="true" [ScrollHeight]="'80vh'">
    </app-table>
  </app-form-element-group>
</app-box>