<nav>
  <div id="company_logo">
    <a routerLink=""><img src="./assets/webImages/Robots/BeanieBot.svg"></a>
  </div>
  <input type="checkbox" id="mobile-nav-toggle" class="nav-trigger" />
  <label for="mobile-nav-toggle" id="ham-label">
    <div class="clear-menu-btn">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
      <span class="circle"></span>
    </div>
  </label>
  <div id="links" #links>
    <ul>
      <li *ngFor="let m of Menu" (mouseover)="showNavLinks(m.RouterLink, m.MenuItems.length > 0)"
        (mouseleave)="hideNavLinks(m.RouterLink, m.MenuItems.length > 0)">
        <div class="menu-item-wrapper" id="{{m.RouterLink}}"
          (click)="expandNavLinks(m.RouterLink, m.MenuItems.length > 0)">

          <svg *ngIf="m.MenuItems.length > 0; else noArrow" class="arrow" xmlns="http://www.w3.org/2000/svg" x="0px"
            y="0px" viewBox="0 0 50 50">
            <g id="surface1">
              <path
                d="M 25 2 C 12.308594 2 2 12.308594 2 25 C 2 37.691406 12.308594 48 25 48 C 37.691406 48 48 37.691406 48 25 C 48 12.308594 37.691406 2 25 2 Z M 25 4 C 36.609375 4 46 13.390625 46 25 C 46 36.609375 36.609375 46 25 46 C 13.390625 46 4 36.609375 4 25 C 4 13.390625 13.390625 4 25 4 Z M 24.875 17 C 24.652344 17.023438 24.441406 17.125 24.28125 17.28125 L 14.28125 27.28125 C 13.882813 27.679688 13.882813 28.320313 14.28125 28.71875 C 14.679688 29.117188 15.320313 29.117188 15.71875 28.71875 L 25 19.4375 L 34.28125 28.71875 C 34.679688 29.117188 35.320313 29.117188 35.71875 28.71875 C 36.117188 28.320313 36.117188 27.679688 35.71875 27.28125 L 25.71875 17.28125 C 25.496094 17.0625 25.183594 16.957031 24.875 17 Z ">
              </path>
            </g>
          </svg>
          <ng-template #noArrow>
            <div class="arrow"></div>
          </ng-template>

          <p id="{{m.RouterLink}}" *ngIf="m.RouterLink === 'none'; else hasLink" class="menu-link">
            {{m.MenuName}}
          </p>
          <ng-template #hasLink>
            <p id="{{m.RouterLink}}" *ngIf="m.RouterLink !== 'login'; else login">
              <a *ngIf="!m.RouterLink.includes('.'); else hasAddress" routerLink="{{m.RouterLink}}"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}" class="menu-link">{{m.MenuName}}</a>

              <ng-template #hasAddress>
                <a target="_blank" [href]="m.RouterLink" class="menu-link">{{m.MenuName}}</a>
              </ng-template>
            </p>

            <ng-template #login>
              <p *ngIf="!token.refresh; else hasToken">
                <a routerLink="login" routerLinkActive="active" class="menu-link">LOG IN</a>
              </p>
              <ng-template #hasToken>
                <p><a class="menu-link">WELCOME: {{user.username}}</a></p>
              </ng-template>
            </ng-template>
          </ng-template>
        </div>

        <ul class="sub_links" *ngIf="m.MenuItems.length > 0">
          <ng-container *ngFor="let sm of m.MenuItems">
            <li *ngIf="m.RouterLink !== 'login'; else login">
              <p>
                <a routerLink="{{sm.RouterLink}}" routerLinkActive="active" class="menu-link">{{sm.MenuName}}</a>
              </p>
            </li>
            <ng-template #login>
              <ng-container *ngIf="token.refresh">
                <li *ngFor="let ul of userLinks">
                  <p>
                    <a routerLink="{{ul.RouterLink}}" routerLinkActive="active" class="menu-link">{{ul.MenuName}}</a>
                  </p>
                </li>
                <li>
                  <p (click)="logOut()"><a class="menu-link">LOG OUT</a></p>
                </li>
              </ng-container>
            </ng-template>
          </ng-container>
        </ul>

      </li>
    </ul>
  </div>
</nav>
