<div #thisWrapper id="wrapper" [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">
  <nav [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">
    <div class="height" id="logo">
      <a routerLink="">
        <img src="../../../assets/appIcons/BeanieBotWhite.svg">
      </a>
    </div>

    <hr>

    <div id="sidebar" [ngClass]="{ expanded : navExpanded, collapsed : !navExpanded, size : !hideNavExpander}">
      <ul>
        <li class="height" *ngFor="let mi of appMenu">
          <a routerLinkActive="active" (click)="page = 'Pages'">
            <mat-icon class="icon" svgIcon="speedometer"></mat-icon>
            <span *ngIf="!mi.RouterLink.includes('.'); else hasAddress" routerLink="{{mi.RouterLink}}"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" class="menu-link">{{mi.MenuName}}</span>

            <ng-template #hasAddress>
              <span><a target="_blank" [href]="mi.RouterLink" class="menu-link">{{mi.MenuName}}</a></span>
            </ng-template>

          </a>
        </li>

        <hr>

        <li id="{{ pagesID }}" class="height" (click)="openSubNav(pagesID, pagesID + '-1')" appClickOutside
          (appClickOutside)="closeSubNav()">
          <a [ngClass]="{ active : page !== 'Members'}">
            <mat-icon [ngStyle]="{'color':'white'}" class="icon" svgIcon="folder"></mat-icon>
            <span>{{ page }}</span>
            <mat-icon [ngStyle]="{'color':'white'}" class="icon page-options"
              [ngClass]="{ rotate : subNav === pagesID + '-1'}" svgIcon="menu-right"></mat-icon>
          </a>

          <div id="{{ pagesID + '-1' }}" class="side-sidebar" [ngClass]="{ show : subNav === pagesID + '-1'}">
            <span class="header">Members Area</span>
            <ul>
              <li *ngIf="userLinks.length <= 0">
                <a routerLink="login" routerLinkActive="active-link" (click)="page = 'Login'">
                  Login
                </a>
              </li>
              <li *ngFor="let ul of userLinks">
                <a routerLink="{{ ul.routerlink }}" routerLinkActive="active-link" (click)="page = ul.menu_name">
                  {{ ul.menu_name }}
                </a>
              </li>
              <li *ngIf="userLinks.length > 0">
                <a (click)="logOut()" routerLinkActive="active-link">
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>

      </ul>

      <hr class="darker" *ngIf="this.pages.indexOf(page) >= 0">

      <div id="page-nav">
        <app-sub-navigation *ngIf="page === 'ADMIN'" [setNavExpanded]="navExpanded" [hideNavExpander]="hideNavExpander">
        </app-sub-navigation>
        <!--<app-support-nav *ngIf="page === 'Support'" [setNavExpanded]="navExpanded" [hideNavExpander]="hideNavExpander">
        </app-support-nav>
        <app-firmware-nav *ngIf="page === 'Firmware'" [setNavExpanded]="navExpanded"
          [hideNavExpander]="hideNavExpander">
        </app-firmware-nav>
        <app-devices-nav *ngIf="page === 'Devices'" [setNavExpanded]="navExpanded" [hideNavExpander]="hideNavExpander">
        </app-devices-nav>-->
      </div>
    </div>

    <div id="navExpand" class="height" [ngClass]="{ hide : hideNavExpander }">
      <div (click)="toggleForceNavExpand()">
        <mat-icon id="navExpand-icon" [ngClass]="{ rotate : navExpanded }" svgIcon="menu-right"></mat-icon>
      </div>
    </div>

  </nav>

  <header #thisHeader [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">
    <div id="mobile-menu" *ngIf="hideNavExpander" (click)="toggleNav()">
      <mat-icon class="icon" svgIcon="menu"></mat-icon>
    </div>

    <div id="menu-bar" [ngClass]="{ small_search : screenXs}">
      <div id="search-icon-wrapper" *ngIf="screenXs">
        <mat-icon class="icon" id="search-icon" svgIcon="magnify" (click)="xsToggleSearch()" appClickOutside
          (appClickOutside)="xsShowSearch = false"></mat-icon>
      </div>

      <div id="search-wrapper" [ngClass]="{ xsShowSearch : xsShowSearch, full_width: !showNav}">
        <app-form-element [Width]="'100%'" id="search" [Type]="'search'" [Placeholder]="'Search for...'">
        </app-form-element>
      </div>

      <div id="user-center-wrapper" *ngIf="user && user.id;else login">
        <div class="icon-wrapper">
          <mat-icon class="icon" svgIcon="bell" (click)="toggleShowNotificationModal()" appClickOutside
            (appClickOutside)="showNotificationModal = false"></mat-icon>
        </div>

        <div id="notification-modal" [ngClass]="{ full_width: !showNav, growInAnimation : showNotificationModal }">
          <h6>Notification Center</h6>
          <div id="notification-list">
            <div class="notification">
              <div class="notification-icon-wrapper">
                <div class="notification-icon">
                  <mat-icon class="icon" svgIcon="bell">
                  </mat-icon>
                </div>
              </div>

              <div class="notification-content">
                <div class="notification-time">
                  <p>December 12, 2019</p>
                </div>
                <div class="notification-message">
                  <p>
                    This is a test of our new notification system.
                    The plan for this test is to see if out testing test tests out.
                  </p>
                </div>
              </div>
            </div>
            <div id="notifications-view-all">
              <p>View All Notifications</p>
            </div>
          </div>
        </div>

        <div class="icon-wrapper no-padding">
          <mat-icon class="icon" svgIcon="email" (click)="toggleShowMessageModal()" appClickOutside
            (appClickOutside)="showMessageModal = false"></mat-icon>
        </div>

        <div id="message-modal" [ngClass]="{ full_width: !showNav, growInAnimation : showMessageModal }">
          <h6>Message Center</h6>
          <div id="notification-list">
            <div class="notification">
              <div class="notification-icon-wrapper">
                <div class="notification-icon">
                  <mat-icon class="icon" svgIcon="bell">
                  </mat-icon>
                </div>
              </div>

              <div class="notification-content">
                <div class="notification-message">
                  <p>
                    This is a test of our new message system.
                    The plan for this test is to see if out testing test tests out.
                  </p>
                </div>
                <div class="notification-time">
                  <p>Person &middot; 1hr</p>
                </div>
              </div>
            </div>
            <div id="notifications-view-all">
              <p>View All Messages</p>
            </div>
          </div>
        </div>

        <div class="vertical-divider"></div>

        <div id="profile" (click)="toggleShowUserModal()" appClickOutside (appClickOutside)="showUserModal = false">
          <p>{{ user.first_name }} {{ user.last_name }}</p>
          <div id="profile-picture">
            <img src="../../../assets/appIcons/icon-128.png">
            <!--[]user.image-->
          </div>
        </div>
      </div>
      <div *ngIf="user && user.id" id="user-modal"
        [ngClass]="{ full_width: !showNav, growInAnimation : showUserModal }">
        <div class="profile-option">
          <div>
            <mat-icon class="icon" svgIcon="human-greeting"></mat-icon>
          </div>
          <div>
            <a routerLink="user/profile">Profile</a>
          </div>
        </div>
        <div class="profile-option">
          <div>
            <mat-icon class="icon" svgIcon="cogs"></mat-icon>
          </div>
          <div>
            <p>Settings</p>
          </div>
        </div>
        <div id="user-profile-divider"></div>
        <div class="profile-option" id="logout">
          <div>
            <mat-icon class="icon" svgIcon="logout"></mat-icon>
          </div>
          <div>
            <p (click)='auth.logOut(); showUserModal = false'>Logout</p>
          </div>
        </div>
      </div>
      <ng-template #login>
        <div id="login-link">
          <a routerLink="login">Log In</a>
        </div>
      </ng-template>

    </div>
  </header>

  <div id="content-wrapper" [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">
    <main #thisMain [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">
      <ng-content>

      </ng-content>
    </main>

    <footer #thisFooter [ngClass]="{ expanded : navExpanded, hideNav: !showNav}">

    </footer>
  </div>

</div>