@import "../../../scss/abstracts/variables.scss";
@import "../../../scss/abstracts/mixins.scss";

#wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

nav {
  position: fixed;
  z-index: 17;
  top: 0;
  left: 0;
  background-color: $main_color;
  height: 100vh;
  width: 10.4rem;
  overflow: hidden;
  transition: width 0.15s ease;

  &.right-hand-nav {
    left: unset;
    right: 0;
  }

  &.hideNav {
    width: 0;
  }

  &.expanded {
    width: 22.4rem !important;
  }

  .height {
    height: 6.8rem;
  }

  hr {
    margin: 0 1.6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;

    &.darker {
      border-top: 1px solid rgba(255, 255, 255, 0.75);
      box-shadow: 0px 0rem 1rem 0.5px rgb(58 59 69);
    }
  }

  .hide {
    display: none;
  }

  .header {
    margin: 0;
    white-space: nowrap;
    padding: 0.8rem 2.4rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.04rem;
    color: #b7b9cc;
    display: block;
    font-family: "Nunito-Black";
  }

  #logo {
    width: 100%;
    position: relative;

    img {
      width: 4.2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  #sidebar {
    line-height: 1.5;
    width: 100%;
    height: calc(100vh - 6.8rem - 1px);
    overflow-y: auto;

    &.size {
      height: calc(100vh - 6.8rem - 1px - 6.8rem);
    }

    &.expanded {
      & > ul > li {
        transition: height 0.15s ease;

        & > a {
          flex-direction: row;
          justify-content: start;
          padding-left: 1.6rem;

          &.right-hand-nav {
            flex-direction: row-reverse;
            justify-content: end;
            padding-left: 0;
            padding-right: 1.6rem;
          }

          .icon {
            padding-right: 0.4rem;

            &.right-hand-nav {
              padding-right: 0;
              padding-left: 0.4rem;
            }
          }

          span {
            font-size: 1.36rem;
          }

          .page-options {
            display: block !important;
            position: absolute;
            right: 3px;

            &.rotate {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    .active {
      font-weight: 700 !important;
      color: #fff !important;

      span {
        font-family: "Nunito-Black" !important;
      }

      .icon,
      .icon g,
      .page-options {
        fill: #fff !important;
      }
    }

    a {
      cursor: pointer;
    }

    & > ul {
      list-style: none;
      padding: 0;
      margin: 0;

      & > li {
        position: relative;
        overflow: hidden;

        & > a {
          text-align: center;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
          height: 6.8rem;
          position: relative;

          .icon,
          .icon g,
          .page-options {
            width: 20px;
            height: 20px;
            fill: rgba(255, 255, 255, 0.3);
          }

          .page-options {
            width: 30px;
            height: 30px;
          }

          span {
            display: block;
            font-size: 1.04rem;
            color: rgba(255, 255, 255, 0.8);
          }

          &:hover {
            .icon,
            .icon g,
            .page-options {
              fill: #fff !important;
            }

            span {
              color: #fff !important;
              font-family: "Nunito-Black" !important;
            }
          }

          .page-options {
            display: none;
          }
        }
      }
    }

    #page-nav {
      //height: calc(100% - 138px);
      width: 100%;
    }
  }

  .expanded .side-sidebar {
    width: calc(100% - 3.2rem);
    margin: 1.6rem;
  }

  .collapsed .side-sidebar {
    //display: none;
    visibility: hidden;

    &.show {
      //display: block;
      visibility: visible;
      position: fixed;
      left: calc(10.4rem + 2.5rem / 2);
      z-index: 2;
      top: 2px;

      -webkit-animation-name: growIn;
      animation-name: growIn;
      -webkit-animation-duration: 0.2s;
      animation-duration: 0.2s;
      -webkit-animation-timing-function: transform
          cubic-bezier(0.18, 1.25, 0.4, 1),
        opacity cubic-bezier(0, 1, 0.4, 1);
      animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
        opacity cubic-bezier(0, 1, 0.4, 1);
    }
  }

  .side-sidebar {
    padding: 0.5rem 0;
    min-width: 16rem;
    font-size: 0.85rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    background-color: #fff;
    border-radius: 0.35rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          padding: 0.8rem 1.6rem;
          margin: 0 0.8rem;
          display: block;
          color: #3a3b45;
          text-decoration: none;
          border-radius: 0.56rem;
          white-space: nowrap;
          font-size: 1.36rem;

          &:hover,
          .active-link {
            background-color: #eaecf4;
          }
        }
      }
    }
  }

  #navExpand {
    position: relative;

    &.right-hand-nav {
      rotate: 180deg;
    }

    & > div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: 4rem;
      height: 4rem;
      text-align: center;
      margin-bottom: 1rem;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      border: 0;
      padding: 1px 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }

      & > #navExpand-icon {
        fill: rgba(255, 255, 255, 0.5);
        width: 3rem;
        height: 3rem;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}

#site-banner {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $accent_color;
  z-index: 17;
  padding-left: 1rem;

  .banner-message {
    width: 100%;

    .icon {
      fill: #fff !important;
      width: 24px;
      height: 24px;
    }

    p {
      color: white;
      margin: 0;
    }

    .banner-dismiss {
      //align-self: flex-end;
    }
  }
}

#site-banner,
header {
  transition: width 0.15s ease, top 0.15s linear;
  width: calc(100% - 10.4rem);

  &.expanded {
    width: calc(100% - 22.4rem) !important;
  }

  &.hideNav {
    width: 100% !important;
  }
}

header {
  position: fixed;
  z-index: 16;
  top: 0;
  right: 0;
  background-color: #fff;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  height: 7rem;
  padding-left: 1.6rem;

  &.remove-header {
    visibility: hidden;
  }

  &.right-hand-nav {
    right: unset;
    left: 0;
  }

  .vertical-divider {
    width: 0;
    border-right: 1px solid #e3e6f0;
    height: calc(7rem - 3.2rem);
    margin: auto 1.6rem;
  }

  #mobile-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    &:hover {
      background-color: #eaecf4;
    }

    & > .icon {
      fill: $main_color;
    }
  }

  #menu-bar {
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
    }

    & > #user-modal {
      display: none;
    }

    &.small_search {
      & > #search-icon-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 0 1.2rem 0 0;
      }

      & > #search-wrapper {
        position: fixed;
        top: 8rem;
        left: 11.4rem;
        padding: 1.6rem;
        background-color: #fff;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
        border-radius: 0.56rem;
        width: calc(100% - 12.4rem);
        display: flex;
        justify-content: center;
        display: none;

        &.xsShowSearch {
          display: block;
          -webkit-animation-name: growIn;
          animation-name: growIn;
          -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
          -webkit-animation-timing-function: transform
              cubic-bezier(0.18, 1.25, 0.4, 1),
            opacity cubic-bezier(0, 1, 0.4, 1);
          animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
            opacity cubic-bezier(0, 1, 0.4, 1);
        }

        & > #search {
          padding: 0 !important;
        }
      }
    }
  }

  #search {
    padding-left: 1.6rem;
  }

  .icon-wrapper,
  #profile > #profile-info {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1.2rem 0 0;

    &.no-padding {
      padding: 0;
    }
  }

  .icon-wrapper {
    &:hover > .icon,
    .icon.active {
      fill: #b7b9cc;
    }
  }

  .icon {
    fill: #d1d3e2;
  }

  #profile {
    #profile-info {
      height: 100%;
    }

    & > #profile-info > p {
      color: #858796 !important;
      font-size: 80%;
      font-weight: 400;
      margin: 0 0.8rem 0 0;
      display: none;

      @media (min-width: $screen-size-xlg) {
        display: inline !important;
      }
    }

    #profile-picture,
    #profile-picture img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }
}

#login-link {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: 100%;
    height: 100%;
    color: $background_color !important;
    ///font-size: 80%;
    font-weight: 400;
    padding: 0 0.8rem;
    text-decoration: none;
    transition: 0.2s linear;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    &:hover {
      background-color: darken(white, 10%);
    }
  }
}

#content-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #f8f9fc;
  //width: calc(100% - 10.4rem);
  //transition: width 0.15s ease;

  padding-left: 10.4rem;
  //width: calc(100% - 10.4rem);
  //transition: width 0.15s ease;
  transition: padding 0.15s ease;

  &.right-hand-nav {
    padding-left: 0;
    padding-right: 10.4rem;
  }

  &.expanded {
    //width: calc(100% - 22.4rem) !important;
    padding-left: 22.4rem;

    &.right-hand-nav {
      padding-left: 0;
      padding-right: 22.4rem;
    }
  }

  &.hideNav {
    //width: 100% !important;
    padding-left: 0;
  }

  main {
    //padding here is equal to height of footer
    padding-top: 7rem;
    padding-bottom: 100vh; //calc(100vh + 1.6rem); //11.6rem;
    width: 100%;
    min-height: calc(100vh - 7rem);
    box-sizing: content-box;
    //min-height: 100%; TODO: confirm this does not mess up, this appears to be the culprit of the extra space at the bottom of pages
    position: relative;

    &.remove-header {
      padding-top: 0;
      //padding-bottom: calc(100vh + 1.6rem);
    }

    &.full-height {
      //padding-bottom: calc(
      //  100vh + 1.6rem + 7rem
      //); // 7rem is height of header when, the footer is usually this much shorter
      // needed to account for adding space at the bottom on mobile
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(100vh - 7rem);
    background-color: $accent_color;
    padding-top: 7rem;
    box-sizing: content-box;

    width: calc(100% - 10.4rem);

    &.expanded {
      width: calc(100% - 22.4rem);
    }

    &.hideNav {
      width: 100%;
    }

    &.full-height {
      height: 100vh;
      padding-top: 0;
    }

    @include flex-center;

    div {
      width: 100%;
      height: 100%;

      div {
        margin: 0 auto;
        padding: 2em 0;

        /*SCREEN SIZE:NARROW SCREEN*/
        width: 90%;
        height: 100%;

        /*SCREEN SIZE:WIDE SCREEN*/
        @media only screen and (min-width: $screen-size-xlg) {
          width: 70%;
          height: 70%;
          padding: 0;
        }

        /*SCREEN SIZE:EXTRA WIDE SCREEN*/
        @media only screen and (min-width: $screen-size-xxlg) {
          width: 50%;
          height: 70%;
          padding: 0;
        }

        /*SCREEN SIZE:ULTRA WIDE SCREEN*/
        @media only screen and (min-width: $screen-size-xxxlg) {
          width: 40%;
          height: 70%;
          padding: 0;
        }

        display: grid;
        grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
        grid-template-rows: repeat(5, calc(100% / 5)); //25% 25% 25% 25%;
        column-gap: 1rem;
        row-gap: 1rem;
        justify-items: center;

        h1 {
          color: white;
          grid-column-start: 1;
          grid-column-end: span 2;
          //grid-row-start: 1;
          font-size: 3.3em;
          text-align: center;
          width: calc(100% - 1rem);

          /*SCREEN SIZE:ULTRA WIDE SCREEN*/
          @media only screen and (max-width: $screen-size-sm) {
            font-size: 2.7em;
          }
        }

        img {
          max-width: 100%;
          max-height: 100%;
          align-self: center;
        }

        #nasarap,
        #encova {
          grid-column-start: 1;
          grid-column-end: span 2;
          //grid-row-start: 1;
        }
      }
    }
  }
}

#notification-modal,
#message-modal,
#user-modal {
  position: fixed;
  top: 8rem;
  left: 11.4rem;
  background-color: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  border-top-left-radius: 0.56rem;
  border-top-right-radius: 0.56rem;
  width: calc(100% - 12.4rem);
  display: none;

  @media (min-width: $screen-size-sm-lower-range) {
    width: 32rem !important;
    right: 1rem !important;
    left: unset !important;
  }

  & > h6 {
    background-color: $main_color;
    border: 1px solid $main_color;
    padding-top: 1.2rem;
    padding-left: 2.4rem;
    padding-bottom: 1.2rem;
    margin: 0;
    color: #fff;
    border-top-left-radius: 0.56rem;
    border-top-right-radius: 0.56rem;
  }

  & > #notification-list {
    & > .notification {
      padding: 0.8rem 2.4rem;
      display: flex;
      align-content: stretch;
      border-left: 1px solid #e3e6f0;
      border-right: 1px solid #e3e6f0;
      border-bottom: 1px solid #e3e6f0;
      position: relative;

      .notification-dismiss {
        position: absolute;
        top: 0;
        right: 0;
      }

      .notification-icon-wrapper {
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        & > .notification-icon {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          background-color: $accent_color;
          display: flex;
          justify-content: center;
          align-items: center;

          & > .icon {
            fill: #fff;
            width: 1.3rem;
          }
        }
      }

      .notification-content {
        width: calc(100% - 4rem);
        padding-left: 1.6rem;

        .notification-time {
          p {
            color: #b7b9cc !important;
            font-size: 80%;
            font-weight: 400;
            margin: 0;
          }
        }

        .notification-message {
          p {
            line-height: 1.3;
            font-size: 1.36rem;
            margin: 0;
          }
        }
      }
    }

    & > #notifications-view-all {
      border-left: 1px solid #e3e6f0;
      border-right: 1px solid #e3e6f0;
      border-bottom: 1px solid #e3e6f0;
      text-align: center;
      cursor: pointer;

      p {
        color: #b7b9cc !important;
        font-size: 80%;
        font-weight: 400;
        margin: 0;
        padding: 0.8rem 0;
      }
    }
  }
}

#user-modal {
  border-radius: 0.56rem;
  border: 1px solid #e3e6f0;
  padding: 0.8rem 0;

  @media (min-width: $screen-size-xs) {
    width: auto !important;
  }

  & > .profile-option {
    width: 100%;
    padding: 0.4rem 2.4rem;
    font-weight: 400;
    color: #3a3b45;
    display: flex;
    align-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: #2e2f37;
      text-decoration: none;
      background-color: #f8f9fc;
    }

    & div {
      display: inline-flex;
      align-content: center;
      align-items: center;
    }

    .icon {
      width: 1.5rem;
      margin-right: 0.8rem;
    }

    p,
    a {
      font-size: 1.36rem;
      color: #3a3b45;
      margin: 0;
      text-decoration: none;
    }
  }

  & > #user-profile-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #eaecf4;
  }
}

.full_width {
  left: 1rem !important;
  width: calc(100% - 2rem) !important;
}

.growInAnimation {
  display: block !important;
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
    opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1),
    opacity cubic-bezier(0, 1, 0.4, 1);
}

@-webkit-keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
