<app-button-ribbon>
    <app-modal [Title]="'Responses'" [ButtonType]="'main'" [ButtonText]="'Responses'">
        <app-button-ribbon>
            <app-button [ButtonType]="archiveInd === 'n' ? 'warning' : 'success'"
                (FunctionCallBack)="switchArchiveInd()">{{archiveInd === 'n' ?
                'Archived' : 'Active'}}</app-button>
            <app-button [ButtonType]="'main'" (FunctionCallBack)="exportResponses()">Export</app-button>
        </app-button-ribbon>

        <app-table [TableCols]="ResponsesCols" [TableData]="responses" (RecordClickCallBack)="openResponse($event)"
            [Width]="'100%'" [CursorPointer]="true" [ShowArchiveButton]="archiveInd === 'n'"
            (ArchiveRecordCallBack)="archiveResponse($event)" [ShowRemoveButton]="archiveInd === 'y'"
            (RemoveRecordCallBack)="deleteResponse($event)"></app-table>
    </app-modal>
</app-button-ribbon>

<app-question-admin-form [formType]="FormTyp"></app-question-admin-form>