@if (loading) {
<div class="loading">
  <app-loading [Loading]="loading" [Height]="'100%'"></app-loading>
</div>
}

@if (siteBanners.length > 0) {
<div #thisSiteBanners id="site-banner" class="flex flex-wrap align-items-center"
  [ngStyle]="{ height: siteBannerHeight }" [ngClass]="{
    expanded: navExpanded,
    hideNav: !showNav,
    'right-hand-nav': rightHandNav
  }">
  @for (sb of siteBanners; track sb) {
  <div class="banner-message flex align-items-center gap-1rem">
    <span class="icon mdi mdi-alert-outline"></span>
    <p [innerHTML]="sb.message"></p>
    <div class="banner-dismiss flex-grow-2 flex justify-content-flex-end">
      <app-button [ButtonType]="'dismiss'" [Color]="'white'" (FunctionCallBack)="dismissSiteBanner(sb)"></app-button>
    </div>
  </div>
  }
</div>
}

<div #thisWrapper id="wrapper" [ngClass]="{ expanded: navExpanded, hideNav: !showNav }">
  <!--navigation-->
  <nav [ngClass]="{
      expanded: navExpanded,
      hideNav: !showNav,
      'right-hand-nav': rightHandNav
    }">
    <!--site logo-->
    <div class="height" id="logo">
      <a routerLink="">
        <img src="/appIcons/BeanieBotWhite.svg" />
      </a>
    </div>

    <hr />

    <!--sidebar navigation links-->
    <div id="sidebar" [ngClass]="{
        expanded: navExpanded,
        collapsed: !navExpanded,
        size: !hideNavExpander
      }" appClickOutside (appClickOutside)="closeSubNav()">
      <!--Environment header-->
      @if (frontendEnv.length > 0) {
      <div id="environment">
        <p>
          {{ frontendEnv }}{{ backendEnv.length > 0 ? ":" : ""
          }}{{ backendEnv }}
        </p>
        <hr />
      </div>
      }

      <ul>
        @for (mi of applicationMenu; track mi) {
        <li id="{{ getNavPageID(mi.menu_name) }}" class="height" (click)="
            mi.menu_items.length > 0
              ? openSubNav(
                  getNavPageID(mi.menu_name),
                  getNavPageID(mi.menu_name) + '-1'
                )
              : closeSubNav(true)
          ">
          <!--menu item link-->
          <a [routerLink]="
              mi.routerlink && !mi.routerlink.includes('https')
                ? mi.routerlink
                : null
            " routerLinkActive="active" [ngClass]="{ 'right-hand-nav': rightHandNav }" (click)="
              mi.routerlink && mi.routerlink.includes('https')
                ? openURL(mi.routerlink)
                : null
            ">
            @if (mi.icon !== 'first') {
            <span [ngClass]="{ 'right-hand-nav': rightHandNav }" class="mdi icon mdi-{{ mi.icon }}"></span>
            }
            @if (mi.icon === 'first') {
            <span class="icon" [innerHTML]="iconFrc"></span>
            }
            <!--menu item name-->
            <p routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">
              {{
              !mi.menu_name_active_item
              ? mi.menu_name
              : mi.menu_name_active_item
              }}
            </p>
            <!--arrow icon for menu item with submenu items-->
            @if (mi.menu_items.length > 0) {
            <span [ngStyle]="{ color: 'white' }" class="mdi icon page-options mdi-menu-right" [ngClass]="{
                rotate: subNav === getNavPageID(mi.menu_name) + '-1'
              }"></span>
            }
          </a>
          <!--submenu items-->
          @if (mi.menu_items.length > 0) {
          <div id="{{ getNavPageID(mi.menu_name) + '-1' }}" class="side-sidebar"
            [ngClass]="{ show: subNav === getNavPageID(mi.menu_name) + '-1' }">
            @if (mi.menu_header) {
            <span class="header">{{
              mi.menu_header
              }}</span>
            }
            <ul>
              @for (mii of mi.menu_items; track mii) {
              <li>
                @if (
                !pagesWithNavigation.includes(mii.menu_name.toLowerCase())
                ) {
                <a [routerLink]="mii.routerlink ? mii.routerlink : null" routerLinkActive="active-link"
                  (click)="setActiveMenuSubmenuAndItem(mi, mii, mii.routerlink)">
                  {{ mii.menu_name }}
                </a>
                }
                @if (
                pagesWithNavigation.includes(mii.menu_name.toLowerCase())
                ) {
                <a (click)="setActiveMenuSubmenuAndItem(mi, mii, mii.routerlink)">
                  {{ mii.menu_name }}
                </a>
                }
              </li>
              }
            </ul>
          </div>
          }
        </li>
        }
      </ul>

      <hr [ngClass]="{
          darker: pagesWithNavigation.includes(getActiveMenuItemName())
        }" />

      <div id="page-nav">
        @if (pagesWithNavigation.includes(getActiveMenuItemName())) {
        <app-sub-navigation [setNavExpanded]="navExpanded" [hideNavExpander]="hideNavExpander">
        </app-sub-navigation>
        }
      </div>

      @if (pagesWithNavigation.includes(getActiveMenuItemName())) {
      <hr />
      }

      <div id="social-icons" class="flex flex-wrap gap-1rem justify-content-space-around"
        [ngClass]="{ expanded: navExpanded, collapsed: !navExpanded }">
        <a target="_blank" href="https://www.facebook.com/team3492">
          <span class="mdi icon mdi-facebook"></span>
        </a>
        <a target="_blank" href="https://www.instagram.com/parts3492">
          <span class="mdi icon mdi-instagram"></span>
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCIq35DtgjUsKJB3blFbSXrQ">
          <span class="mdi icon mdi-youtube"></span>
        </a>
        <a target="_blank" href="https://wiki.parts3492.org/">
          <span class="icon" [innerHTML]="iconBookStack"></span>
        </a>
        <a target="_blank" href="https://github.com/3492PARTs">
          <span class="icon" [innerHTML]="iconGitHub"></span>
        </a>
      </div>
    </div>

    <!--wide screen nav expander-->
    <div id="navExpand" class="height" [ngClass]="{ hide: hideNavExpander, 'right-hand-nav': rightHandNav }">
      <div (click)="toggleForceNavExpanded()">
        <span id="navExpand-icon" [ngClass]="{ rotate: navExpanded }" class="mdi mdi-menu-right"></span>
      </div>
    </div>
  </nav>

  <!--site header-->
  <header #thisHeader id="site-header" [ngClass]="{
      expanded: navExpanded,
      hideNav: !showNav,
      'right-hand-nav': rightHandNav,
      'remove-header': removeHeader
    }" [ngStyle]="{
      height: siteHeaderHeight + 'rem',
      'margin-top': siteBannerHeight
    }">
    <!--narrow screen nav expander-->
    @if (hideNavExpander) {
    <div id="mobile-menu" (click)="toggleShowNav()">
      <span class="mdi mdi-menu icon"></span>
    </div>
    }

    <!--app menu bar-->
    <div id="menu-bar" [ngClass]="{ small_search: screenXs }">
      <!--search, not in use, disabled-->
      @if (screenXs) {
      <div id="search-icon-wrapper">
        @if (false) {
        <span class="mdi mdi-magnify icon" id="search-icon" (click)="xsToggleSearch()" appClickOutside
          (appClickOutside)="xsShowSearch = false"></span>
        }
      </div>
      }

      <div id="search-wrapper" [ngClass]="{ xsShowSearch: xsShowSearch, full_width: !showNav }">
        @if (false) {
        <app-form-element [Width]="'100%'" id="search" [Type]="'search'" [Placeholder]="'Search for...'">
        </app-form-element>
        }
      </div>

      <!--user information/notifications/messages-->
      @if (user && user.id) {
      <div id="user-center-wrapper" appClickOutside (appClickOutside)="hideNotificationModal()">
        <!--notifications-->
        <div class="icon-wrapper">
          <span class="mdi mdi-{{
              notifications.length <= 0 ? 'bell' : 'bell-ring'
            }} icon" [ngClass]="{ active: notifications.length > 0 }" (click)="showNotificationModal()"></span>
        </div>
        <div id="notification-modal" [ngClass]="{
            full_width: !showNav,
            growInAnimation: showNotificationModalVisible
          }">
          <h6>Notification Center</h6>
          <div id="notification-list">
            @for (n of notifications; track n) {
            <div class="notification">
              <div class="notification-dismiss">
                <app-button [ButtonType]="'dismiss'" (click)="dismissNotification(n)"></app-button>
              </div>
              <div class="notification-icon-wrapper">
                <div class="notification-icon">
                  <span class="mdi mdi-bell icon"></span>
                </div>
              </div>
              <div class="notification-content">
                <div class="notification-time">
                  <p>{{ n.staged_time | dateToStr : true : true }}</p>
                </div>
                <div class="notification-message">
                  <p>{{ n.subject }}</p>
                  <p [innerHTML]="n.body"></p>
                  @if (n.url) {
                  <a [href]="n.url" target="_blank">Link</a>
                  }
                </div>
              </div>
            </div>
            }
            <div id="notifications-view-all" routerLink="user/profile" [queryParams]="{ tab: 'Notifications' }"
              (click)="hideNotificationModal()">
              <p>View All Notifications</p>
            </div>
          </div>
        </div>
        <!--messages-->
        <div class="icon-wrapper no-padding" appClickOutside (appClickOutside)="hideMessageModal()">
          <span [ngClass]="{ active: messages.length > 0 }" class="mdi mdi-{{
              messages.length <= 0 ? 'email' : 'email-open'
            }} icon" (click)="showMessageModal()"></span>
          <div id="message-modal" [ngClass]="{
              full_width: !showNav,
              growInAnimation: showMessageModalVisible
            }">
            <h6>Message Center</h6>
            <div id="notification-list">
              @for (m of messages; track m) {
              <div class="notification">
                <div class="notification-icon-wrapper">
                  <div class="notification-icon">
                    <span class="mdi mdi-bell icon"></span>
                  </div>
                </div>
                <div class="notification-content">
                  <div class="notification-message">
                    <p>{{ m.subject }}</p>
                    <p [innerHTML]="m.body"></p>
                  </div>
                  <div class="notification-time">
                    <p>
                      Person &middot;
                      {{ m.staged_time | dateToStr : true : true }}
                    </p>
                  </div>
                </div>
              </div>
              }
              <div id="notifications-view-all" routerLink="user/profile" [queryParams]="{ tab: 'Messages' }"
                (click)="hideMessageModal()">
                <p>View All Messages</p>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-divider"></div>
        <!--user profile-->
        <div id="profile" appClickOutside (appClickOutside)="hideUserModal()">
          <div id="profile-info" (click)="showUserModal()">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <div id="profile-picture">
              <img [src]="
                  !Utils.strNoE(user.image)
                    ? user.image
                    : '/appIcons/icon-72x72.png'
                " />
            </div>
          </div>
          @if (user && user.id) {
          <div id="user-modal" [ngClass]="{
              full_width: !showNav,
              growInAnimation: showUserModalVisible
            }">
            <div class="profile-option">
              <div>
                <span class="mdi mdi-human-greeting icon"></span>
              </div>
              <div>
                <a routerLink="user/profile" (click)="hideUserModal()">Profile</a>
              </div>
            </div>
            <div class="profile-option" routerLink="user/profile" [queryParams]="{ tab: 'General' }"
              (click)="hideUserModal()">
              <div>
                <span class="mdi mdi-cogs icon"></span>
              </div>
              <div>
                <p>Settings</p>
              </div>
            </div>
            <div id="user-profile-divider"></div>
            <div class="profile-option" id="logout" (click)="logOut(); hideUserModal()">
              <div>
                <span class="mdi mdi-logout icon"></span>
              </div>
              <div>
                <p>Logout</p>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      } @else {
      <div id="login-link">
        <a routerLink="login">Log In</a>
      </div>
      }
      <!--this shows if the user center does not-->
    </div>
  </header>

  <div id="content-wrapper" [ngClass]="{
      expanded: navExpanded,
      hideNav: !showNav,
      'right-hand-nav': rightHandNav
    }" (appClickInside)="closeNavOnMobile()">
    <!--main page content-->
    <main #thisMain [ngClass]="{
        expanded: navExpanded,
        hideNav: !showNav,
        'remove-header': removeHeader,
        'full-height': hideNavExpander || removeHeader,
        xsm: screenXs
      }">
      @if (siteBanners.length > 0) {
      <div [ngStyle]="{ width: '100%', height: siteBannerHeight }"></div>
      }
      <ng-content> </ng-content>
    </main>

    <!--site footer-->
    <footer #thisFooter [ngClass]="{
        expanded: navExpanded,
        hideNav: !showNav,
        'full-height': hideNavExpander || removeHeader
      }">
      <div class="flex align-items-center">
        <div>
          <h1>OUR PARTners</h1>
          <!--https://svgsprit.es/-->
          <svg class="icon" id="toyota">
            <use xlink:href="sponsor-sprites.svg#Toyota"></use>
          </svg>

          <svg class="icon" id="aep">
            <use xlink:href="sponsor-sprites.svg#AEP"></use>
          </svg>

          <svg class="icon" id="putnamCoSchools">
            <use xlink:href="sponsor-sprites.svg#PutnamCoSchools"></use>
          </svg>

          <svg class="icon" id="optimum">
            <use xlink:href="sponsor-sprites.svg#Optimum"></use>
          </svg>

          <svg class="icon" id="encovaFoundation">
            <use xlink:href="sponsor-sprites.svg#EncovaFoundation"></use>
          </svg>

          <svg class="icon" id="dow">
            <use xlink:href="sponsor-sprites.svg#dow"></use>
          </svg>

          <svg class="icon" id="ghf">
            <use xlink:href="sponsor-sprites.svg#GHF"></use>
          </svg>

          <svg class="icon" id="wvSpaceGrantConsortium">
            <use xlink:href="sponsor-sprites.svg#WVSpaceGrantConsortium"></use>
          </svg>

          <svg class="icon" id="villageSampler">
            <use xlink:href="sponsor-sprites.svg#village_sampler"></use>
          </svg>

          <svg class="icon" id="hopeGas">
            <use xlink:href="sponsor-sprites.svg#hope_gas"></use>
          </svg>

          <svg class="icon" id="tcEnergy">
            <use xlink:href="sponsor-sprites.svg#TcEnergy"></use>
          </svg>

          <svg class="icon" id="nasarap">
            <use xlink:href="sponsor-sprites.svg#NASARAP"></use>
          </svg>
        </div>
      </div>
    </footer>
  </div>
</div>