<ng-template #content>
  <ng-content></ng-content>
</ng-template>

@switch (h) {
  @case (1) {
    <h1
      [ngClass]="{'text-align-center': centered, 'underlined': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h1>
  }
  @case (2) {
    <h2
      [ngClass]="{'text-align-center': centered, 'underlined-teal': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h2>
  }
  @case (3) {
    <h3
      [ngClass]="{'text-align-center': centered, 'underlined-teal': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h3>
  }
  @case (4) {
    <h4
      [ngClass]="{'text-align-center': centered, 'underlined-teal': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h4>
  }
  @case (5) {
    <h5
      [ngClass]="{'text-align-center': centered, 'underlined-teal': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h5>
  }
  @case (6) {
    <h6
      [ngClass]="{'text-align-center': centered, 'underlined-teal': underlined, 'no-margin-bottom': !marginBottom, 'no-margin-top': !marginTop}"
      [ngStyle]="{'width': Width, 'color': Color}">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </h6>
  }
}
